<div class="panel-header panel-header-lg">
  </div>
   <div class="row topNavFix" style="margin:0;padding-top:10px; padding-bottom:10px;   background-color: #F5F5F5!important;position: fixed;
    width: 100%;
      ">
        <div >
                <a class="pr-2 py-2 mt-2"  [routerLink]="['/home']" style="color: black;padding-left:0.8rem;"><i class="fa fa-home text-danger" style="margin-right:1rem"></i> Home </a>
        </div>
        <div >
                <a class="px-2 py-2 mt-2"  style="color: rgba(0, 0, 0, .5);">Settings</a>
            </div>
            <div >
                    <a class="px-2 py-2 mt-2 text-danger" >Change MPIN/Password</a>
                </div>
    </div> 
  <div class="main-content">
          <div *ngIf="config==true" class="row">
              <div class="col-12">
                <div class="card card-chart">
                  <div class="card-header">
                    <!-- <h5 class="card-category">Home</h5> -->
                  
                 
                    <div *ngIf="mpinScreen==true" class=" ">
                       
                      <div class="row">
                          <div class="pl-5 col-sm-12 mb-3 pb-2 ml-2">
                              <label class="col-sm-4 col-xs-12"></label>  <input title=" " checked type="radio" name="pintype" value="IPIN" (change)="pintypeChange($event)"> Password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <input title=" " type="radio" name="pintype" value="TPIN" (change)="pintypeChange($event)"> MPIN
                            
                          </div>
                            <div *ngIf="pin=='IPIN'" class="pl-5 col-sm-12 mb-3 pb-2">
                                    <label class="col-sm-4 col-xs-12">Enter Old Password</label> <input title=" " type="password" 
                                     class="col-sm-4 col-xs-8 PassTxtBox" required 
                                     [(ngModel)]="configurationForm.oldMpin" #oldMpin="ngModel">
                                    <span *ngIf="oldMpin.invalid && (oldMpin.dirty || oldMpin.touched)" class="text-primary mx-3">
                
                                        <span *ngIf="oldMpin.errors.required">
                                           Old Password is required.
                                        </span>
                                      
                                    
                                    </span>
                                </div>
                        <div *ngIf="pin=='IPIN'" class="pl-5 col-sm-12 mb-3 pb-2">
                           
                            <label class="col-sm-4 col-xs-12">Enter New Password</label> <input title=" " type="password" 
                                class="col-sm-4 col-xs-8 PassTxtBox" required  [(ngModel)]="configurationForm.mpin" #mpin="ngModel">
                                <span *ngIf="mpin.invalid && (mpin.dirty || mpin.touched)" class="text-primary mx-3">
                            
                                        <span *ngIf="mpin.errors.required">
                                         New Password is required.
                                        </span>
                                        
                                    
                                    </span>
                               
                        </div>
                            <div *ngIf="pin=='IPIN'" class="pl-5 col-sm-12 mb-3 pb-2">
                                <label class="col-sm-4 col-xs-12">Confirm New Password</label> <input title=" " type="password"
                                 class="col-sm-4 col-xs-8 PassTxtBox" required 
                                 [(ngModel)]="configurationForm.newPin" #newPin="ngModel">
                                <span *ngIf="newPin.invalid && (newPin.dirty || newPin.touched)" class="text-primary mx-3">
                
                                    <span *ngIf="newPin.errors.required">
                                      Confirm Password is required.
                                    </span>
                                   
                                </span>
                            </div>
                            <div *ngIf="pin=='TPIN'" class="pl-5 col-sm-12 mb-3 pb-2">
                              <label class="col-sm-4 col-xs-12">Enter Old MPIN</label> <input title=" " type="password" id="oldMpin"
                               class="col-sm-4 col-xs-8 PassTxtBox" required 
                               [(ngModel)]="configurationForm.oldMpin" #oldMpin="ngModel">
                              <span *ngIf="oldMpin.invalid && (oldMpin.dirty || oldMpin.touched)" class="text-primary mx-3">
          
                                  <span *ngIf="oldMpin.errors.required">
                                     Old MPIN is required.
                                  </span>
                                
                              
                              </span>
                          </div>
                  <div *ngIf="pin=='TPIN'" class="pl-5 col-sm-12 mb-3 pb-2">
                      <label class="col-sm-4 col-xs-12">Enter New MPIN</label> <input title=" " type="password" id="mpin"
                          class="col-sm-4 col-xs-8 PassTxtBox" required [(ngModel)]="configurationForm.mpin" #mpin="ngModel">
                          <span *ngIf="mpin.invalid && (mpin.dirty || mpin.touched)" class="text-primary mx-3">
          
                                  <span *ngIf="mpin.errors.required">
                                   New MPIN is required.
                                  </span>
                                  
                              
                              </span>
                  </div>
                      <div *ngIf="pin=='TPIN'" class="pl-5 col-sm-12 mb-3 pb-2">
                          <label class="col-sm-4 col-xs-12">Confirm New MPIN</label> <input title=" " type="password" id="newPin"
                           class="col-sm-4 col-xs-8 PassTxtBox" required 
                           [(ngModel)]="configurationForm.newPin" #newPin="ngModel">
                          <span *ngIf="newPin.invalid && (newPin.dirty || newPin.touched)" class="text-primary mx-3">
          
                              <span *ngIf="newPin.errors.required">
                                Confirm New MPIN is required.
                              </span>
                             
                          </span>
                      </div>
                      </div>
                      
                     
                        <div class="col-12 mb-3 pb-3">
                            <div class="col-sm-8 pl-5 text-right submit-margin" style="margin-left: 1.7rem;">      <button class="proceed mx-2 submit-margin" (click)="screen3Show();"><b>SUBMIT</b></button>

                            </div>
                                           </div>
                        
                    </div>
            
                    </div>
                </div>
              </div>
      </div>
  
     
        
          <div *ngIf="screen3==true" class="mb-3 ">
  
              <!-- <div class="row text-center">
                    <div class="card mx-2 col-sm-6 offset-sm-3 mt-3 pt-2" style="background-color: whitesmoke">
                            <div class="card-header text-center pt-3" style="border-bottom: 1px solid gray;"><b class="mb-3">Confirmation Of Change Mpin</b></div>
                         
                           <div class="col-12 text-center mb-3">
                                  <button class="cancel mx-2" (click)="cancel();">Close</button>
                              </div>
                           </div>
              </div> -->
              <div class="box-design mb-3 pb-3">
                    <div class="card-body border_box col-sm-8 ">
                        <strong class="text-center text-primary">CONFIRMATION OF CHANGE <span *ngIf="pin=='TPIN'">MPIN</span> <span *ngIf="pin=='IPIN'">PASSWORD</span></strong>
                        <p>Your <span *ngIf="pin=='TPIN'">MPIN</span> <span *ngIf="pin=='IPIN'">Password</span> is Successfully changed for Username : {{username}} on {{changeDate[0]}} at {{changeDate[1]}}.</p>
                        
                        <br/>
                        <div class="text-center">
                                <button class="cancel mx-2" (click)="cancel();">CLOSE</button>
                              </div>             
                    </div>
                   
                    </div>
              <br>
              <br><br><br>
          </div>
  
       
      </div>