<div class="panel-header panel-header-lg">
  </div>
   <div class="row topNavFix" style="margin:0;padding-top:10px; padding-bottom:10px;   background-color: #F5F5F5!important;position: fixed;
    width: 100%;
      ">
    <div >
            <a class="pr-2 py-2 mt-2" [routerLink]="['/home']" style="color: black;padding-left:0.8rem;"><i class="fa fa-home text-danger" style="margin-right:1rem"></i> Home </a>
    </div>
    <div >
            <a class="pr-2 py-2 mt-2"  style="color: rgba(0, 0, 0, .5);">Configuration</a>
        </div>
        <div >
                <a class="px-2 py-2 mt-2 text-danger" >Change Language</a>
            </div>
</div> 
  <div class="main-content">
          <div *ngIf="config==true" class="row">
              <div *ngIf="languageScreen==true"  class="col-12">
                <div class="card card-chart">
                  <div class="card-header">
                    <!-- <h5 class="card-category">Home</h5> -->
                    
                  
                    <div class=" row mb-3">
                        <!-- <div class="col-12 text-center mb-3"><h5 class="text-center">Change Language</h5></div>
                        <br> -->
                        <br>
                        <div class="col-sm-12 mb-2 pb-2">
                                <label class="col-sm-3 col-xs-12">Language</label> <select *ngIf="language.languagecount>1" class="col-sm-3 col-xs-8" [(ngModel)]="configurationForm.lang">
                                    <option *ngFor="let lang of language.language" [value]="lang.langcode">{{lang.langdesc}}</option>
                                    <!-- <option value="AR">Arabic</option> -->
                                </select>
                                <select *ngIf="language.languagecount==1" class="col-sm-3 col-xs-8" [(ngModel)]="configurationForm.lang">
                                    <option [value]="language.language.langcode">{{language.language.langdesc}}</option>
                                    <!-- <option value="AR">Arabic</option> -->
                                </select>
                            </div>
                            <div class="col-sm-12 mb-1 pb-2">
                                    <label class="col-sm-3 col-xs-12">Mpin</label> <input title=" " type="password" id="mpin"
                                     class="col-sm-3 col-xs-8" required 
                                     [(ngModel)]="configurationForm.mpin" #mpin="ngModel">
                                    <span *ngIf="mpin.invalid && (mpin.dirty || mpin.touched)" class="text-primary mx-3">
                
                                        <span *ngIf="mpin.errors.required">
                                           mpin is required.
                                        </span>
                                      
                                    
                                    </span>
                                </div>
                    <br>
                    <br>
                    <div class="col-12 mb-3 pb-3">
                        <div class="col-sm-8 pl-5 text-right submit-margin" style="margin-left: 1.3rem;">    
                            <button class="proceed mx-2" (click)="screen3Show();"><b>SUBMIT</b></button>
                   
                        </div>
                                       </div>
                    
                </div>
            
                    </div>
                </div>
              </div>
      </div>
  
      
        
    
  
          <div *ngIf="screen4==true" class="row mb-3 text-center" style="margin-right: auto;margin-left: auto;">
  
                  <!-- <div class="mx-2">
                      <div class=" text-center"><h4>Confirmation</h4></div>
                      <div class="card-body text-center">
                          <p>Language Changed Successfully</p>
                      </div>
                     </div> -->
                     <div class="card mx-auto col-sm-6 Review-card" >
                        <div class="card-header text-center"><h5 class="Review-card-header">CONFIRMATION </h5></div>
                        <div class="card-body text-center">
                            <p class="confirm-para">Language Changed Successfully</p>
                           
              
                            <br>
                            <div class="row text-center mb-1 pb-2">
                                    <div class="col-12"><button class="cancel mx-2" (click)="cancel();">CLOSE</button></div>
                                </div>
                        </div>
                       </div>
                  
              </div>
      </div>