<div class="panel-header panel-header-lg">
</div>
 <div #target class="row topNavFix" style="margin:0;padding-top:10px; padding-bottom:10px;   background-color: #F5F5F5!important;position: fixed;
    width: 100%;
      ">
        <div >
                <a class="pr-2 py-2 mt-2"  [routerLink]="['/home']" style="color: black;padding-left:0.8rem;"><i class="fa fa-home text-danger" style="margin-right:1rem"></i> Home </a>
        </div>
        <div >
                <a class="px-2 py-2 mt-2"  style=" color: rgba(0, 0, 0, .5);">Recharge</a>
            </div>
            <div >
                    <a class="px-2 py-2 mt-2 text-danger" >E-Recharge</a>
                </div>
    </div> 
<div class="main-content">
        
    <div class="row">
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-header">
                    <!-- <h5 class="card-category">Home</h5> -->
                    
                    <div *ngIf="screen1==true" class="row mb-3">
                           <div class="col-12">
                              
                         
                           </div>
                        <!-- <div class="col-sm-6 mb-3 pb-2">
                            <label class="col-sm-4 col-xs-12">Type</label> <select class="col-sm-5 col-xs-8" #type>
                                <option value="01">E-Recharge</option>
                               <option value="02">E-Voucher</option>
                            </select>
                        </div> -->
                        <div class="col-sm-12 pl-5 mb-3 pb-2 pt-3">
                            <label class="col-sm-4 col-xs-12">Alfa Mobile Number</label> <input title=" " type="text" (change)="checkmsisdnFieldLength(this);" ng-maxlength="8" min="0" id="phone"
                             class="col-sm-4 col-xs-8"  required 
                             [(ngModel)]="topupForm.phone" #phone="ngModel">
                             
                                <span *ngIf="phone.invalid && (phone.dirty || phone.touched) && msisdnError!=true" class="px-3">

                                    <span *ngIf="phone.errors.required" class="text-primary">
                                        Alfa Mobile Number is required.
                                    </span>
                                    <span *ngIf="phone.errors.minlength">
                                        Alfa Mobile Number must be at least 10 characters long.
                                    </span>
                                
                                </span>
                                <span *ngIf="msisdnError==true" class="text-primary mx-3">
        
                                    <span>
                                       {{msisdnErrorText}}
                                    </span>
                                  
                                
                                </span>
                        
                           
                        
                        </div>
                        <div class="col-sm-12 pl-5 mb-3 pb-2">
                            <label class="col-sm-4 col-xs-12">E-Recharge Type</label> <select  class="col-sm-4 col-xs-8" (change)="onChangeoperatorEvent($event)">
                                <option value="">Select</option>
                                <option *ngFor="let bill of biller;" [value]="bill.billercode">{{bill.billerdesc}}</option>
                                
                            </select>
                        </div>
                        <!-- <div class="col-sm-12 pl-5 mb-3 pb-2">
                            <label class="col-sm-4 col-xs-12">Recharge Amount</label> <select *ngIf="productCount>1" [(ngModel)]="productcode" class="col-sm-4 col-xs-8" (change)="onChangeamountEvent($event)">
                                <option *ngFor="let prod of products;" [value]="prod.productcode">${{prod.totalamount}}</option>
                                
                            </select>
                            <select *ngIf="productCount==1" class="col-sm-4 col-xs-8" [(ngModel)]="productcode" (change)="onChangeamountEvent($event)">
                                <option [value]="products.productcode">${{products.totalamount}}</option>
                                
                            </select>
                            <select *ngIf="productCount==undefined" class="col-sm-4 col-xs-8" >
                                <option >Select operator first</option>
                                
                            </select>
                        </div> -->
                       
                        <div *ngIf="productCount" class="col-12 scroll">
                            <br>
                             <div class="col-12 pl-5"><label style="font-size: 1em;
                                 margin-bottom: 16px;
                                 color: #858796;">Select Recharge Amount</label></div>
                         <div *ngIf="productCount>1" class="row pl-5 equal">
                            
                             <div *ngFor="let prod of products;" class="col-xl-3 col-sm-4 col-sm-6 col-xs-100 text-center  mb-3 px-2">
                                 <div class="box_border">
                                     <h2 class="price mb-0" ><span>$&nbsp;</span><span *ngIf="prod.pricewithoutvat[0]">{{prod.pricewithoutvat[0]}}<span style="font-size: 29px;" *ngIf="prod.pricewithoutvat[1]">.{{prod.pricewithoutvat[1]}}</span></span><span *ngIf="!prod.pricewithoutvat[0]">{{prod.pricewithoutvat}}</span></h2>
                                     <ul *ngIf="prod.productdesc" class="list_style" >
                                        <li *ngFor="let prdesc of prod.productdesc">
                                            <span class="vouchDesc">{{prdesc[0]}} :</span>
                                            {{prdesc[1]}}</li>
                                        
                                        <!-- <li *ngIf="prod.productdesc[1]"><span class="vouchDesc">U-Chat: </span>
                                            {{prod.productdesc[1]}}</li>
                                        
                                        <li *ngIf="prod.productdesc[2]"><span class="vouchDesc">Alfa2Alfa: </span>
                                            {{prod.productdesc[2]}}</li>
                                        
                                        <li *ngIf="prod.productdesc[3]"><span class="vouchDesc">Waffer:</span>
                                            {{prod.productdesc[3]}}</li> -->
                                    </ul>
                                    <ul *ngIf="prod.productdesc==undefined" class="list_style" >
                                        
                                    </ul>
                                     
                                     <a class="btn btn-warning border-radius-0 pl-4 pr-4" (click)="screen2Show(prod.amount,prod.totalamount,prod.productcode,prod.taxcount,prod.taxtypes);scrollToTop();">
                                 <span class="text" style="color:white;    font-weight: bolder;
                                 font-size: 1rem;"><strong>RECHARGE</strong></span>
                               </a>
                                 </div>
                             </div>
                             </div>
 
                             <div *ngIf="productCount==1" class="row pl-5 equal">
                                 <div class="col-xl-3 col-sm-4 col-sm-6 col-xs-100 text-center  mb-3 px-2">
                                     <div class="box_border">
                                         <h2 class="price mb-0" ><span>$&nbsp;</span><span *ngIf="products.pricewithoutvat[0]">{{products.pricewithoutvat[0]}}<span style="font-size: 29px;" *ngIf="products.pricewithoutvat[1]">.{{products.pricewithoutvat[1]}}</span></span><span *ngIf="!products.pricewithoutvat[0]">{{products.pricewithoutvat}}</span></h2>
                                         <ul *ngIf="products.productdesc" class="list_style" >
                                            <li *ngFor="let prdesc of products.productdesc">
                                                <span class="vouchDesc">{{prdesc[0]}} :</span>
                                                {{prdesc[1]}}</li>
                                            
                                            <!-- <li *ngIf="products.productdesc[1]"><span class="vouchDesc">U-Chat: </span>
                                                {{products.productdesc[1]}}</li>
                                            
                                            <li *ngIf="products.productdesc[2]"><span class="vouchDesc">Alfa2Alfa: </span>
                                                {{products.productdesc[2]}}</li>
                                            
                                            <li *ngIf="products.productdesc[3]"><span class="vouchDesc">Waffer:</span>
                                                {{products.productdesc[3]}}</li> -->
                                        </ul>
                                        <ul *ngIf="products.productdesc==undefined" class="list_style" >
                                           
                                        </ul>
                                         <a class="btn btn-warning border-radius-0 pl-4 pr-4" (click)="screen2Show(products.amount,products.totalamount,products.productcode,products.taxcount,products.taxtypes);scrollToTop();">
                                     <span class="text" style="color:white;   font-weight: bolder;
                                     font-size: 1rem;"><strong>RECHARGE</strong></span>
                                   </a>
                                     </div>
                                 </div>
                                 </div>
                                 
                        </div>
                        <br>
                        <br>
                        
                        <!-- <div class="col-12 mb-3 pb-3">
         <div class="col-sm-6 pl-5 text-right submit-margin" style="margin-left: 1.5rem;"><button class="proceed mx-2" (click)="screen2Show();"><b>SUBMIT</b></button></div>
                        </div> -->
                    </div>

                    <div id="scroll" *ngIf="screen2==true" class="row mb-3 text-center">
                        <div class="card col-sm-4 " class="Review-card text-center">
                            <div class="card-header border_box Review-card-header" style="margin-top:0;"><h3>REVIEW OF E-RECHARGE</h3></div>
                         
                                   
                                <p>To Alfa Mobile Number : {{topupForm.phone}}</p>
                                
                                <p>Amount : ${{pricewithoutvat}}</p>
                                <p>E-Recharge Type : {{operator}}</p>
                                <p>Price without VAT : ${{pricewithoutvat}}</p>
                                <p *ngIf="Vat">VAT({{Vat}}%) : ${{reviewVat}}</p>
                                
                                <p *ngIf="fiscalStamp">Fiscal Stamp : ${{fiscalStamp}}</p>
                                <p>Total Amount(all taxes included) : ${{totalamt}}</p>
                                <br>
                      
                                <div class="row text-center mb-3 pb-3">
                                    <div class="col-sm-12"><button class="cancel mx-2"
                                        (click)="cancel();">CANCEL</button><button class="proceed mx-2" [disabled]="clicked" (click)="screen3Show(content);clicked = true;">CONFIRM</button></div>
                                    
                                </div>
                                                          
                                                        
                        </div>
                        
                       
                       
                    </div>
                    <div *ngIf="screen3==true" class="row mb-3">
                        <div id="print-section" *ngIf="agenttype=='Direct'" class="card   mb-1 prints" style="border: 1px solid gray;padding: 25px;padding-top:20px;max-width: 400px;margin: auto;">
                             
                            <!-- <h4 class="text-center mx-3">Receipt of Recharge</h4> -->
                           <div class="text-center"> <img class="mb-2" src="./assets/img/alfawhite-logo.png" style="height: 100px;border: 1px solid lightgray;border-radius: 15px;"></div>
                           <p style="color: gray"><span class="ml-5">{{topupResult.estel.response.responsects[0]}}</span> <span style="float: right;" class="mr-5">{{topupResult.estel.response.responsects[1]}}</span></p>
                           <h6 class="mb-2">MIC 1 for account of ROL</h6>
                           
                            <p>VAT NUMBER - {{topupResult.estel.response.vat}}</p>
                            <p>RECEIPT NUMBER - {{topupResult.estel.response.recipientnumber}}</p>
                            <p>TRANSACTION ID - {{topupResult.estel.response.transid}}</p>
                            <p>SERVICE NUMBER - {{topupResult.estel.response.agentcode}}</p>
                            <p class="pb-1">AGENT NAME - {{topupResult.estel.response.agentname}}</p>
                            
                            <p style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;border-top: 1px solid;margin-top: 5px !important;padding-top: 5px !important;">AMOUNT  RECEIVED (VAT excluded) </p>
                            <p style="margin-top:0px !important;">${{topupResult.estel.response.amount}}</p>
                            <p style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">VAT ({{Vat}}%)</p>
                            <p style="margin-top:0px !important;">${{respVat}}</p>
                            <p *ngIf="fiscalStamp" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">FISCAL STAMP (Law 64)</p>
                            <p *ngIf="fiscalStamp" style="margin-top:0px !important;">${{fiscalStamp}}</p>
                            <p style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">TOTAL AMOUNT (All Taxes Included)</p>
                           
                            <p style="margin-top:0px !important;">${{topupResult.estel.response.totalamount}}</p>
                            <p style="margin-top:0px !important;">{{totalamountwords}} <span style="float: right;color:black;">Stamp Duty Paid</span></p>
                            <!-- <p>Serial Number - 56789</p>
                            <p>Card Expiry Date - 10//03/2020 </p>
                            <p style="color: gray">To Recharge your line dial</p>
                            <p style="color: gray">*14* Alfa recharge code then # and OK </p> -->
                            
                            <!-- <div class="col-12 text-center   pb-3"><button class="cancel  mx-2"
                                (click)="cancel();">Close</button> <button class="proceed ml-5 mx-2"
                                (click)="print();">Print</button>
                            </div> -->
                        </div>

                        <div id="print-section" *ngIf="agenttype=='Indirect'" class="card   mb-1 prints" style="border: 1px solid gray;padding: 25px;padding-top:20px;max-width: 400px;margin: auto;">
                             
                            <!-- <h4 class="text-center mx-3">Receipt of Recharge</h4> -->
                           <div class="text-center"> <img class="mb-2" src="./assets/img/alfawhite-logo.png" style="height: 100px;border: 1px solid lightgray;border-radius: 15px;"></div>
                           <p style="color: gray"><span class="ml-5">{{topupResult.estel.response.responsects[0]}}</span> <span style="float: right;" class="mr-5">{{topupResult.estel.response.responsects[1]}}</span></p>
                           <p>TRANSACTION ID - {{topupResult.estel.response.transid}}</p>
                            
                            <p style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;border-top: 1px solid;margin-top: 5px !important;padding-top: 5px !important;">AMOUNT  RECEIVED (VAT excluded) </p>
                            <p style="margin-top:0px !important;">${{topupResult.estel.response.amount}}</p>
                            <p style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">VAT ({{Vat}}%)</p>
                            <p style="margin-top:0px !important;">${{respVat}}</p>
                            <p *ngIf="fiscalStamp" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">FISCAL STAMP (Law 64)</p>
                            <p *ngIf="fiscalStamp" style="margin-top:0px !important;">${{fiscalStamp}}</p>
                            <p style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">TOTAL AMOUNT (All Taxes Included)</p>
                            <p style="margin-top:0px !important;">${{topupResult.estel.response.totalamount}}</p>
                            <p style="margin-top:0px !important;">{{totalamountwords}}</p>
                            <!-- <p>Serial Number - 56789</p>
                            <p>Card Expiry Date - 10//03/2020 </p>
                            <p style="color: gray">To Recharge your line dial</p>
                            <p style="color: gray">*14* Alfa recharge code then # and OK </p> -->
                           
                          
                        </div>
                        <div class="col-12 text-center   pb-3"><button class="cancel  mx-2"
                            (click)="cancel();">CLOSE</button> <button class="proceed ml-5 mx-2"
                            (click)="print();">PRINT</button>
                        </div>
                        <br>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <button (click)="scrollToTop(container)">SCROLL</button> -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Print</h4>
   
       
    </div>
    <div class="modal-body">
        <div id="print-section" *ngIf="agenttype=='Direct'" class="card  mb-1 prints" style="border: 1px solid gray;padding: 25px;padding-top:20px;max-width: 400px;margin: auto;">
                             
            <!-- <h4 class="text-center mx-3">Receipt of Recharge</h4> -->
           <div class="text-center"> <img class="mb-2" src="./assets/img/alfawhite-logo.png" style="height: 100px;border: 1px solid lightgray;border-radius: 15px;"></div>
           <p style="color: gray"><span class="ml-5">{{topupResult.estel.response.responsects[0]}}</span> <span style="float: right;" class="mr-5">{{topupResult.estel.response.responsects[1]}}</span></p>
           <h6 class="mb-2">MIC 1 for account of ROL</h6>
           
            <p>VAT NUMBER - {{topupResult.estel.response.vat}}</p>
            <p>RECEIPT NUMBER - {{topupResult.estel.response.recipientnumber}}</p>
            <p>TRANSACTION ID - {{topupResult.estel.response.transid}}</p>
            <p>SERVICE NUMBER - {{topupResult.estel.response.agentcode}}</p>
            <p class="pb-1">AGENT NAME - {{topupResult.estel.response.agentname}}</p>
            
            <p style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;border-top: 1px solid;margin-top: 5px !important;padding-top: 5px !important;">AMOUNT  RECEIVED (VAT excluded) </p>
            <p style="margin-top:0px !important;">${{topupResult.estel.response.amount}}</p>
            <p style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">VAT ({{Vat}}%)</p>
            <p style="margin-top:0px !important;">${{respVat}}</p>
            <p *ngIf="fiscalStamp" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">FISCAL STAMP (Law 64)</p>
            <p *ngIf="fiscalStamp" style="margin-top:0px !important;">${{fiscalStamp}}</p>
            <p style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">TOTAL AMOUNT (All Taxes Included)</p>
           
            <p style="margin-top:0px !important;">${{topupResult.estel.response.totalamount}}</p>
            <p style="margin-top:0px !important;">{{totalamountwords}} <span style="float: right;color:black;">Stamp Duty Paid</span></p>
            <!-- <p>Serial Number - 56789</p>
            <p>Card Expiry Date - 10//03/2020 </p>
            <p style="color: gray">To Recharge your line dial</p>
            <p style="color: gray">*14* Alfa recharge code then # and OK </p> -->
           
            <!-- <div class="col-12 text-center   pb-3"><button class="cancel  mx-2"
                (click)="cancel();">Close</button> <button class="proceed ml-5 mx-2"
                (click)="print();">Print</button>
            </div> -->
        </div>

        <div id="print-section" *ngIf="agenttype=='Indirect'" class="card  mb-1 prints" style="border: 1px solid gray;padding: 25px;padding-top:20px;max-width: 400px;margin: auto;">
             
            <!-- <h4 class="text-center mx-3">Receipt of Recharge</h4> -->
           <div class="text-center"> <img class="mb-2" src="./assets/img/alfawhite-logo.png" style="height: 100px;border: 1px solid lightgray;border-radius: 15px;"></div>
           <p style="color: gray"><span class="ml-5">{{topupResult.estel.response.responsects[0]}}</span> <span style="float: right;" class="mr-5">{{topupResult.estel.response.responsects[1]}}</span></p>
           <p>TRANSACTION ID - {{topupResult.estel.response.transid}}</p>
            
            <p style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;border-top: 1px solid;margin-top: 5px !important;padding-top: 5px !important;">AMOUNT  RECEIVED (VAT excluded) </p>
            <p style="margin-top:0px !important;">${{topupResult.estel.response.amount}}</p>
            <p style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">VAT ({{Vat}}%)</p>
            <p style="margin-top:0px !important;">${{respVat}}</p>
            <p *ngIf="fiscalStamp" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">FISCAL STAMP (Law 64)</p>
            <p *ngIf="fiscalStamp" style="margin-top:0px !important;">${{fiscalStamp}}</p>
            <p style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">TOTAL AMOUNT (All Taxes Included)</p>
            <p style="margin-top:0px !important;">${{topupResult.estel.response.totalamount}}</p>
            <p style="margin-top:0px !important;">{{totalamountwords}}</p>
            <!-- <p>Serial Number - 56789</p>
            <p>Card Expiry Date - 10//03/2020 </p>
            <p style="color: gray">To Recharge your line dial</p>
            <p style="color: gray">*14* Alfa recharge code then # and OK </p> -->
          
          
        </div>
        <!-- <div class="col-12 text-center   pb-3"><button class="cancel  mx-2"
            (click)="cancel();">CLOSE</button> <button class="proceed ml-5 mx-2"
            (click)="print();">PRINT</button>
        </div> -->
        <br>
    </div>
    <div class="modal-footer">
        <button class="cancel  mx-2"
        (click)="cancel();">CLOSE</button>   <button type="button" class=" proceed mr-5" (click)="print();">PRINT</button>
    </div>
  </ng-template>