<div class="panel-header panel-header-lg">
</div>
 <div class="row topNavFix" style="margin:0;padding-top:10px; padding-bottom:10px;   background-color: #F5F5F5!important;position: fixed;
width: 100%;
  ">
    <div >
            <a class="pr-2 py-2 mt-2"  [routerLink]="['/home']" style="color: black;padding-left:0.8rem;"><i class="fa fa-home text-danger" style="margin-right:1rem"></i> Home </a>
    </div>
    <!-- <div >
            <a class="px-3 py-2 mt-2"  style="color: black">Recharge</a>
        </div> -->
        <div >
                <a class="px-2 py-2 mt-2 text-danger" >Agent Hierarchy</a>
            </div>
</div> 
<div class="main-content">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
       
        </div>
        <div class="card-body">
            <div *ngIf="screen1==true" class="row mb-3">
                  
                <div class="col-sm-12 mb-3 pb-2 pl-5">
                    <label class=" col-sm-4 col-xs-12">MPIN</label> <input title=" " type="password" id="name"
                        class="col-sm-4 col-xs-8 PassTxtBox" required [(ngModel)]="historyForm.mpin" #mpin="ngModel">
                        <span *ngIf="mpin.invalid && (mpin.dirty || mpin.touched)" class="text-primary mx-3">

                                <span *ngIf="mpin.errors.required">
                                   MPIN is required.
                                </span>
                              
                            
                            </span>
                </div>
              
                <br>
                <br>
                <div class="col-12 mb-3 pb-3">
                  <div class="col-sm-8 pl-5 text-right submit-margin submit-margin" style="margin-left: 1.5rem;">    
                    <button class="proceed mx-2 " (click)="screen2Show(mpin.value);"><b>SUBMIT</b></button>
               
                  </div>
                                 </div>
               
            </div>
            <div *ngIf="screen2==true" class="row mb-3 mx-3 text-center">
              <!-- <div class="row">
                  <div class="col-sm-5 mb-1 pb-2 pl-5">
                      <label class=" col-sm-4 col-xs-12">Mobile</label> <input title=" " type="text" id="name"
                          class="col-sm-8 col-xs-8" required [(ngModel)]="historyForm.mobile" #mpin="ngModel">
                      
                  </div>
                  <div class="col-sm-5 mb-1 pb-2">
                      <label class=" col-sm-4 col-xs-12">MPin</label> <input title=" " type="password" id="name"
                          class="col-sm-8 col-xs-8" required [(ngModel)]="historyForm.pin" #mpin="ngModel">
                      
                  </div>
                  <div class="col-sm-4 mb-1 pb-2">
                      <button class="proceed mx-2" (click)="trans();"><b>SEARCH</b></button>
                  </div>
              </div> -->
                <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                         Agent Code
                        </th>
                        <th>
                         First Name
                        </th>
                        <th>
                         Last Name
                        </th>
                        <th>
                        Level
                        </th>
                        <th>
                         User Name
                          </th>
                      </thead>
                      <tbody *ngIf="recordCount>1">
                        <tr *ngFor="let record of transactionHistory;let i=index">
                          <td> &nbsp;&nbsp;
                           {{record.agentcode}}
                          </td>
                          <td> &nbsp;&nbsp;
                           {{record.firstname}}
                          </td>
                          <td>{{record.lastname}}</td>
                          <td> &nbsp;&nbsp;
                           {{record.leveldesc}}
                          </td>
                          <td> &nbsp;&nbsp;
                            {{record.username}}
                          </td>
                        </tr>
                        
                      </tbody>
                      <tbody *ngIf="recordCount==1">
                        <tr >
                          <td> &nbsp;&nbsp;
                           {{transactionHistory.agentcode}}
                          </td>
                          <td> &nbsp;&nbsp;
                           {{transactionHistory.firstname}}
                          </td>
                          <td>{{transactionHistory.lastname}}</td>
                          <td> &nbsp;&nbsp;
                           {{transactionHistory.leveldesc}}
                          </td>
                          <td> &nbsp;&nbsp;
                            {{transactionHistory.username}}
                          </td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
             </div>
            
       
        </div>
      </div>
    </div>
    </div>
    </div>
