<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <!-- <img src="./assets/img/footer_logo.svg" width="43" alt="" /> -->
      <span style="color: #858796 !important;">Copyright &copy; Alfa. All rights reserved. Version - 2.19.12.1</span>
      <!-- <p>Version - 1.0</p> -->
    </div>
  </div>
</footer>
