
<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle">
                <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
        </div>
        <button class="navbar-toggler" type="button" (click)="collapse()"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
          <!-- <form>
            <div class="input-group no-border">
              <input title=" " type="text" value="" class="form-control" placeholder="Search...">
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="now-ui-icons ui-1_zoom-bold"></i>
                </div>
              </div>
            </div>
          </form> -->
          <ul class="navbar-nav">
            <!-- <li class="nav-item">
              <a class="nav-link" href="#pablo">
                <i class="now-ui-icons media-2_sound-wave"></i>
                <p>
                  <span class="d-lg-none d-sm-block">Stats</span>
                </p>
              </a>
            </li> -->
            <li class="nav-item" ngbDropdown>
              <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
                <!-- <i class="now-ui-icons users_single-02"></i> -->
                <!-- <i class="fas fa-folder fa-fw" style="font-size: 30px;float:right;color: #d1d3e2;cursor: pointer;"></i>
                <span class="badge badge-danger badge-counter" style=" position: absolute;
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: top right;
                transform-origin: top right;
                right: 3rem;
                margin-top: -.25rem;font-size: 12px;">+</span> -->
                <img src="./assets/img/welcomeLogo.png" style="width: 35px;float: right;">
                <!-- <p>
                  <span class="d-lg-none d-sm-block"> &nbsp;Account</span>
                </p> -->
              </a>
              <p style="font-weight: bolder;font-style: normal;color:#d0001b;
              font-family: todayshop-mediumitalicregular;
    font-size: 20px;letter-spacing: 1px">Welcome User {{agentname}}</p>
              <!-- <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a class="dropdown-item" >My Account</a>
                <a class="dropdown-item" >Settings</a>
                <a class="dropdown-item" >Security</a>
                <a class="dropdown-item" (click)="logOut();">Log Out</a>
              </div> -->
            </li>
            
            <!-- <li class="nav-item">
              <a class="nav-link" href="#pablo">
                <i class="now-ui-icons users_single-02"></i>
                <p>
                  <span class="d-lg-none d-sm-block">Account</span>
                </p>
              </a>
            </li> -->
          </ul>
        </div>
    </div>
</nav>
