<div class="panel-header panel-header-lg">
</div>
 <div class="row topNavFix" style="margin:0;padding-top:10px; padding-bottom:10px;   background-color: #F5F5F5!important;position: fixed;
    width: 100%;
      ">
        <div >
                <a class="pr-2 py-2 mt-2"  [routerLink]="['/home']" style="color: black;padding-left:0.8rem;"><i class="fa fa-home text-danger" style="margin-right:1rem"></i> Home </a>
        </div>
        <!-- <div >
                <a class="px-3 py-2 mt-2"  style="color: black">Recharge</a>
            </div> -->
            <div >
                    <a class="px-2 py-2 mt-2 text-danger" >Transfer</a>
                </div>
    </div> 
<div class="main-content">
    <div class="row">
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-header">
                    <!-- <h5 class="card-category">Home</h5> -->
              
                    <br>
                    <div *ngIf="screen1==true" class="row mb-3">
                        <div class="pl-5 col-sm-12 mb-3 pb-2">
                            <label class="col-sm-4 col-xs-12">Transaction Type</label> <select class="col-sm-4 col-xs-8" #type>
                                <option value="true">By Value</option>
                                <option value="false">By Fiscal Stamp</option>
                            </select>
                        </div>
                        <div class="pl-5 col-sm-12 mb-3 pb-2">
                            <label class="col-sm-4 col-xs-12">Receiver Actor ID</label> <input title=" " type="number" min="1" max="9999999999" (change)="checkmsisdnFieldLength(this);" min="0" id="ReceiverActorId"
                             class="col-sm-4 col-xs-8"  required 
                             [(ngModel)]="transferForm.ReceiverActorId" #ReceiverActorId="ngModel">
                            <span *ngIf="ReceiverActorId.invalid && (ReceiverActorId.dirty || ReceiverActorId.touched) && msisdnError!=true" class="text-primary mx-3">

                                <span *ngIf="ReceiverActorId.errors.required">
                                   Receiver Actor ID is required.
                                </span>
                                <span *ngIf="ReceiverActorId.errors.minlength">
                                   Receiver Actor ID must be at least 10 characters long.
                                </span>
                            </span>
                            <span *ngIf="msisdnError==true" class="text-primary mx-3">
    
                                <span>
                                   {{msisdnErrorText}}
                                </span>
                              
                            
                            </span>
                        </div>
                        <div class="pl-5 col-sm-12 mb-3 pb-2">
                                
                                <label class="col-sm-4 col-xs-12">Amount</label> <input title=" " type="number" (change)="checkNumberFieldLength(this);" min="0" id="amount"
                                 class="col-sm-4 col-xs-8"  required 
                                 [(ngModel)]="transferForm.amount" #amount="ngModel">
                                <span *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="text-primary mx-3">
    
                                    <span *ngIf="amount.errors.required">
                                       Amount is required.
                                    </span>
                                  
                                
                                </span>
                                <span *ngIf="amountError==true" class="text-primary mx-3">
    
                                    <span>
                                       Amount max limit exceeded, not more than 10 digits.
                                    </span>
                                  
                                
                                </span>
                            </div>
                    <div class="pl-5 col-sm-12 mb-3 pb-2">
                        <label class="col-sm-4 col-xs-12">MPIN</label> <input title=" " type="password" id="mpin"
                            class="col-sm-4 col-xs-8 PassTxtBox" required [(ngModel)]="transferForm.mpin" #mpin="ngModel">
                            <span *ngIf="mpin.invalid && (mpin.dirty || mpin.touched)" class="text-primary mx-3">

                                    <span *ngIf="mpin.errors.required">
                                       MPIN is required.
                                    </span>
                                    <span *ngIf="mpin.errors.minlength">
                                       MPIN must be at least 10 characters long.
                                    </span>
                                
                                </span>
                    </div>
                        <br>
                        <div class="col-12 mb-3 pb-3">
                            <div class="col-sm-8 pl-5 text-right submit-margin" style="margin-left: 1.5rem;"><button class="proceed mx-2" (click)="screen2Show(type.value);"><b>SUBMIT</b></button></div>
                                           </div>
                       
                    </div>

                    <!-- <div *ngIf="screen2==true" class="row ">
                            <div class="col-12 text-center mb-3"><h5 class="text-center">{{transType}}</h5></div>
                           
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="col-12 text-center mb-3 pb-3"><button class="cancel mx-2"
                                (click)="cancel();">Cancel</button>
                            <button class="proceed mx-2" (click)="screen3Show();"><b>SUBMIT</b></button>
                        </div>
                    </div> -->
                    <div *ngIf="screen3==true" class="row mb-3 text-center">

                      
                                <div class="Review-card " >
                                        <div class="card-header mt-3 pb-3"><h5 class="Review-card-header">REVIEW OF TRANSFER</h5></div>
                                        <p>Receiver Actor Id: {{transferForm.ReceiverActorId}}</p>
                                        <p>First Name: {{agentDetails.firstname}}</p>
                                        <p>Last Name : {{agentDetails.lastname}}</p>
                                        <p>Pos Name : {{agentDetails.posname}}</p>
                                
                               
                                <p>Amount: ${{transferForm.amount}}</p>
                                <p>Type of transfer: {{tType}}</p>
                                <br>
                                <div class="row text-center mb-3 pb-3">
                                    <div class="col-12"><button class="cancel mx-2"
                                        (click)="cancel();">CLOSE</button>  <button class="proceed mx-2" [disabled]="clicked" (click)="screen4Show();clicked = true;">CONFIRM</button></div>
                            </div>
                            </div>
                           
                       
                        
                    </div>

                    <div *ngIf="screen4==true" class="row mb-3 text-center">

                            <div class="card col-sm-8 Confirmation-card" style="max-width: 100%;border:1px solid #ccc !important;">
                                <h5 class="Review-card-header">CONFIRMATION OF TRANSFER</h5>
                                    <br>
                                      <p>Stock of US${{transferAmount}} has been successfully moved to ActorId:{{transferDestination}} on {{transferDate[0]}} at {{transferDate[1]}}.</p>
                                      <p *ngIf="this.transferResult.estel.response.wallettype==true">Your available Pre balance is ${{this.transferResult.estel.response.prewalletbalance}}</p>
                                      <p *ngIf="this.transferResult.estel.response.wallettype==true">Your available Post balance is ${{this.transferResult.estel.response.walletbalance}}</p>
                                      <p *ngIf="this.transferResult.estel.response.wallettype==false">Your available Pre balance is ${{this.transferResult.estel.response.prewalletbalance}}</p>
                                      <p *ngIf="this.transferResult.estel.response.wallettype==false">Your available Post balance is ${{this.transferResult.estel.response.srcfiscalclosing}}</p>
                                      <br>
                                      <div class="row text-center mb-1 pb-2">  
                                        <div class="col-12"><button class="cancel mx-2"
                                            (click)="cancel();">CLOSE</button> <button class="proceed mx-2" (click)="openModal(content);">PRINT</button></div>
                                </div>
                                    </div>
                           
                          
                            
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title text-primary" id="modal-basic-title">Transaction Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id="print-section" class="modal-body">
      <div class="">
   
      <div class="row">
  <div class="col-12">   <h4>Transaction Id: {{transferResult.estel.response.transid}}</h4></div>
       <p class="col-12">Date : {{transferDate[0]}}</p>
       <p class="col-12">Transfer from:</p>
       <table class="table">
           <thead>
                <th class="width-33">Actor ID</th>
                <th class="width-33">First Name</th>
                <th>Last Name</th>
           </thead>
           <tbody>
                <tr>
                        <td>{{fromnumber}}</td>
                        <td>{{firstname}}</td>
                        <td>{{lastname}}</td>
                    </tr>
           </tbody>
      
        </table>
        <p class="col-12">To:</p>
        <table class="table">
           <thead>
                <th class="width-33">Actor ID</th>
            <th class="width-33">First Name</th>
            <th>Last Name</th>
           </thead>
           <tbody>
                <tr>
                        <td>{{agentDetails.agentcode}}</td>
                        <td>{{agentDetails.firstname}}</td>
                        <td>{{agentDetails.lastname}}</td>
                    </tr>
           </tbody>
      
         </table>
         <p class="col-12">Content:</p>
         <table class="table">
             <thead>
                    <th class="width-33">Amount</th>
                    <th>Transfer Type</th>
             </thead>
            
            <thead>
                    <tr>
                            <td>{{transferAmount}}$</td>
                            <td *ngIf="walletType==true">Value</td>
                            <td *ngIf="walletType==false">Fiscal Stamp</td>
                        </tr>
            </thead>
     
         </table>
         <p class="col-12">Indicative Public price:{{transferAmount}}$</p>
      </div>
       
    </div>
    </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark proceed" (click)="print()">PRINT</button>
    </div>
  </ng-template>