.proceed{font-family: 'todayshop-mediumitalicregular' !important; letter-spacing: 1px;font-weight: bolder;
    font-family: 'todayshop-boldregular';
       color: #fff;
    background-color: #F4A51C;
    border-color: #F4A51C;     display: inline-block;
    font-weight: 400;     border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;    font-family: 'todayshop-boldregular';
}
.cancel{font-family: 'todayshop-mediumitalicregular' !important; font-weight: bolder;
    background-color: #bfbcbc;
    color: white;font-weight: 400;     border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;    font-family: 'todayshop-boldregular';letter-spacing: 1px; 
    border-radius: 0px !important;
}
// .scroll{

//     max-height: 600px;
//     overflow-y: auto;
//   }
//   .scroll-2{

//     max-height: 600px;
//     overflow-y: auto;
//   }
  .table td, .table th {
    padding: .75rem;
    border-right: 1px solid #e3e6f0;
    vertical-align: top;
    border-top: 1px solid #e3e6f0;
    border-bottom: 1px solid #e3e6f0;
}
  @media print {
    html, body {
      width: 7.2cm;
      height: 15cm;
    }
    prints{
        width: 7.2cm;
        height: 15cm;
    }
  
}
// .fsize-10{
//   font-size: 12px !important;
// }
// .fsize-12{
//   font-size: 14px !important;
// }
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0.82rem !important;
}
.title-p{
    /* font-family: openSans; */
    color: #d0001b !important;
    font-weight: bolder;
    /* letter-spacing: 1.3px; */
    margin-bottom: 15px !important;
    font-size: 20px;
    margin-left: 1.2rem !important;



}
.bd-rgt-0{
  border-right: 0 !important;
}
.bd-top{
  border-top: 1px solid #e3e6f0 !important;
  
  border-bottom: 0 !important;
}
.bd-btm{
  border-bottom: 1px solid #e3e6f0 !important;
}
.bd-rght{
  border-right: 1px solid #e3e6f0 !important;
}