<div class="panel-header panel-header-lg">
    </div>
     <div class="row topNavFix" style="margin:0;padding-top:10px; padding-bottom:10px;   background-color: #F5F5F5!important;position: fixed;
    width: 100%;
      ">
        <div >
                <a class="pr-2 py-2 mt-2"  [routerLink]="['/home']" style="color: black;padding-left:0.8rem;"><i class="fa fa-home text-danger" style="margin-right:1rem"></i> Home </a>
        </div>
        <!-- <div >
                <a class="px-3 py-2 mt-2"  style="color: black">Recharge</a>
            </div> -->
            <div >
                    <a class="px-2 py-2 mt-2 text-danger" >Transaction History</a>
                </div>
    </div> 
    <div class="main-content">
      <div class="row height-fix scroll-2">
        <div class="col-sm-12">
          <div class="card">
            <!-- <div class="card-header">
           
            </div> -->
            <div class="card-body">
              <div *ngIf="screen0==true" class="row mb-3">
                      <div class="mb-2 col-sm-12 pl-3 ml-3 title-p" >
                        Search by Actor ID/ Username/ Mobile Number
                      </div>
                <div class="col-sm-12  pb-1 pl-5">
                  <div class="row" style="margin: 0;">
                    <div class=" col-sm-4 col-xs-12"> <label style="width:100% !important;">Actor ID/ Username/ Mobile Number</label> </div>     <div class="col-sm-4 col-xs-8 " style="padding:0;">
                      <input style="width:100% !important;" title=" " type="text" id="name"
                       required [(ngModel)]="historyForm.username" #username="ngModel">
                     </div>  <span *ngIf="username.invalid && (username.dirty || username.touched)" class="text-primary  col-md-4">

                      <span *ngIf="username.errors.required">
                        Actor ID/ Username/ Mobile Number is required.
                      </span>
                    
                  
                  </span>
                             
                  </div>
         
                </div>
                <!-- <div class="pl-5 col-sm-12 mb-1 pb-1">
                  <label class="col-sm-4 col-xs-12">Date From</label> <input title=" " type="date" id="datefrom"
                   class="col-sm-4 col-xs-8" required 
                   [(ngModel)]="historyForm.datefrom" #datefrom="ngModel">
                  <span *ngIf="datefrom.invalid && (datefrom.dirty || datefrom.touched)" class="text-primary mx-3">

                      <span *ngIf="datefrom.errors.required">
                         Date From is required.
                      </span>
                    
                  
                  </span>
              </div>
              <div class="pl-5 col-sm-12 mb-1 pb-1">
                <label class="col-sm-4 col-xs-12">Date to</label> <input title=" " type="date" id="dateto"
                 class="col-sm-4 col-xs-8"  
                 [(ngModel)]="historyForm.dateto" #dateto="ngModel">
                <span *ngIf="dateto.invalid && (dateto.dirty || dateto.touched)" class="text-primary mx-3">

                    <span *ngIf="dateto.errors.required">
                       Date to is required.
                    </span>
                  
                
                </span>
            </div> -->
            <div class="pl-5 col-sm-12 mb-1 pb-0">
           
                <div class="row" style="padding:0;margin:0;">
                  <div class="col-sm-4 col-xs-12" for="activeEndDate"><label style="width:100% !important;">Start Date</label></div>
                  <div class="col-sm-4 col-xs-8 px-0" ><app-fiscal-stamp [(ngModel)]="historyForm.datefrom" name="activeEndDate"></app-fiscal-stamp></div>
                
                </div>
        
          </div>
          <div class="pl-5 col-sm-12 mb-1 pb-0">
           
            <div class="row" style="padding:0;margin:0;">
              <div class="col-sm-4 col-xs-12" for="activeEndDate"><label style="width:100% !important;">End Date</label></div>
              <div class="col-sm-4 col-xs-8 px-0" ><app-fiscal-stamp [(ngModel)]="historyForm.dateto" name="activeEndDate"></app-fiscal-stamp></div>
            
            </div>
      
      </div>
            <div class="pl-5 col-sm-12  pb-1">
              <div class="row" style="margin: 0;">
                <div class=" col-sm-4 col-xs-12"> <label style="width:100% !important;">Status</label>    </div>     <div class="col-sm-4 col-xs-8 " style="padding:0;">
                  
                  <select [(ngModel)]="historyForm.state" style="width:100% !important;" #state>
                    <option value="ALL">All</option> 
                    <option value="FAILED">Failed</option>
                      <option value="SUCCESS">Success</option>
                      <!-- <option value="PENDING">Pending</option>
                      <option value="CANCELLED">Cancelled</option>
                        <option value="REJECTED">Rejected</option>  -->
                  </select></div> 
                         
              </div>
                       
              
            </div>
            <div class="pl-5 col-sm-12  pb-1">
              <div class="row" style="margin: 0;">
                <div class=" col-sm-4 col-xs-12">   <label style="width:100% !important;">Operation Type</label>                 </div>     <div class="col-sm-4 col-xs-8 " style="padding:0;">
                  <select [(ngModel)]="historyForm.operationtype"  style="width:100% !important;" #type>
                    <option value="ALL">All</option> 
                    <option value="TOPUP">E-Recharge</option>
                      <option value="BULKPINPURCHASE">E-Voucher</option>
                      <option value="MOVESTOCK">Transfer</option>
                      <option value="ORDER">Order</option>
                        <option value="WALLETADJ">Wallet Adjustment</option> 
                        <option value="TRANSREVERSAL">Transaction Reversal</option> 
                  </select>
                  </div> 
                         
              </div>
           
              
            </div>
            <div class="col-sm-12 mb-3 pb-1 pl-5">
              <label class=" col-sm-4 col-xs-12">MPIN</label> <input title=" "  type="password" id="name"
                  class="col-sm-4 col-xs-8 PassTxtBox" required [(ngModel)]="historyForm.mpin" #mpin="ngModel">
                  <span *ngIf="mpin.invalid && (mpin.dirty || mpin.touched)" class="text-primary mx-3">

                          <span *ngIf="mpin.errors.required">
                             MPIN is required.
                          </span>
                        
                      
                      </span>
          </div>
                <br>
                <div class="col-12  pb-3">
                  <div class="col-sm-8 pl-5 text-right submit-margin" style="margin-left: 1.5rem;">    
                    <button class="proceed mx-2" (click)="screenf1();"><b>SUBMIT</b></button>
                    <br>
                    <br>
               
                  </div>
                                 </div>
                                 <div class="mb-2 col-sm-12 pl-3 ml-3 title-p" >
                                  Search by Transaction ID
                                </div>
                          <div class="col-sm-12  pb-1 pl-5">
                              <label class=" col-sm-4 col-xs-12">Transaction ID</label> <input title=" " type="text" id="name"
                                  class="col-sm-4 col-xs-8 " required [(ngModel)]="historyForm.transactionid" #transactionid="ngModel">
                                  <span *ngIf="transactionid.invalid && (transactionid.dirty || transactionid.touched)" class="text-primary mx-3">
          
                                          <span *ngIf="transactionid.errors.required">
                                             Transaction ID is required.
                                          </span>
                                        
                                      
                                      </span>
                          </div>
                          <div class="col-sm-12 mb-3 pb-1 pl-5">
                            <label class=" col-sm-4 col-xs-12">MPIN</label> <input title=" "  type="password" id="name"
                                class="col-sm-4 col-xs-8 PassTxtBox" required [(ngModel)]="historyForm.mpin1" #mpin="ngModel">
                                <span *ngIf="mpin.invalid && (mpin.dirty || mpin.touched)" class="text-primary mx-3">
    
                                        <span *ngIf="mpin.errors.required">
                                           MPIN is required.
                                        </span>
                                      
                                    
                                    </span>
                        </div>
                          <div class="col-12  pb-3">
                            <div class="col-sm-8 pl-5 text-right submit-margin" style="margin-left: 1.5rem;">    
                              <button class="proceed mx-2" (click)="screenf2();"><b>SUBMIT</b></button>
                              <br>
                              <br>
                         
                            </div>
                                           </div>
                          <div class="mb-2 col-sm-12 pl-3 ml-3 title-p" >
                                  Search by Receipt ID
                                </div>
                          <div class="col-sm-12  pb-1 pl-5">
                              <label class=" col-sm-4 col-xs-12">Receipt ID</label> <input title=" " type="text" id="name"
                                  class="col-sm-4 col-xs-8 " required [(ngModel)]="historyForm.reciptid" #reciptid="ngModel">
                                  <span *ngIf="reciptid.invalid && (reciptid.dirty || reciptid.touched)" class="text-primary mx-3">
          
                                          <span *ngIf="reciptid.errors.required">
                                             Receipt ID is required.
                                          </span>
                                        
                                      
                                      </span>
                          </div>
                                 <div class="col-sm-12 mb-3 pb-1 pl-5">
                            <label class=" col-sm-4 col-xs-12">MPIN</label> <input title=" "  type="password" id="name"
                                class="col-sm-4 col-xs-8 PassTxtBox" required [(ngModel)]="historyForm.mpin2" #mpin2="ngModel">
                                <span *ngIf="mpin2.invalid && (mpin2.dirty || mpin2.touched)" class="text-primary mx-3">
    
                                        <span *ngIf="mpin.errors.required">
                                           MPIN is required.
                                        </span>
                                      
                                    
                                    </span>
                        </div>
                          <div class="col-12  pb-3">
                            <div class="col-sm-8 pl-5 text-right submit-margin" style="margin-left: 1.5rem;">    
                              <button class="proceed mx-2" (click)="screenf3();"><b>SUBMIT</b></button>
                              <br>
                              <br>
                         
                            </div>
                                           </div>
               
            </div>
                <div *ngIf="screen1==true" class="row mb-3">
                     
                        <div *ngIf="f1==true" class="col-sm-12  pb-1 pl-5">
                          <label class=" col-sm-4 col-xs-12">ActorId/Username</label> <input title=" " style="background:whitesmoke" readonly type="text" id="name"
                              class="col-sm-4 col-xs-8 " required [(ngModel)]="historyForm.username" #username="ngModel">
                              <span *ngIf="username.invalid && (username.dirty || username.touched)" class="text-primary mx-3">
      
                                      <span *ngIf="username.errors.required">
                                        ActorId / username is required.
                                      </span>
                                    
                                  
                                  </span>
                      </div >
                      <div *ngIf="f1==true && datefrom" class="pl-5 col-sm-12 mb-1 pb-1">
                        <label class="col-sm-4 col-xs-12">Date From</label> <input title=" " style="background:whitesmoke" readonly type="text" id="datefrom"
                         class="col-sm-4 col-xs-8" required 
                         [(ngModel)]="historyForm.datefrom" #datefrom="ngModel">
                        <span *ngIf="datefrom.invalid && (datefrom.dirty || datefrom.touched)" class="text-primary mx-3">
      
                            <span *ngIf="datefrom.errors.required">
                               Date From is required.
                            </span>
                          
                        
                        </span>
                    </div>
                    <div *ngIf="f1==true && dateto" class="pl-5 col-sm-12 mb-1 pb-1">
                      <label class="col-sm-4 col-xs-12">Date to</label> <input title=" " style="background:whitesmoke" readonly type="text" id="dateto"
                       class="col-sm-4 col-xs-8" required 
                       [(ngModel)]="historyForm.dateto" #dateto="ngModel">
                      <span *ngIf="dateto.invalid && (dateto.dirty || dateto.touched)" class="text-primary mx-3">
      
                          <span *ngIf="dateto.errors.required">
                             Date to is required.
                          </span>
                        
                      
                      </span>
                  </div>
                  <div *ngIf="f1==true" class="pl-5 col-sm-12  pb-1">
                  
                    <label class="col-sm-4">Status</label>              <input title=" " style="background:whitesmoke" readonly [(ngModel)]="historyForm.state" class="col-sm-4" #state>
                      <!-- <option value="ALL">All</option> 
                      <option value="FAILED">Failed</option> -->
                        <!-- <option value="SUCCESS">Success</option> -->
                        <!-- <option value="PENDING">Pending</option>
                        <option value="CANCELLED">Cancelled</option>
                          <option value="REJECTED">Rejected</option>  -->
                    <!-- </select> -->
                    
                  </div>
                  <div *ngIf="f1==true" class="pl-5 col-sm-12  pb-1">
                    
                    <label class="col-sm-4">Operation Type</label> <input title=" " *ngIf="historyForm.operationtype=='ORDER'" value="Order" style="background:whitesmoke" readonly class="col-sm-4" > <input title=" " *ngIf="historyForm.operationtype=='MOVESTOCK'" value="Transfer" style="background:whitesmoke" readonly class="col-sm-4" >  <input title=" " *ngIf="historyForm.operationtype=='BULKPINPURCHASE'" value="E-Voucher" style="background:whitesmoke" readonly class="col-sm-4" >  <input title=" " *ngIf="historyForm.operationtype=='ALL'" value="ALL" style="background:whitesmoke" readonly class="col-sm-4" >            <input title=" " *ngIf="historyForm.operationtype=='TOPUP'" value="E-Recharge" style="background:whitesmoke" readonly class="col-sm-4" >
                      <!-- <option value="ALL">All</option> 
                      <option value="TOPUP">E-Recharge</option>
                        <option value="BULKPINPUR style="background:whitesmoke"CHASE">E-Voucher</option>
                        <option value="MOVESTOCK">Transfer</option>
                        <option value="ORDER">Order</option> -->
                          <!-- <option value="REJECTED">Rejected</option>  -->
                    <!-- </select> -->
                    
                  </div>
                      
                    
                        <div *ngIf="f2==true" class="col-sm-12  pb-1 pl-5">
                          <label class=" col-sm-4 col-xs-12">Transaction Id</label> <input title=" " style="background:whitesmoke" readonly type="text" id="name"
                              class="col-sm-4 col-xs-8 " required [(ngModel)]="historyForm.transactionid" #transactionid="ngModel">
                              <span *ngIf="transactionid.invalid && (transactionid.dirty || transactionid.touched)" class="text-primary mx-3">
      
                                      <span *ngIf="transactionid.errors.required">
                                         Transactionid is required.
                                      </span>
                                    
                                  
                                  </span>
                      </div>
                      
                    
                        <div *ngIf="f3==true" class="col-sm-12  pb-1 pl-5">
                          <label class=" col-sm-4 col-xs-12">Mobile No.</label> <input title=" " style="background:whitesmoke" readonly type="text" id="name"
                              class="col-sm-4 col-xs-8 " required [(ngModel)]="historyForm.mobileno" #mobileno="ngModel">
                              <span *ngIf="mobileno.invalid && (mobileno.dirty || mobileno.touched)" class="text-primary mx-3">
      
                                      <span *ngIf="mobileno.errors.required">
                                         mobileno is required.
                                      </span>
                                    
                                  
                                  </span>
                      </div>
                      
                    <div class="col-sm-12 mb-3 pb-1 pl-5">
                        <label class=" col-sm-4 col-xs-12">MPin</label> <input title=" "  type="password" id="name"
                            class="col-sm-4 col-xs-8 PassTxtBox" required [(ngModel)]="historyForm.mpin" #mpin="ngModel">
                            <span *ngIf="mpin.invalid && (mpin.dirty || mpin.touched)" class="text-primary mx-3">

                                    <span *ngIf="mpin.errors.required">
                                       Mpin is required.
                                    </span>
                                  
                                
                                </span>
                    </div>
                  
                    <br>
                    <br>
                    <div class="col-12 mb-3 pb-3">
                      <div class="col-sm-8 pl-5 text-right submit-margin" style="margin-left: 1.5rem;">    
                        <button class="cancel mx-2" (click)="cancel();"><b>CLOSE</b></button> <button class="proceed mx-2" (click)="screen2Show(mpin.value);"><b>SUBMIT</b></button>
                        <br>
                        <br>
                   
                      </div>
                                     </div>
                   
                </div>
                <div *ngIf="screen2==true" class="row mb-3 mx-2 text-center">
                  <!-- <div class="row"> -->
                      <!-- <div class="col-sm-4 mb-1 pb-2 pl-0">
                          <label class=" col-sm-4 col-xs-12 pl-2" style="text-align: left;">Mobile</label> <input title=" " type="text" id="name"
                              class="col-sm-8 col-xs-8" required [(ngModel)]="historyForm.mobile" #mpin="ngModel">
                          
                      </div>
                      <div class="col-sm-4 mb-1 pb-2">
                          <label class=" col-sm-4 col-xs-12">MPin</label> <input title=" " type="password" id="name"
                              class="col-sm-8 col-xs-8" required [(ngModel)]="historyForm.pin" #mpin="ngModel">
                          
                      </div>
                      <div class="col-sm-4 mb-1 pb-2">
                          <button class="proceed mx-2" (click)="trans();"><b>SEARCH</b></button>  <button class="cancel mx-2" (click)="cancel();"><b>CLOSE</b></button>
                      </div> -->
                  <!-- </div> -->
                    <div class="table-responsive text-center" >
                      <div class="text-right my-2" *ngIf="recordCount>0" style="margin: auto;display: flex;justify-content: flex-end;
                        flex-wrap: wrap;">
                       <!-- <div style="margin:auto;"> -->
                        <label *ngIf="recordCount>1" class=" mx-2 " style="margin-top:5px;">Page Count</label>         <select *ngIf="recordCount>1" style="width:75px;" (change)="pagesizechange($event)">
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                         
                      </select>
                      <a *ngIf="recordCount" class="mx-2" style="    font-family: 'todayshop-mediumitalicregular' !important;
                
                      background-color: #F4A51C ;
                      color: white;
                      font-weight: bolder;
                      border: 1px solid transparent;
                      padding: .375rem .75rem;      
                 
                      letter-spacing: 1.8px;
                      border-radius: 0px !important;
                      cursor: pointer;" (click)="csvdownload();">EXPORT TO CSV</a>
                      <a style="    font-family: 'todayshop-mediumitalicregular' !important;
                     
                      background-color: #bfbcbc;
                      color: white;
                      font-weight: bolder;
                      border: 1px solid transparent;
                      padding: .375rem .75rem;      
                   
                      letter-spacing: 1.8px;
                      border-radius: 0px !important;
                      cursor: pointer;" class=" ml-2" (click)="cancel();">CLOSE</a>
                       <!-- </div> -->
                        </div>
                        <table class="table">
                          <thead class=" text-primary">
                            <!-- <th>
                              Sno.
                            </th> -->
                            <th>
                              Transaction Id
                            </th>
                            <th>
                              Date
                            </th>
                            <th>
                              Mobile Number
                            </th>
                            <th>
                             Destination Number
                            </th>
                            <th>Channel</th>
                            <th>
                              Transaction Type
                            </th>
                            <th>
                              Result Description
                            </th>
                            <th>
                             Order Id
                            </th>
                            <th>
                              Status
                             </th>
                            <th>
                              Amount
                            </th>
                           
                          </thead>
                          <tbody *ngIf="recordCount>1">
                            <tr *ngFor="let record of transactionHistory;let i=index">
                              <!-- <td> 
                               {{i+1}}
                              </td> -->
                              <td  *ngIf="i >= startIndex && i <= endIndex"> 
                                <a style="cursor: pointer;" (click)="openModal(content,record);totalwords(record.amount);">{{record.transid}}</a>
                              </td >
                              <td *ngIf="i >= startIndex && i <= endIndex">
                                {{record.requestdate}}
                              </td>
                              <td *ngIf="i >= startIndex && i <= endIndex">
                                {{record.usernumber}}
                              </td>
                              <td *ngIf="i >= startIndex && i <= endIndex">
                           <span *ngIf="record.destination">    {{record.destination}}</span><span *ngIf="!record.destination">    {{record.usercode}}</span>
                              </td>
                              <td *ngIf="i >= startIndex && i <= endIndex"> <span *ngIf="record.clienttype!='SELFCARE'">{{record.clienttype}}</span><span *ngIf="record.clienttype=='SELFCARE'">Web Portal</span></td>
                              <td *ngIf="i >= startIndex && i <= endIndex"><span *ngIf="record.transtype=='MOVESTOCK'">Transfer</span><span *ngIf="record.transtype=='TOPUP'">E-Recharge</span><span *ngIf="record.transtype=='WALLETADJ'">Wallet Adjustment</span><span *ngIf="record.transtype=='BULKPINPURCHASE'">E-Voucher</span> 
                                <span *ngIf="record.transtype=='TRANSREVERSAL'">Transaction Reversal</span><span *ngIf="record.transtype!='BULKPINPURCHASE' && record.transtype!='MOVESTOCK' && record.transtype!='TOPUP' && record.transtype!='WALLETADJ' && record.transtype!='TRANSREVERSAL'">Order</span></td>
                              <!-- <td ></td>
                              <td ></td>
                              <td ></td> -->
                              <td *ngIf="i >= startIndex && i <= endIndex"><span *ngIf="record.resultDesc!='Subscriber/Agent not in same hierarchy'">{{record.resultDesc}}</span><span *ngIf="record.resultDesc=='Subscriber/Agent not in same hierarchy'">Transfer Not Allowed</span></td>
                              <!-- <td ></td> -->
                              <td *ngIf="i >= startIndex && i <= endIndex">
                                {{record.orderid}}
                              </td>
                              <td *ngIf="(record.responsevalue!='0' || record.responsevalue!=0) && record.transtype=='ORDER' && i >= startIndex && i <= endIndex">
                                <span *ngIf="record.transtype=='ORDER' && record.responsevalue">{{record.responsevalue}}</span><span *ngIf="record.transtype=='ORDER' && !record.responsevalue">Failure</span><span *ngIf="record.transtype!='ORDER' && record.resultDesc=='Transaction Successful'">Success</span><span *ngIf="record.transtype!='ORDER' && record.resultDesc!='Transaction Successful'">Failure</span>
                              </td>
                              <td *ngIf="(record.responsevalue=='0' || record.responsevalue==0) && record.transtype=='ORDER' && i >= startIndex && i <= endIndex">
                                
                              </td>
                              <td *ngIf="(record.responsevalue=='0' || record.responsevalue==0) && record.transtype!='ORDER' && i >= startIndex && i <= endIndex">
                                <span *ngIf="record.transtype!='ORDER' && record.resultDesc=='Transaction Successful'">Success</span><span *ngIf="record.transtype!='ORDER' && record.resultDesc!='Transaction Successful'">Failure</span>
                              </td>
                              <td *ngIf="(record.responsevalue!='0' || record.responsevalue!=0) && record.transtype!='ORDER' && i >= startIndex && i <= endIndex">
                                <span *ngIf="record.transtype!='ORDER' && record.resultDesc=='Transaction Successful'">Success</span><span *ngIf="record.transtype!='ORDER' && record.resultDesc!='Transaction Successful'">Failure</span>
                              </td>
                              <td *ngIf="record.amount!='|' && i >= startIndex && i <= endIndex"> 
                              <span *ngIf="record.transtype=='BULKPINPURCHASE'">${{record.vouchertotal}}</span>         <span *ngIf="record.transtype!='BULKPINPURCHASE'">${{record.amountpre}}</span> 
                              </td>
                              <td *ngIf="record.amount=='|' && i >= startIndex && i <= endIndex"> 
                                0
                              </td>
                            </tr>
                            
                          </tbody>
                          <!-- <div *ngFor="let record of transactionHistory; let i = index;" (click)="onClick(item)">
                            <span *ngIf="i >= startIndex && i <= endIndex">{{record.usernumber}}</span>
                          </div> -->
                          
                        
                          
                          <tbody *ngIf="recordCount==1">
                            <tr >
                              <!-- <td> 
                               1
                              </td> -->
                              <td> 
                                <a style="cursor: pointer;" (click)="openModal(content,transactionHistory);totalwords(transactionHistory.amount);"><span *ngIf="f3==false;">{{transactionHistory.transid}}</span><span *ngIf="f3==true">{{refcode}}</span></a>
                              </td>
                              <td>
                                {{transactionHistory.requestdate}}
                              </td>
                              <td>
                                {{transactionHistory.usernumber}}
                              </td>
                              <td>
                                <span *ngIf="transactionHistory.destination">    {{transactionHistory.destination}}</span><span *ngIf="!transactionHistory.destination">    {{transactionHistory.usercode}}</span>   
                              </td>
                              <td> <span *ngIf="transactionHistory.clienttype!='SELFCARE'">{{transactionHistory.clienttype}}</span><span *ngIf="transactionHistory.clienttype=='SELFCARE'">Web Portal</span></td>
                              <td *ngIf="transactionHistory.transtype=='BULKPINPURCHASE'">E-Voucher</td>
                              <td *ngIf="transactionHistory.transtype=='MOVESTOCK'">Transfer</td>
                              <td *ngIf="transactionHistory.transtype=='TOPUP'">E-Recharge</td>
                              <td *ngIf="transactionHistory.transtype=='WALLETADJ'">Wallet Adjustment</td>
                              <td *ngIf="transactionHistory.transtype=='TRANSREVERSAL'">Transaction Reversal</td>
                              <td *ngIf="transactionHistory.transtype!='BULKPINPURCHASE' && transactionHistory.transtype!='MOVESTOCK' && transactionHistory.transtype!='TOPUP' && transactionHistory.transtype!='WALLETADJ' && transactionHistory.transtype!='TRANSREVERSAL' ">Order</td>
                              <td *ngIf="transactionHistory.resultDesc=='Subscriber/Agent not in same hierarchy'">Transfer Not Allowed</td>
                              <td *ngIf="transactionHistory.resultDesc!='Subscriber/Agent not in same hierarchy'">{{transactionHistory.resultDesc}}</td>
                              <td>
                                {{transactionHistory.orderid}}
                              </td>
                              <td *ngIf="(transactionHistory.responsevalue!='0' || transactionHistory.responsevalue!=0) && transactionHistory.transtype=='ORDER'">
                                <span *ngIf="transactionHistory.transtype=='ORDER'">{{transactionHistory.responsevalue}}</span><span *ngIf="transactionHistory.transtype!='ORDER' && transactionHistory.resultDesc=='Transaction Successful'">Success</span><span *ngIf="transactionHistory.transtype!='ORDER' && transactionHistory.resultDesc!='Transaction Successful'">Failure</span>
                              </td>
                              <td *ngIf="(transactionHistory.responsevalue=='0' || transactionHistory.responsevalue==0) && transactionHistory.transtype=='ORDER'">
                                
                              </td>
                              <td *ngIf="(transactionHistory.responsevalue=='0' || transactionHistory.responsevalue==0) && transactionHistory.transtype!='ORDER'">
                                <span *ngIf="transactionHistory.transtype!='ORDER' && transactionHistory.resultDesc=='Transaction Successful'">Success</span><span *ngIf="transactionHistory.transtype!='ORDER' && transactionHistory.resultDesc!='Transaction Successful'">Failure</span>
                              </td>
                              <td *ngIf="(transactionHistory.responsevalue!='0' || transactionHistory.responsevalue!=0) && transactionHistory.transtype!='ORDER'">
                                <span *ngIf="transactionHistory.transtype!='ORDER' && transactionHistory.resultDesc=='Transaction Successful'">Success</span><span *ngIf="transactionHistory.transtype!='ORDER' && transactionHistory.resultDesc!='Transaction Successful'">Failure</span>
                              </td>
                              <td *ngIf="transactionHistory.amount!='|'"> 
                             <span *ngIf="transactionHistory.transtype=='BULKPINPURCHASE'">${{transactionHistory.vouchertotal}}</span>         <span *ngIf="transactionHistory.transtype!='BULKPINPURCHASE'">${{transactionHistory.amountpre}}</span> 
                              </td>
                              <td *ngIf="transactionHistory.amount=='|'"> 
                                0
                              </td>
                            </tr>
                            
                          </tbody>
                          
                        </table>
                        <div *ngIf="pages.length > 1 && recordCount>1" class="col-12 mt-2 mb-2 ">
                          <div style="float:right;color: #858796;" class="mx-2 ml-3">  <span class="mx-2">Page</span><span class="mr-2">{{currentPage}}</span><span class="mr-1">of {{pages.length}}</span></div>
                            <a class="mx-2" href="" (click)="previous($event)" style="color: #858796;">{{ previousLabel }}</a>
                            <span *ngFor="let page of pages">
                              <!-- <button style="background-color: #bfbcbc;" *ngIf="page !== currentPage && page < currentPage-5" href="" (click)="setCurrent($event,page)">...</button> -->
                              <button class="mx-1" style="background-color: #F4A51C;color: white;border:none;" *ngIf="page === currentPage" href="" (click)="setCurrent($event,page)">{{page}}</button>
                              <button class="mx-1" style="background-color: #bfbcbc;color: white;border:none" *ngIf="page !== currentPage && page>= currentPage-5 && page<= currentPage+5" href="" (click)="setCurrent($event,page)">{{page}}</button>
                              <!-- <button style="background-color: #bfbcbc;" *ngIf="page !== currentPage  && page > currentPage+5" href="" (click)="setCurrent($event,page)">...</button> -->
                            </span>
                            <a class="mx-2" href="" (click)="next($event)" style="color: #858796;">{{ nextLabel }}</a>
                          </div>
                      </div>
                      <br>
                     
                 </div>
                
           
            </div>
          </div>
        </div>
        </div>
        </div>

        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title text-primary" id="modal-basic-title">Transaction Details</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div *ngIf="(modalRecord.transtype!='TOPUP' && modalRecord.transtype!='BULKPINPURCHASE' && modalRecord.transtype!='MOVESTOCK') || (modalRecord.resultDesc!='Transaction Successful' && modalRecord.transtype!='MOVESTOCK')" id="print-section" class="modal-body">
            <div  class="">
         
            <div >
              <!-- <div class="col-sm-6 mb-3 pb-2">
                <label class=" col-xs-12">Transaction id</label> - <label>{{modalRecord.transid}}</label>
               
            </div>
            <div class="col-sm-6 mb-3 pb-2">
              <label class=" col-xs-12">Transaction Type</label> - <label>{{modalRecord.transtype}}</label>
              
          </div>
              <div class="col-sm-6 mb-3 pb-2">
                      <label class=" col-xs-12">Amount</label> - <label>${{modalRecord.amount}}</label>
                     
                  </div>
                  <div class="col-sm-6 mb-3 pb-2">
                    <label class=" col-xs-12">Destination</label> - <label>{{modalRecord.destination}}</label>
                       
                </div>
          <div class="col-sm-6 mb-3 pb-2">
              <label class=" col-xs-12">User Number </label> - <label>{{modalRecord.usernumber}}</label>
                 
          </div>
              <div class="col-sm-6 mb-3 pb-2">
                  <label class=" col-xs-12">User Code</label> - <label>{{modalRecord.usercode}}</label>
                  
              </div> -->
              <table class="table">
                <thead class=" text-primary row">
                  <th class="col-6 bd-top bd-rgt-0">
                    Transaction id
                  </th>
                  <th class="col-6 bd-top">
                    Transaction Type
                  </th>
                  
                 
                </thead>
                <tbody >
                  <tr class="row">
                    
                    
                    <td class="col-6 bd-rgt-0">{{modalRecord.transid}}</td>
                    <!-- <td class="col-6">{{modalRecord.transtype}}</td> -->
                    <td class="col-6" *ngIf="modalRecord.transtype=='BULKPINPURCHASE'">E-Voucher</td>
                              <td  class="col-6 bd-btm" *ngIf="modalRecord.transtype=='MOVESTOCK'">Transfer</td>
                              <td class="col-6 bd-btm" *ngIf="modalRecord.transtype=='TOPUP'">E-Recharge</td>
                              <td class="col-6 bd-btm" *ngIf="modalRecord.transtype=='WALLETADJ'">Wallet Adjustment</td>
                              <td class="col-6 bd-btm" *ngIf="modalRecord.transtype=='TRANSREVERSAL'">Transaction Reversal</td>
                              <td class="col-6 bd-btm" *ngIf="modalRecord.transtype!='TOPUP' && modalRecord.transtype!='BULKPINPURCHASE' && modalRecord.transtype!='MOVESTOCK' && modalRecord.transtype!='WALLETADJ' && modalRecord.transtype!='TRANSREVERSAL'">{{modalRecord.transtype}}</td>
                  </tr>
                  
                </tbody>
              
              </table>
              <table class="table">
                <thead class=" text-primary row">
                  <th class="col-6 bd-top bd-rgt-0">
                    Amount
                  </th>
                  <th class="col-6 bd-top">
                    Destination
                  </th>
                  
                 
                </thead>
                <tbody >
                  <tr class="row">
                    
                    
                    <td class="col-6 bd-btm bd-rgt-0">${{modalRecord.amountpre}}</td>
                    <td class="col-6 bd-btm"><span *ngIf="modalRecord.destination">{{modalRecord.destination}}</span><span *ngIf="!modalRecord.destination">{{modalRecord.usercode}}</span></td>
                    
                  </tr>
                  
                </tbody>
              
              </table>
              <table class="table ">
                <thead class=" text-primary row">
                  <th class="col-6 bd-top bd-rgt-0">
                    Actor Number
                  </th>
                  <th class="col-6 bd-top">
                    Actor Code
                  </th>
                  
                 
                </thead>
                <tbody >
                  <tr class="row">
                    
                     
                    <td class="col-6 bd-btm bd-rgt-0">{{modalRecord.usernumber}}</td>
                    <td class="col-6 bd-btm">{{modalRecord.usercode}}</td>
                    
                  </tr>
                  
                </tbody>
              
              </table>
              <table class="table" *ngIf="modalRecord.transtype=='ORDER' || modalRecord.transtype=='WALLETADJ'">
                <thead class=" text-primary row">
                  <th class="col-6 bd-top bd-rght">
                    Order Type
                  </th>
            
                  
                 
                </thead>
                <tbody >
                  <tr class="row">
                    
                    
                    <td class="col-6 bd-btm bd-rght"><span *ngIf="modalRecord.wallettype!=true && modalRecord.wallettype!=false"><span *ngIf="modalRecord.wallettype!='Fiscal'">{{modalRecord.wallettype}}</span><span *ngIf="modalRecord.wallettype=='Fiscal'">Fiscal Stamp</span></span><span *ngIf="modalRecord.wallettype==true">Value</span><span *ngIf="modalRecord.wallettype==false">Fiscal Stamp</span></td>
      
                    
                  </tr>
                  
                </tbody>
              
              </table>
            </div>
             
          </div>
          </div>
          <div *ngIf="modalRecord.transtype=='MOVESTOCK'">

            <div id="print-section" class="modal-body">
              <div class="">
           
              <div class="row">
          <div class="col-12">   <h4>Transaction Id: {{modalRecord.transid}}</h4></div>
               <!-- <p class="col-12">Date : {{transferDate[0]}}</p> -->
               <p class="col-12">Transfer from:</p>
               <table class="table">
                   <thead>
                        <th class="width-33">Actor ID</th>
                        <th class="width-33">First Name</th>
                        <th>Last Name</th>
                   </thead>
                   <tbody>
                        <tr>
                                <td>{{modalRecord.usercode}}</td>
                                <td>{{firstname}}</td>
                                <td>{{lastname}}</td>
                            </tr>
                   </tbody>
              
                </table>
                <p class="col-12">To:</p>
                <table class="table">
                   <thead>
                        <th class="width-33">Actor ID</th>
                    <th class="width-33">First Name</th>
                    <th>Last Name</th>
                   </thead>
                   <tbody>
                        <tr>
                                <td>{{modalRecord.destination}}</td>
                                <td>{{modalRecord.firstname}}</td>
                                <td>{{modalRecord.lastname}}</td>
                            </tr>
                   </tbody>
              
                 </table>
                 <p class="col-12">Content:</p>
                 <table class="table">
                     <thead>
                            <th class="width-33">Amount</th>
                            <th>Transfer Type</th>
                     </thead>
                    
                    <thead>
                            <tr>
                                    <td>{{modalRecord.amount}}$</td>
                                    <td *ngIf="modalRecord.wallettype==true">Value</td>
                                    <td *ngIf="modalRecord.wallettype==false">Fiscal Stamp</td>
                                    <td *ngIf="modalRecord.wallettype!=false && modalRecord.wallettype!=true">{{modalRecord.wallettype}}</td>
                                </tr>
                    </thead>
             
                 </table>
                 <p class="col-12">Indicative Public price:{{modalRecord.amount}}$</p>
              </div>
               
            </div>
            </div>
          
          </div>
          <div *ngIf="modalRecord.transtype=='TOPUP' && modalRecord.resultDesc=='Transaction Successful'">
          <div id="print-section" *ngIf="agenttype=='Direct'" class="card  mb-1 prints" style="border: 1px solid gray;padding: 25px;padding-top:20px;max-width: 400px;margin: auto;">
                             
            <p class="fsize-10" class="text-center mx-3">COPY</p>
           <div class="text-center"> <img class="mb-2" src="./assets/img/alfawhite-logo.png" style="height: 100px;border: 1px solid lightgray;border-radius: 15px;"></div>
         <p class="fsize-10" style="color: gray"><span class="ml-5">{{modalRecord.requestdate[0]}}</span> <span style="float: right;" class="mr-5">{{modalRecord.requestdate[1]}}</span></p>
            <!--  <h6 class="mb-2">MIC 1 for account of ROL</h6>
           
            <p class="fsize-10">VAT NUMBER - {{modalRecord.vat}}</p>
            <p class="fsize-10">RECEIPT NUMBER - {{modalRecord.recipientnumber}}</p>
            <p class="fsize-10">TRANSACTION ID - {{modalRecord.transid}}</p>
            <p class="fsize-10">SERVICE NUMBER - {{modalRecord.agentcode}}</p>
            <p class="fsize-10" class="pb-1">AGENT NAME - {{modalRecord.agentname}}</p>
             -->
             <p class="fsize-10">TRANSACTION ID - {{modalRecord.transid}}</p>
            <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;font-style: italic;border-top: 1px solid;margin-top: 5px !important;padding-top: 5px !important;">AMOUNT  RECEIVED (VAT excluded) </p>
            <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.amountpre}}</p>
            <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">VAT ({{Vat}}%)</p>
            <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.sourcevat}}</p>
            <p class="fsize-10"  style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">FISCAL STAMP (Law 64)</p>
            <p class="fsize-10"  style="margin-top:0px !important;">${{modalRecord.fiscalvat}}</p>
            <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">TOTAL AMOUNT (All Taxes Included)</p>
           
            <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.amount}}</p>
            <p class="fsize-10" style="margin-top:0px !important;">{{totalamountwords}} <span style="float: right;color:black;">Stamp Duty Paid</span></p>
            <!-- <p>Serial Number - 56789</p>
            <p>Card Expiry Date - 10//03/2020 </p>
            <p style="color: gray">To Recharge your line dial</p>
            <p style="color: gray">*14* Alfa recharge code then # and OK </p> -->
            <br>
            <!-- <div class="col-12 text-center   pb-3"><button class="cancel  mx-2"
                (click)="cancel();">Close</button> <button class="proceed ml-5 mx-2"
                (click)="print();">Print</button>
            </div> -->
        </div>

        <div id="print-section" *ngIf="agenttype=='Indirect'" class="card  mb-1 prints" style="border: 1px solid gray;padding: 25px;padding-top:20px;max-width: 400px;margin: auto;">
             
            <p class="fsize-10" class="text-center mx-3">COPY</p>
           <div class="text-center"> <img class="mb-2" src="./assets/img/alfawhite-logo.png" style="height: 100px;border: 1px solid lightgray;border-radius: 15px;"></div>
           <p class="fsize-10" style="color: gray"><span class="ml-5">{{modalRecord.requestdate[0]}}</span> <span style="float: right;" class="mr-5">{{modalRecord.requestdate[1]}}</span></p>
           <p class="fsize-10">TRANSACTION ID - {{modalRecord.transid}}</p>
            
            <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;font-style: italic;border-top: 1px solid;margin-top: 5px !important;padding-top: 5px !important;">AMOUNT  RECEIVED (VAT excluded) </p>
            <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.amountpre}}</p>
            <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">VAT ({{Vat}}%)</p>
            <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.sourcevat}}</p>
            <p class="fsize-10"  style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">FISCAL STAMP (Law 64)</p>
            <p class="fsize-10"  style="margin-top:0px !important;">${{modalRecord.fiscalvat}}</p>
            <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">TOTAL AMOUNT (All Taxes Included)</p>
            <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.amountpre+modalRecord.sourcevat+modalRecord.fiscalvat | number : '1.2-2'}}</p>
            <p class="fsize-10" style="margin-top:0px !important;">{{totalamountwords}}</p>
            <!-- <p>Serial Number - 56789</p>
            <p>Card Expiry Date - 10//03/2020 </p>
            <p style="color: gray">To Recharge your line dial</p>
            <p style="color: gray">*14* Alfa recharge code then # and OK </p> -->
            <br>
          
        </div>
        <!-- <div class="col-12 text-center   pb-3"><button class="cancel  mx-2"
            (click)="cancel();">CLOSE</button> <button class="proceed ml-5 mx-2"
            (click)="print();">PRINT</button>
        </div> -->
        <br>
          
        </div>
     <div *ngIf="modalRecord.transtype=='BULKPINPURCHASE' && modalRecord.resultDesc=='Transaction Successful' && f3==false">
      <div id="print-section"  *ngIf="agenttype=='Direct' && modalRecord.voucherrecords.vouchercount>1" class="row">
        <div *ngFor="let recipt of modalRecord.voucherrecords.voucherrecord;" class="card col-sm-6 offset-sm-3  mb-1 prints page-break" style="padding: 25px;padding-top:0px;">
     
                <p class="text-center mx-3">COPY</p>
               <div class="text-center"> <img class="mb-2" src="./assets/img/alfawhite-logo.png" style="height: 100px;border: 1px solid lightgray;border-radius: 15px;"></div>
               <p class="fsize-10" style="color: gray"><span class="ml-5">{{modalRecord.requestdate[0]}}</span> <span style="float: right;" class="mr-5">{{modalRecord.requestdate[1]}}</span></p>
               <p class="mb-2 fsize-12">MIC 1 for account of ROL</p>
               
                <p class="fsize-10">VAT NUMBER - {{recipt.serialno}}</p>
                <p class="fsize-10">RECEIPT NUMBER - {{recipt.recipientnumber}}</p>
                <p class="fsize-10">TRANSACTION ID - {{recipt.transid}}</p>
              
                <p class="" class="pb-1 fsize-10">AGENT NAME - {{firstname}} {{lastname}}</p>
                <!-- <div class="text-center">
                    <p class="fsize-12">ALFA RECHARGE CODE</p>
                    <p class="pt-2 pb-2 fsize-12" style="border-top:1px solid whitesmoke;border-bottom:1px solid whitesmoke;">{{recipt.pinno}} </p>
                </div> -->
                <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">AMOUNT  RECEIVED (VAT excluded) </p>
                <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.amountpre}}</p>
                <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">VAT ({{vat}}%)</p>
                <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.sourcevat}}</p>
                <p class="fsize-10" *ngIf="fiscalStamp" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">FISCAL STAMP (Law 64)</p>
                <p class="fsize-10" *ngIf="fiscalStamp" style="margin-top:0px !important;">${{modalRecord.fiscalvat}}</p>
                <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">TOTAL AMOUNT (All Taxes Included)</p>
                <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.amountpre+modalRecord.sourcevat+modalRecord.fiscalvat | number : '1.2-2'}}</p>
                <p class="fsize-10" style="margin-top:0px !important;border-bottom: solid 1px;">{{totalamountwords}}</p>
                <p class="fsize-10">Serial Number - {{recipt.serialno}}</p>
                <p class="fsize-10">Card Expiry Date - {{recipt.expirydate}} </p>
                
                <p class="fsize-10" style="color: gray">*14* Alfa recharge code then # and OK <span style="float: right;color:black;">Stamp Duty Paid</span></p>
                <br>
                <p class="fsize-10" style="page-break-before: always">&nbsp;</p>
            </div>
</div>
<div id="print-section"  *ngIf="agenttype=='Direct' && modalRecord.voucherrecords.vouchercount==1" class="row">
        <div class="card col-sm-6 offset-sm-3  mb-1 prints page-break" style="padding: 25px;padding-top:0px;">
     
                <p class="text-center mx-3">COPY</p>
               <div class="text-center"> <img class="mb-2" src="./assets/img/alfawhite-logo.png" style="height: 100px;border: 1px solid lightgray;border-radius: 15px;"></div>
               <p class="fsize-10" style="color: gray"><span class="ml-5">{{modalRecord.requestdate[0]}}</span> <span style="float: right;" class="mr-5">{{modalRecord.requestdate[1]}}</span></p>
               <p class="mb-2 fsize-12">MIC 1 for account of ROL</p>
               
                <p class="fsize-10">VAT NUMBER - {{modalRecord.voucherrecords.voucherrecord.vat}}</p>
                <p class="fsize-10">RECEIPT NUMBER - {{modalRecord.voucherrecords.voucherrecord.recipientnumber}}</p>
                <p class="fsize-10">TRANSACTION ID - {{modalRecord.transid}}</p>
              
                <p class="" class="pb-1 fsize-10">AGENT NAME - {{firstname}} {{lastname}}</p>
                <!-- <div class="text-center">
                    <p class="fsize-12">ALFA RECHARGE CODE</p>
                    <h6 class="pt-2 pb-2 fsize-12" style="border-top:1px solid whitesmoke;border-bottom:1px solid whitesmoke;">{{modalRecord.voucherrecords.voucherrecord.pinno}} </h6>
                </div> -->
                <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">AMOUNT  RECEIVED (VAT excluded) </p>
                <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.amountpre}}</p>
                <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">VAT ({{Vat}}%)</p>
                <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.sourcevat}}</p>
                <p class="fsize-10" *ngIf="fiscalStamp" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">FISCAL STAMP (Law 64)</p>
                <p class="fsize-10" *ngIf="fiscalStamp" style="margin-top:0px !important;">${{modalRecord.fiscalvat}}</p>
                <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">TOTAL AMOUNT (All Taxes Included)</p>
                <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.amountpre+modalRecord.sourcevat+modalRecord.fiscalvat | number : '1.2-2'}}</p>
                <p class="fsize-10" style="margin-top:0px !important;border-bottom: solid 1px;">{{totalamountwords}}</p>
                <p class="fsize-10">Serial Number - {{modalRecord.voucherrecords.voucherrecord.serialno}}</p>
                <p class="fsize-10">Card Expiry Date - {{modalRecord.voucherrecords.voucherrecord.expirydate}} </p>
                
                <p class="fsize-10" style="color: gray">*14* Alfa recharge code then # and OK <span style="float: right;color:black;">Stamp Duty Paid</span></p>
                <br>
                <p class="fsize-10" style="page-break-before: always">&nbsp;</p>
            </div>
</div>

<div id="print-section"  *ngIf="agenttype=='Indirect' && modalRecord.voucherrecords.vouchercount>1" class="row">
        <div *ngFor="let recipt of modalRecord.voucherrecords.voucherrecord;"  class="card col-sm-6 offset-sm-3  mb-1 prints page-break" style="padding: 25px;padding-top:0px;">
     
                <p class="text-center mx-3">COPY</p>
               <div class="text-center"> <img class="mb-2" src="./assets/img/alfawhite-logo.png" style="height: 100px;border: 1px solid lightgray;border-radius: 15px;"></div>
               <p class="fsize-10" style="color: gray"><span class="ml-5">{{modalRecord.requestdate[0]}}</span> <span style="float: right;" class="mr-5">{{modalRecord.requestdate[1]}}</span></p>
               <p class="fsize-10">RECEIPT ID - {{recipt.recipientnumber}}</p>
                <!-- <div class="text-center">
                    <p class="fsize-12">ALFA RECHARGE CODE</p>
                    <p class="pt-2 pb-2 fsize-12" style="border-top:1px solid whitesmoke;border-bottom:1px solid whitesmoke;">{{recipt.pinno}} </p>
                </div> -->
                <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">AMOUNT  RECEIVED (VAT excluded) </p>
                <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.amountpre}}</p>
                <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">VAT ({{Vat}}%)</p>
                <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.sourcevat}}</p>
                <p class="fsize-10" *ngIf="fiscalStamp" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">FISCAL STAMP (Law 64)</p>
                <p class="fsize-10" *ngIf="fiscalStamp" style="margin-top:0px !important;">${{modalRecord.fiscalvat}}</p>
                <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">TOTAL AMOUNT (All Taxes Included)</p>
                <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.amountpre+modalRecord.sourcevat+modalRecord.fiscalvat | number : '1.2-2'}}</p>
                <p class="fsize-10" style="margin-top:0px !important;border-bottom: solid 1px;">{{modalRecord.totalamountwords}}</p>
                <p class="fsize-10">Serial Number - {{recipt.serialno}}</p>
                <p class="fsize-10">Card Expiry Date - {{recipt.expirydate}} </p>
                
                
                
                <p class="fsize-10" style="page-break-before: always">&nbsp;</p>  
            </div>
</div>
<div id="print-section"  *ngIf="agenttype=='Indirect' && modalRecord.voucherrecords.vouchercount==1" class="row">
        <div  class="card col-sm-6 offset-sm-3  mb-1 prints page-break" style="padding: 25px;padding-top:0px;">
     
                <p class="text-center mx-3">COPY</p>
               <div class="text-center"> <img class="mb-2" src="./assets/img/alfawhite-logo.png" style="height: 100px;border: 1px solid lightgray;border-radius: 15px;"></div>
               <p class="fsize-10" style="color: gray"><span class="ml-5">{{modalRecord.requestdate[0]}}</span> <span style="float: right;" class="mr-5">{{modalRecord.requestdate[1]}}</span></p>
               <p class="fsize-10">RECEIPT ID - {{modalRecord.voucherrecords.voucherrecord.recipientnumber}}</p>
                <!-- <div class="text-center">
                    <p class="fsize-12">ALFA RECHARGE CODE</p>
                    <h6 class="pt-2 pb-2 fsize-12" style="border-top:1px solid whitesmoke;border-bottom:1px solid whitesmoke;">{{modalRecord.voucherrecords.voucherrecord.pinno}} </h6>
                </div> -->
                <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">AMOUNT  RECEIVED (VAT excluded) </p>
                <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.amountpre}}</p>
                <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">VAT ({{Vat}}%)</p>
                <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.sourcevat}}</p>
                <p class="fsize-10" *ngIf="fiscalStamp" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">FISCAL STAMP (Law 64)</p>
                <p class="fsize-10" *ngIf="fiscalStamp" style="margin-top:0px !important;">${{modalRecord.fiscalvat}}</p>
                <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">TOTAL AMOUNT (All Taxes Included)</p>
                <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.amountpre+modalRecord.sourcevat+modalRecord.fiscalvat | number : '1.2-2'}}</p>
                <p class="fsize-10" style="margin-top:0px !important;border-bottom: solid 1px;">{{totalamountwords}}</p>
                <p class="fsize-10">Serial Number - {{modalRecord.voucherrecords.voucherrecord.serialno}}</p>
                <p class="fsize-10">Card Expiry Date - {{modalRecord.voucherrecords.voucherrecord.expirydate}} </p>
                
                
                
                <p style="page-break-before: always">&nbsp;</p>
            </div>
</div>   
     </div>
     <div *ngIf="modalRecord.transtype=='BULKPINPURCHASE' && modalRecord.resultDesc=='Transaction Successful' && f3==true">
      <div id="print-section"  *ngIf="agenttype=='Direct' && modalRecord.voucherrecords.vouchercount>1" class="row">
        <div *ngFor="let recipt of modalRecord.voucherrecords.voucherrecord;" class="card col-sm-6 offset-sm-3  mb-1 prints page-break" style="padding: 25px;padding-top:0px;">
     
                <p class="text-center mx-3">COPY</p>
               <div class="text-center"> <img class="mb-2" src="./assets/img/alfawhite-logo.png" style="height: 100px;border: 1px solid lightgray;border-radius: 15px;"></div>
               <p class="fsize-10" style="color: gray"><span class="ml-5">{{modalRecord.requestdate[0]}}</span> <span style="float: right;" class="mr-5">{{modalRecord.requestdate[1]}}</span></p>
               <p class="mb-2 fsize-12">MIC 1 for account of ROL</p>
               
                <p class="fsize-10">VAT NUMBER - {{recipt.serialno}}</p>
                <p class="fsize-10">RECEIPT NUMBER - {{recipt.recipientnumber}}</p>
                <p class="fsize-10">TRANSACTION ID - {{recipt.transid}}</p>
              
                <p class="" class="pb-1 fsize-10">AGENT NAME - {{firstname}} {{lastname}}</p>
                <!-- <div class="text-center">
                    <p class="fsize-12">ALFA RECHARGE CODE</p>
                    <p class="pt-2 pb-2 fsize-12" style="border-top:1px solid whitesmoke;border-bottom:1px solid whitesmoke;">{{recipt.pinno}} </p>
                </div> -->
                <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">AMOUNT  RECEIVED (VAT excluded) </p>
                <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.amountpre}}</p>
                <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">VAT ({{vat}}%)</p>
                <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.sourcevat}}</p>
                <p class="fsize-10" *ngIf="fiscalStamp" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">FISCAL STAMP (Law 64)</p>
                <p class="fsize-10" *ngIf="fiscalStamp" style="margin-top:0px !important;">${{modalRecord.fiscalvat}}</p>
                <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">TOTAL AMOUNT (All Taxes Included)</p>
                <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.amountpre+modalRecord.sourcevat+modalRecord.fiscalvat | number : '1.2-2'}}</p>
                <p class="fsize-10" style="margin-top:0px !important;border-bottom: solid 1px;">{{modalRecord.totalamountwords}}</p>
                <p class="fsize-10">Serial Number - {{recipt.serialno}}</p>
                <p class="fsize-10">Card Expiry Date - {{recipt.expirydate}} </p>
                
                <p class="fsize-10" style="color: gray">*14* Alfa recharge code then # and OK <span style="float: right;color:black;">Stamp Duty Paid</span></p>
                
               
            </div>
</div>
<div id="print-section"  *ngIf="agenttype=='Direct' && modalRecord.voucherrecords.vouchercount==1" class="row">
        <div class="card col-sm-6 offset-sm-3  mb-1 prints page-break" style="padding: 25px;padding-top:0px;">
     
                <p class="text-center mx-3">COPY</p>
               <div class="text-center"> <img class="mb-2" src="./assets/img/alfawhite-logo.png" style="height: 100px;border: 1px solid lightgray;border-radius: 15px;"></div>
               <p class="fsize-10" style="color: gray"><span class="ml-5">{{modalRecord.requestdate[0]}}</span> <span style="float: right;" class="mr-5">{{modalRecord.requestdate[1]}}</span></p>
               <p class="mb-2 fsize-12">MIC 1 for account of ROL</p>
               
                <p class="fsize-10">VAT NUMBER - {{modalRecord.voucherrecords.voucherrecord.vat}}</p>
                <p class="fsize-10">RECEIPT NUMBER - {{modalRecord.voucherrecords.voucherrecord.recipientnumber}}</p>
                <p class="fsize-10">TRANSACTION ID - {{modalRecord.transid}}</p>
              
                <p class="" class="pb-1 fsize-10">AGENT NAME - {{firstname}} {{lastname}}</p>
                <!-- <div class="text-center">
                    <p class="fsize-12">ALFA RECHARGE CODE</p>
                    <h6 class="pt-2 pb-2 fsize-12" style="border-top:1px solid whitesmoke;border-bottom:1px solid whitesmoke;">{{modalRecord.voucherrecords.voucherrecord.pinno}} </h6>
                </div> -->
                <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">AMOUNT  RECEIVED (VAT excluded) </p>
                <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.amountpre}}</p>
                <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">VAT ({{Vat}}%)</p>
                <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.sourcevat}}</p>
                <p class="fsize-10" *ngIf="fiscalStamp" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">FISCAL STAMP (Law 64)</p>
                <p class="fsize-10" *ngIf="fiscalStamp" style="margin-top:0px !important;">${{modalRecord.fiscalvat}}</p>
                <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">TOTAL AMOUNT (All Taxes Included)</p>
                <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.amountpre+modalRecord.sourcevat+modalRecord.fiscalvat | number : '1.2-2'}}</p>
                <p class="fsize-10" style="margin-top:0px !important;border-bottom: solid 1px;">{{totalamountwords}}</p>
                <p class="fsize-10">Serial Number - {{modalRecord.voucherrecords.voucherrecord.serialno}}</p>
                <p class="fsize-10">Card Expiry Date - {{modalRecord.voucherrecords.voucherrecord.expirydate}} </p>
                
                <p class="fsize-10" style="color: gray">*14* Alfa recharge code then # and OK <span style="float: right;color:black;">Stamp Duty Paid</span></p>
                
               
            </div>
</div>

<div id="print-section"  *ngIf="agenttype=='Indirect' && modalRecord.voucherrecords.vouchercount>1" class="row">
       <div *ngFor="let recipt of modalRecord.voucherrecords.voucherrecord;"  class="col-sm-6 offset-sm-3   page-break" style="padding: 0px;padding-top:0px;" >
  <div *ngIf="recipt.recipientnumber==historyForm.reciptid" class="prints card px-3 mb-1" style="padding: 25px;padding-top:5px;">
     
                <p class="text-center mx-3">COPY</p>
               <div class="text-center"> <img class="mb-2" src="./assets/img/alfawhite-logo.png" style="height: 100px;border: 1px solid lightgray;border-radius: 15px;"></div>
               <p class="fsize-10" style="color: gray"><span class="ml-5">{{modalRecord.requestdate[0]}}</span> <span style="float: right;" class="mr-5">{{modalRecord.requestdate[1]}}</span></p>
               <p class="fsize-10">RECEIPT ID - {{recipt.recipientnumber}}</p>
                <!-- <div class="text-center">
                    <p class="fsize-12">ALFA RECHARGE CODE</p>
                    <p class="pt-2 pb-2 fsize-12" style="border-top:1px solid whitesmoke;border-bottom:1px solid whitesmoke;">{{recipt.pinno}} </p>
                </div> -->
                <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">AMOUNT  RECEIVED (VAT excluded) </p>
                <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.amountpre}}</p>
                <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">VAT ({{Vat}}%)</p>
                <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.sourcevat}}</p>
                <p class="fsize-10" *ngIf="fiscalStamp" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">FISCAL STAMP (Law 64)</p>
                <p class="fsize-10" *ngIf="fiscalStamp" style="margin-top:0px !important;">${{modalRecord.fiscalvat}}</p>
                <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">TOTAL AMOUNT (All Taxes Included)</p>
                <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.amountpre+modalRecord.sourcevat+modalRecord.fiscalvat | number : '1.2-2'}}</p>
                <p class="fsize-10" style="margin-top:0px !important;border-bottom: solid 1px;">{{modalRecord.totalamountwords}}</p>
                <p class="fsize-10">Serial Number - {{recipt.serialno}}</p>
                <p class="fsize-10">Card Expiry Date - {{recipt.expirydate}} </p>
                
                
                
                 
            </div>
            </div>
</div>
<div id="print-section"  *ngIf="agenttype=='Indirect' && modalRecord.voucherrecords.vouchercount==1" class="row">
        <div  class="card col-sm-6 offset-sm-3  mb-1 prints page-break" style="padding: 25px;padding-top:0px;">
     
                <p class="text-center mx-3">COPY</p>
               <div class="text-center"> <img class="mb-2" src="./assets/img/alfawhite-logo.png" style="height: 100px;border: 1px solid lightgray;border-radius: 15px;"></div>
               <p class="fsize-10" style="color: gray"><span class="ml-5">{{modalRecord.requestdate[0]}}</span> <span style="float: right;" class="mr-5">{{modalRecord.requestdate[1]}}</span></p>
               <p class="fsize-10">RECEIPT ID - {{modalRecord.voucherrecords.voucherrecord.recipientnumber}}</p>
                <!-- <div class="text-center">
                    <p class="fsize-12">ALFA RECHARGE CODE</p>
                    <h6 class="pt-2 pb-2 fsize-12" style="border-top:1px solid whitesmoke;border-bottom:1px solid whitesmoke;">{{modalRecord.voucherrecords.voucherrecord.pinno}} </h6>
                </div> -->
                <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">AMOUNT  RECEIVED (VAT excluded) </p>
                <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.amountpre}}</p>
                <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">VAT ({{Vat}}%)</p>
                <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.sourcevat}}</p>
                <p class="fsize-10" *ngIf="fiscalStamp" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">FISCAL STAMP (Law 64)</p>
                <p class="fsize-10" *ngIf="fiscalStamp" style="margin-top:0px !important;">${{modalRecord.fiscalvat}}</p>
                <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">TOTAL AMOUNT (All Taxes Included)</p>
                <p class="fsize-10" style="margin-top:0px !important;">${{modalRecord.amountpre+modalRecord.sourcevat+modalRecord.fiscalvat | number : '1.2-2'}}</p>
                <p class="fsize-10" style="margin-top:0px !important;border-bottom: solid 1px;">{{totalamountwords}}</p>
                <p class="fsize-10">Serial Number - {{modalRecord.voucherrecords.voucherrecord.serialno}}</p>
                <p class="fsize-10">Card Expiry Date - {{modalRecord.voucherrecords.voucherrecord.expirydate}} </p>
                
                
                
          
            </div>
</div>   
     </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark proceed" (click)="print()">PRINT</button>
            
            
          </div>
        </ng-template>
        