<div class="app-body mt-3 pt-3">
  <main class="main d-flex align-items-center mt-3 pt-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-9 col-sm-7 mx-auto" class="Review-card" style="border: none;">
          <div class="card-group">
            <div class="card" style="border-radius: 0;box-shadow: none;border-top: none !important;">
              <div class="card-header p-2 " style="background:#d0001b;border-radius: 0; ">
                <div class="row"><div class="text-center col-3"><img src="./assets/img/alfawhite-logo.png" style="max-height: 40px;float: left;"></div>  <div class="col-8" style="color: white;font-size: 25px;"><i><b>ALFA</b> TOP UP</i></div></div>
              </div>
              <div class="card-body bdy" style="border: 1px solid #ccc;border-top: none !important;padding:0 30px;">
                <br>
                <form (submit)="submit();">
                  <!-- <div class="row">
                    <div class="col-8">
                      <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                    </div>
                    <div class="col-4">
                     
                    </div>
                  </div> -->
                  <!-- <div class="col-12"><a (click)="help();"><i class="fas fa-question-circle ml-2 mt-2" style="float:right;color:#d0001b;font-size: 20px; "></i></a></div> -->
                  <div *ngFor="let types of inputTypes;let i=index;">
                    
                     
               
                      <div class="row mx-2 mb-2">
            
                          <input title=" " pattern="/[A-Z]{5}\d{4}[A-Z]{1}/i" style="font-size: 18px;
                          font-weight: normal;
                          /* font-family:Open Sans;   */
                            font-style: italic;
    letter-spacing: 0.05rem;color:#969696;width: 302px;
    margin: auto;
" *ngIf="types.type=='text'" class="form-control border-radius-0" type="text" min="1" max="9999999999"    [(ngModel)]="model[types.name]" 
                        placeholder="Enter Username" name="types.name" required> 
                        <input title=" " pattern="/[A-Z]{5}\d{4}[A-Z]{1}/i" style="font-size: 18px;
                        font-weight: normal;
                        /* font-family:Open Sans; */
                        color:#969696;width: 302px;    font-style: italic;
    margin: auto;
    letter-spacing: 0.05rem;
" *ngIf="types.type=='password'" class="form-control  border-radius-0" type="password"    [(ngModel)]="model[types.name]" 
                        [placeholder]="types.placeholder" name="types.name" required> 
   
                        <!-- <select *ngIf="types.type=='select'" class="col-12 mb-1 p-2" >
                          <option *ngFor="let option of types.options" [value]="option.value">{{option.name}}</option>
                        </select> -->
                      </div>
                                     
                    
                  </div>
                  <div class="row mx-2">
                  <div style="margin: auto;">
                    <form [formGroup]="reactiveForm">
                      <re-captcha formControlName="recaptchaReactive"
                      ></re-captcha>
                    </form>
                    
                      
                   
                  </div>
                </div>
                  <!-- [disabled]="reactiveForm.invalid" -->
                 
                  <div class="row mt-2">
                    <div class="col-12 text-center">
                      <!-- <button type="submit" [disabled]="clicked || reactiveForm.invalid" class="btn btn-warning border-radius-0 pl-4 pr-4 mb-0" style="font-size: 20px;background-color:#F4A51C;font-family: todayshop-bolditalicregular; " ><i><b>LOGIN</b></i></button> -->
                      <button type="submit" [disabled]="clicked" class="btn  border-radius-0 pl-4 pr-4 mb-0 proceed" style="font-size: 20px;background-color:#F4A51C;font-family: todayshop-bolditalicregular; " ><b>LOGIN</b></button>
                    </div>
                    <div class="col-12 text-center">
                <!-- <a [routerLink]="['/forgot-password']"><button type="button" class="link_text" ><i>Forgot password?</i></button></a> -->
                <a [routerLink]="['/forgot-password']" class="link_text mb-3">Forgot Password</a>	
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- <div class="card text-white bg-primary py-5 d-sm-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>To become a part of our group</p>
                  <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<!-- <div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form>
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input title=" " type="text" class="form-control" placeholder="Username" autocomplete="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input title=" " type="password" class="form-control" placeholder="Password" autocomplete="current-password" required>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary px-4">Login</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Forgot password?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-sm-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
 </div> -->
 <!-- <button type="submit" (click)="lout();" class="btn btn-warning border-radius-0 pl-4 pr-4 mb-0" style="font-size: 20px;background-color:#F4A51C;font-family: todayshop-bolditalicregular; " ><i><b>Manual LOGout</b></i></button> -->
