.proceed{font-family: 'todayshop-mediumitalicregular' !important; letter-spacing: 1px;font-weight: bolder;
    background-color: #F4A51C;
    color: white;
}
.cancel{font-family: 'todayshop-mediumitalicregular' !important; font-weight: bolder;
    background-color: #bfbcbc;
    color: white;font-weight: 400;     border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;    font-family: 'todayshop-boldregular';letter-spacing: 1px; 
}
.form-control {
    
    border-radius: 0 !important;
  
  }

  .bs-popover-auto[x-placement^=top], .bs-popover-top {
    margin-bottom: .5rem;
    top:38px !important;
}