<div class="panel-header panel-header-lg">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-header">
                    <!-- <h5 class="card-category">Home</h5> -->
                    <h4 class="card-title">Transfer</h4>
                    <br>
                    <div *ngIf="screen1==true" class="row mb-3">
                        <div class="col-sm-6 mb-3 pb-2">
                            <label class="col-sm-4 col-xs-12">Transaction Type</label> <select class="col-sm-5 col-xs-8" #type>
                                <option value="01">By Value</option>
                              
                            </select>
                        </div>
                        <div class="col-sm-6 mb-3 pb-2">
                            <label class="col-sm-4 col-xs-12">Receiver Actor Id</label> <input title=" " type="number" min="1" max="9999999999" min="0" id="ReceiverActorId"
                             class="col-sm-5 col-xs-8"  required 
                             [(ngModel)]="transferForm.ReceiverActorId" #ReceiverActorId="ngModel">
                            <div *ngIf="ReceiverActorId.invalid && (ReceiverActorId.dirty || ReceiverActorId.touched)" class="alert alert-danger col-sm-5 offset-sm-4">

                                <div *ngIf="ReceiverActorId.errors.required">
                                   Receiver ActorId is required.
                                </div>
                                <div *ngIf="ReceiverActorId.errors.minlength">
                                   ReceiverActorId must be at least 10 characters long.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3 pb-2">
                                
                                <label class="col-sm-4 col-xs-12">Amount</label> <input title=" " type="number" min="1" max="9999999999" min="0" id="amount"
                                 class="col-sm-5 col-xs-8"  required 
                                 [(ngModel)]="transferForm.amount" #amount="ngModel">
                                <div *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="alert alert-danger col-sm-5 offset-sm-4">
    
                                    <div *ngIf="amount.errors.required">
                                       amount is required.
                                    </div>
                                    <div *ngIf="amount.errors.minlength">
                                       amount must be at least 10 characters long.
                                    </div>
                                
                                </div>
                            </div>
                    <div class="col-sm-6 mb-3 pb-2">
                        <label class="col-sm-4 col-xs-12">MPin</label> <input title=" " type="password" id="mpin"
                            class="col-sm-5 col-xs-8" required [(ngModel)]="transferForm.mpin" #mpin="ngModel">
                            <div *ngIf="mpin.invalid && (mpin.dirty || mpin.touched)" class="alert alert-danger col-sm-5 offset-sm-4">

                                    <div *ngIf="mpin.errors.required">
                                       mpin is required.
                                    </div>
                                    <div *ngIf="mpin.errors.minlength">
                                       mpin must be at least 10 characters long.
                                    </div>
                                
                                </div>
                    </div>
                      
                        <br>
                        <div class="col-12 text-center mb-3">
                            <button class="proceed mx-2" (click)="screen2Show(type.value);"><b>SUBMIT</b></button>
                        </div>
                    </div>

                    <!-- <div *ngIf="screen2==true" class="row ">
                            <div class="col-12 text-center mb-3"><h5 class="text-center">{{transType}}</h5></div>
                           
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="col-12 text-center mb-3 pb-3"><button class="cancel mx-2"
                                (click)="cancel();">Cancel</button>
                            <button class="proceed mx-2" (click)="screen3Show();"><b>SUBMIT</b></button>
                        </div>
                    </div> -->
                    <div *ngIf="screen3==true" class="row mb-3 text-center">

                            <div class="card col-sm-6 offset-sm-3" style="border: 1px solid gray;">
                                    <div class="card-header"><h5 style="color: #d0001b">Review of Transfer</h5></div>
                                <p>First Name : ABC</p>
                                <p>Last Name : XXXXXXXXX</p>
                                <p>Actor Id: XXXXXXX</p>
                                <p>Pos Name : XXXXXXXXX</p>
                                <p>Amount: XXXXXXX</p>
                                <p>Type of transfer: XXXXXXX</p>
                            </div>
                         
                        <br>
                        <br>
                        <div class="col-12 text-center mb-3 pb-3"><button class="cancel mx-2"
                                (click)="cancel();">Close</button>  <button class="proceed mx-2" (click)="screen4Show();">Confirm</button>

                        </div>
                    </div>

                    <div *ngIf="screen4==true" class="row mb-3 text-center">

                            <div class="card col-sm-6 offset-sm-3 " style="border: 1px solid gray;">
                                    <br>
                                        <h3 style="color: green;" class="text-center mx-3">Transfer Successful</h3>
                                    </div>
                            <br>
                            <br>
                            
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>