.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #d0001b !important;
}
.search{
    font-family: 'todayshop-mediumitalicregular';
    letter-spacing: 1px;    color: #fff;
    background-color: #bfbcbc;
    border-color: #bfbcbc;margin-top: 1rem;    font-weight: 400;
}
.cancel{font-family: 'todayshop-mediumitalicregular' !important; font-weight: bolder;
    background-color: #bfbcbc;
    color: white;font-weight: 400;     border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;    font-family: 'todayshop-boldregular';letter-spacing: 1px; 
    font-weight: bolder;
    min-width: 86px;
}
// .scroll{

//     max-height: 600px;
//     overflow-y: auto;
//   }
.bold{
    font-weight: bold !important;
}
.proceed{font-family: 'todayshop-mediumitalicregular' !important; letter-spacing: 1px;font-weight: bolder;
    font-family: 'todayshop-boldregular';
       color: #fff;
    background-color: #F4A51C;
    border-color: #F4A51C;     display: inline-block;
    font-weight: 400;     border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;    font-family: 'todayshop-boldregular';
    min-width: 86px;
}
.pl-0{
    padding-left:0px !important;
}
.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 100% !important;
}
.table td, .table th {
  
    vertical-align: top ;
   
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 10px 5px;
    vertical-align: middle;
}
.table th {
    padding: .5rem 0.3rem;
    /* border-right: 1px solid #e3e6f0; */
    vertical-align: top;
    border: 1px solid #e3e6f0 !important;
}