<div class="panel-header panel-header-lg">
  </div>
   <div class="row topNavFix" style="margin:0;padding-top:10px; padding-bottom:10px;   background-color: #F5F5F5!important;position: fixed;
    width: 100%;
      ">
      <div >
              <a class="pr-2 py-2 mt-2"  [routerLink]="['/home']" style="color: black;padding-left:0.8rem;"><i class="fa fa-home text-danger" style="margin-right:1rem"></i> Home </a>
      </div>
      <div >
          <a class="px-2 py-2 mt-2"  style="color:rgba(0, 0, 0, .5);">Orders</a>
      </div>
      <div >
              <a class="px-2 py-2 mt-2 text-danger" >Search Order</a>
          </div>
  </div> 
  <div class="main-content">
   
      <div *ngIf="screen1==true;" class="row card ml-1 pt-2 mr-1 mb-0 pb-0">
        <div class="card-body col-12 mb-0 pb-0" style="margin-left: -0.25em;">
          <div class="pl-5 col-sm-12 mb-3 pb-1 mt-3">
              <div class="row">
             <div class="col-sm-2 col-xs-6"><label >Order ID</label></div>     <div class="col-sm-4" style="padding:0;"><input style="width:100% !important;" title=" " type="text" id="name"
               required [(ngModel)]="searchOrderForm.orderId" #orderId="ngModel"></div> 
              </div>
          </div>
          <div class="pl-5 col-sm-12 mb-3 pb-1">
            <div class="row">
              <label class=" col-sm-2 col-xs-6">Order Date</label>  
              <!-- <input title=" " type="date" id="creationDate"
            class="col-sm-4 " required 
            [(ngModel)]="searchOrderForm.creationDate" #creationDate="ngModel"> -->
            <div class="form-group col-sm-4 px-0 mb-0">
              <div class="input-group mb-0" style="margin-bottom:0px;">
                <input title=" " class="form-control " [placeholder]="cDate" readonly style="border-radius: 0px;background-color: white;"
                       name="d1" [(ngModel)]="creationdatemodel" ngbDatepicker #d1="ngbDatepicker" (dateSelect)="onChangeDateEvent($event)">
                     
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar my-0" style="border-radius: 0px;" (click)="d1.toggle()" type="button"><i class="fas fa-calendar-week"></i></button>
                </div>
              </div>
            </div>
            </div>
            </div>
            <div class="pl-5 col-sm-12 mb-3 pb-1">
                <div class="row">
                  <div class="col-sm-2 col-xs-6"><label >Order Status</label> </div>     <div class="col-sm-4" style="padding:0;">
                    <select [(ngModel)]="searchOrderForm.state"  style="width:100% !important;" #state>
                      <option value="">All</option> 
                      <option value="APPROVEDBYALFA">Approved By Alfa</option>
                        <option value="APPROVEDBYMANAGER">Approved By Manager</option>
                        <option value="PENDING">Pending</option>
                        <option value="CANCELLED">Canceled</option>
                          <option value="REJECTED">Rejected</option> 
                    </select></div> 
                           
                </div>
              </div>
              <div class="pl-5 col-sm-12 mb-3 pb-1">
                  <div class="row">
                    <div class="col-sm-2 col-xs-6">      <label>Order Type</label>     </div>     <div class="col-sm-4" style="padding:0;">
                      <select [(ngModel)]="searchOrderForm.ordertype" style="width:100% !important;"  #state>
                        <option value="true">Value</option>
                        <option value="false">Fiscal Stamp</option>
                      
                       
                    </select></div> 
                   
                </div>
              </div>
              <div class="pl-5 col-sm-12 mb-3 pb-1">
                  <div class="row">
                  <label class="col-sm-2 col-xs-6">Order Date From</label>            
                   <!-- <input title=" " type="date" id="fromDate"
                  class="col-sm-4 " required 
                  [(ngModel)]="searchOrderForm.fromDate" #fromDate="ngModel"> -->
                 
                  <div class="form-group col-sm-4 px-0 mb-0">
                      <div class="input-group mb-0" style="margin-bottom:0px;">
                        <input title=" " class="form-control " [placeholder]="fDate" readonly style="border-radius: 0px;background-color: white;"
                               name="d2" [(ngModel)]="fromdatemodel" ngbDatepicker #d2="ngbDatepicker" (dateSelect)="fromChangeDateEvent($event)">
                             
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar my-0" style="border-radius: 0px;" (click)="d2.toggle()" type="button"><i class="fas fa-calendar-week"></i></button>
                        </div>
                      </div>
                    </div>
                 &nbsp;&nbsp; <span style="margin-top:5px;">To </span>&nbsp;&nbsp;
                 <!-- <input title=" " type="date" id="toDate"
                  class="col-sm-4 " required 
                  [(ngModel)]="searchOrderForm.toDate" #toDate="ngModel"> -->
                  <div class="form-group col-sm-4 px-0 mb-0">
                      <div class="input-group mb-0" style="margin-bottom:0px;">
                        <input title=" " class="form-control " [placeholder]="tDate" readonly style="border-radius: 0px;background-color: white;"
                               name="d3" [(ngModel)]="todatemodel" ngbDatepicker #d3="ngbDatepicker" (dateSelect)="toChangeDateEvent($event)">
                             
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar my-0" style="border-radius: 0px;" (click)="d3.toggle()" type="button"><i class="fas fa-calendar-week"></i></button>
                        </div>
                      </div>
                    </div>
                 </div>
                </div>
                <div class="pl-5 col-sm-12 mb-0 pb-1">
                    <div class="row">
                    <label class="col-sm-2 col-xs-6">Order Expiry Date</label>           
                      <!-- <input title=" " type="date" id="expiryFrom"
                    class="col-sm-4 " required 
                    [(ngModel)]="searchOrderForm.expiryFrom" #expiryFrom="ngModel">
                    <div class="form-group col-sm-4 px-0 mb-0"> -->
                        <div class="form-group col-sm-4 px-0 mb-0">
                        <div class="input-group mb-0" style="margin-bottom:0px;">
                          <input title=" " class="form-control " [placeholder]="efromDate" readonly style="border-radius: 0px;background-color: white;"
                                 name="d4" [(ngModel)]="efdatemodel" ngbDatepicker #d4="ngbDatepicker" (dateSelect)="efChangeDateEvent($event)">
                               
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar my-0" style="border-radius: 0px;" (click)="d4.toggle()" type="button"><i class="fas fa-calendar-week"></i></button>
                          </div>
                        </div>
                        </div>
                      
                   &nbsp;&nbsp; <span style="margin-top:5px;">To </span>&nbsp;&nbsp;
                   <!-- <input title=" " type="date" id="expiryTill"
                    class="col-sm-4 " required 
                    [(ngModel)]="searchOrderForm.expiryTill" #expiryTill="ngModel"> -->
                    <div class="form-group col-sm-4 px-0 mb-0">
                    <div class="input-group mb-0" style="margin-bottom:0px;">
                        <input title=" " class="form-control " [placeholder]="etillDate" readonly style="border-radius: 0px;background-color: white;"
                               name="d5" [(ngModel)]="etdatemodel" ngbDatepicker #d5="ngbDatepicker" (dateSelect)="etChangeDateEvent($event)">
                             
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar my-0" style="border-radius: 0px;" (click)="d5.toggle()" type="button"><i class="fas fa-calendar-week"></i></button>
                        </div>
                      </div>
                      </div>
                    </div>
                   </div>
                   <div class="col-12">  
                      <div class="pl-5 col-sm-10 text-right submit-margin" style="    margin-left: 4.5rem;"> <button class="mx-3 search mb-2 mt-3"  (click)="searchOrderId();" >SEARCH</button></div>
                    </div>
                  </div>
      </div>
         
             <div *ngIf="screen2==true;" class=" mt-0 pt-0 scroll">
              <div class="row text-right my-2" style="float: right;margin-right: 1.3rem;">
                <div class="text-right " style="float: right;">
                 <!-- <label *ngIf="recordCount>1" class=" mx-2 ">Page Count</label>         <select *ngIf="recordCount>1" style="width:75px;" (change)="pagesizechange($event)">
                   <option value="10">10</option>
                   <option value="25">25</option>
                   <option value="50">50</option>
                   <option value="100">100</option>
                  
               </select>
               <a *ngIf="recordCount>1" class="mx-2" style="    font-family: 'todayshop-mediumitalicregular' !important;
         
               background-color: #F4A51C ;
               color: white;
               font-weight: 400;
               border: 1px solid transparent;
               padding: .375rem .75rem;      
          
               letter-spacing: 1px;
               border-radius: 0px !important;
               cursor: pointer;" (click)="csvdownload();">EXPORT TO CSV</a> -->
               <a style=" float:right;   font-family: 'todayshop-mediumitalicregular' !important;
              
               background-color: #bfbcbc;
               color: white;
               font-weight: bolder;
               border: 1px solid transparent;
               padding: .375rem .75rem;      
            
               letter-spacing: 1.8px;
               border-radius: 0px !important;
               cursor: pointer;" class=" mx-2" (click)="close();">CLOSE</a>
                </div>
                 </div>
              <div class="card" style="z-index: 1;">
  <div class="table-responsive card-body">
      <table *ngIf="recordcount==1" class="table">
          <thead class=" text-primary">
            
            <th>
                Order Id
              </th>
           
            <th>
              Transaction Id
            </th>
            <th>
              Username
            </th>
            <th>
              Agent code
            </th>
            <th>
              Amount
            </th>
            <th>
                Notifier
              </th>
              <th>Total</th>
              <th>Status</th>
              <th>Order Type</th>
              <th>
                Order Date
              </th>
              <th>
                Expiry Date
              </th>
              <th>Action</th>
          </thead>
          <tbody>
            <tr>
              
              <td> 
                {{orderById.orderid}}
               </td>
              
              <td>{{orderById.transid}}</td>
              <td>{{username}}</td>
              <td>{{agentcode}}</td>
              <td> 
                    ${{orderById.amount}}
              </td>
              <td> 
                {{orderById.destination}}
          </td>
          <td> ${{orderById.totalamount}}</td>
          <td> {{orderById.status}}</td>
          <td *ngIf="orderById.wallettype==true"> 
            Value
      </td>
      <td *ngIf="orderById.wallettype==false">
        Fiscal Stamp
  </td>
          <td>
            {{orderById.date}}
      </td>
     
      <td *ngIf="orderById.expirydate"> 
        {{orderById.expirydate}} 
  </td>
  <td *ngIf="!orderById.expirydate">No expiry</td>
  <td>  <span *ngIf="orderById.status=='Approved By Alfa' || orderById.status=='approved by alfa' || orderById.status=='APPROVED BY ALFA'"><button class="proceed mx-1" (click)="printOpen(content,orderById);">PRINT</button></span>
    <span *ngIf="orderById.status=='CREATED' || orderById.status=='PENDING' || orderById.status=='Pending' || orderById.status=='pending'"><button class="proceed mx-1 my-2" (click)="open(content,orderById);">EDIT</button> <button *ngIf="orderById.status!='CANCELLED' || orderById.status!='Cancelled' || orderById.status!='cancelled'" class="cancel mx-1" (click)="rejectOrder(orderById.orderid);">CANCEL</button> </span>
     </td>
            </tr>
          
          </tbody>
        </table>
        <table *ngIf="recordcount>1" class="table">
          <thead class=" text-primary">
            
            <th>
                Order Id
              </th>
           
            <th>
              Transaction Id
            </th>
            <th>
              Username
            </th>
            <th>
              Agent code
            </th>
            <th>
              Amount
            </th>
            <th>
                Notifier
              </th>
              <th>Total</th>
              <th>Status</th>
              <th>Order Type</th>
              <th>
                Order Date
              </th>
              <th>
                Expiry Date
              </th>
              <th>Action</th>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              
              <td> 
                {{order.orderid}}
               </td>
              
              <td>{{order.reftransid}}</td>
              <td>{{username}}</td>
              <td>{{agentcode}}</td>
              <td> 
                    ${{order.amount}}
              </td>
              <td> 
                {{order.destination}}
          </td>
          <td> ${{order.totalamount}}</td>
          <td> {{order.status}}</td>
          <td *ngIf="order.wallettype==true">
            Value
      </td>
      <td *ngIf="order.wallettype==false"> 
        Fiscal Stamp
  </td>
          <td> 
            {{order.date}}
      </td>
      <td *ngIf="order.expirydate"> 
        {{order.expirydate}} 
  </td>
  <td *ngIf="!order.expirydate">No expiry</td>
  <td><span *ngIf="order.status=='Approved By Alfa' || order.status=='approved by alfa' || order.status=='APPROVED BY ALFA'" ><button class="proceed mx-1" (click)="printOpen(content,order);">PRINT</button></span>
    <span *ngIf="order.status=='CREATED' || order.status=='PENDING' || order.status=='Pending' || order.status=='pending'"><button class="proceed mx-1 my-2" (click)="open(content,order);">EDIT</button> <button *ngIf="order.status!='CANCELLED'  || order.status!='Cancelled' || order.status!='cancelled'" class="cancel mx-1" (click)="rejectOrder(order.orderid);">CANCEL</button></span>
     </td>
           </tr>
          
          </tbody>
        </table>
  </div>
              </div>
            </div>
        

        </div>
        
    
  
  <ng-template #content let-c="close" let-d="dismiss">
    <div>
        <div class="modal-header">
            <h4 class="modal-title text-primary" id="modal-basic-title" >&nbsp; Order Detail</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true" style="color: black;">&times;</span>
            </button>
          </div>
          
          <div >
            <!-- <div class="row mx-2 py-1" >
              <div class="ml-3 pl-4" > Order Detail</div>
            </div> -->
            <div id="print-section" class="modal-body">
              <h5 class="text-center" style="color: #d0001b; font-weight: 800;">Approved by alfa</h5>
            <div class="row">
              <!-- <div class="col-sm-12 pl-2 pb-2">
                <label class="col-sm-3 col-xs-12">Transaction id</label> &nbsp; <label *ngIf="printOrder.transid">{{printOrder.transid}}</label><label *ngIf="printOrder.reftransid">{{printOrder.reftransid}}</label>
               
            </div> -->
            <div class="col-sm-12 pl-2 pb-2">
              <label class="col-sm-2 col-xs-12 bold">Order id</label> &nbsp; <label>{{printOrder.orderid}}</label>
              
          </div>
              <div class="col-sm-12 pl-2 pb-2">
                      <label class="col-sm-2 col-xs-12 bold"> Date</label> &nbsp; <label>{{printOrder.date}} 00:00:00.0</label>
                     
                  </div>
                  <div class="col-sm-12 pl-2 pb-2">
                    <label class="col-sm-2 col-xs-12 bold">Need Date</label> &nbsp; <label *ngIf="printOrder.neededdate">{{printOrder.neededdate}} 00:00:00.0</label>
                   
                </div>
                  <div class="col-sm-12 pl-2 pb-2" style="    margin-left: 0.8rem;">
                    <div class="row">
                      <div class="col-sm-2 col-xs-12 bold ">Sender</div>  
                    <div class="col-sm-10 pl-0">
                      <table  class="table">
                        <thead class=" text-primary">
                          
                          <th  style="width:33.33%">
                              Actor Id
                            </th>
                         
                          <th  style="width:33.33%">
                            First Name
                          </th>
                          <th  style="width:33.33%">
                           Last Name
                          </th>
                        </thead>
                        <tbody>
                          <tr>
                            
                            <td > &nbsp;&nbsp;
                              {{agentcode}}
                             </td>
                            
                            <td >{{agentname}}</td>
                            <td >{{lastname}}</td>
                          </tr>
                        
                        </tbody>
                      </table>
                    </div>
                    </div>
                    
                       
                </div>
                <div class="col-sm-12 pl-2 pb-2" style="    margin-left: 0.8rem;">
                  <div class="row">
                    <div class="col-sm-2 col-xs-12 bold ">For</div>  
                  <div class="col-sm-10 pl-0">
                    <table  class="table">
                      <thead class=" text-primary">
                        
                        <th  style="width:33.33%">
                            Actor Id
                          </th>
                       
                        <th  style="width:33.33%">
                          First Name
                        </th>
                        <th  style="width:33.33%">
                          Last Name
                        </th>
                      </thead>
                      <tbody>
                        <tr>
                          
                          <td > &nbsp;&nbsp;
                            {{agentcode}}
                           </td>
                          
                          <td >{{agentname}}</td>
                          <td >{{lastname}}</td>
                        </tr>
                      
                      </tbody>
                    </table>
                  </div>
                  </div>
                  
                     
              </div>
          <!-- <div class="col-sm-12 pl-2 pb-2" style="    margin-left: 0.8rem;">
              <label class="col-sm-2 col-xs-12 bold">Quantity</label> &nbsp; <label>${{printOrder.quantity}}</label>
                 
          </div> -->
          <div class="col-sm-12 pl-2 pb-2" style="    margin-left: 0.8rem;">
            <div class="row">
              <div class="col-sm-2 col-xs-12 bold ">Selling Price</div>  
            <div class="col-sm-10 pl-0">
              <table  class="table">
                <thead class=" text-primary">
                  
                  <th  style="width:33.33%">
                      Amount
                    </th>
                 
                  <th  style="width:33.33%">
                    Order Type 
                  </th>
                  <th  style="width:33.33%">
                    Total
                  </th>
                </thead>
                <tbody>
                  <tr>
                    
                    <td > &nbsp;&nbsp;
                      ${{printOrder.amount}}
                     </td>
                    
                    <td  *ngIf="printOrder.wallettype==true">Value</td><td *ngIf="printOrder.wallettype==false">Fiscal Stamp</td>
                    <td >${{printOrder.totalamount}}</td>
                  </tr>
                
                </tbody>
              </table>
            </div>
            </div>
            
               
        </div>
              <!-- <div class="col-sm-12 pl-2 pb-2">
                  <label class="col-sm-3 col-xs-12">Price</label> &nbsp; <label>${{printOrder.amount}}</label>
                  
              </div>
              <div class="col-sm-12 pl-2 pb-2">
                  <label class="col-sm-3 col-xs-12">Vat</label> &nbsp; <label>${{printOrder.vat}}</label>
                 
              </div>
              <div class="col-sm-12 pl-2 pb-2">
                  <label class="col-sm-3 col-xs-12">Total</label> &nbsp; <label>${{printOrder.totalamount}}</label>
                  
              </div> -->
              <div *ngIf="printOrder.expirydate" class="col-sm-12 pl-2 pb-2">
                  <label class="col-sm-2 col-xs-12 bold">Selling Expiration on</label> &nbsp; <label>{{printOrder.expirydate}} 00:00:00.0</label>
                 
              </div>
              <div class="col-sm-12 pl-2 pb-2" style="    margin-left: 0.8rem;">
                <div class="row">
                  <div class="col-sm-2 col-xs-12 bold ">Additional Notification</div>  
                <div class="col-sm-10 pl-0">
                  <table  class="table">
                    <thead class=" text-primary">
                      
                      <th  style="width:33.33%">
                          Actor Id
                        </th>
                     
                      <th  style="width:33.33%">
                        First Name
                      </th>
                      <th  style="width:33.33%">
                        Last Name
                      </th>
                    </thead>
                    <tbody>
                      <tr>
                        
                        <td > &nbsp;&nbsp;
                          {{agentcode}}
                         </td>
                        
                        <td >{{agentname}}</td>
                        <td >{{lastname}}</td>
                      </tr>
                    
                    </tbody>
                  </table>
                </div>
                </div>
                
                   
            </div>
              
            </div>
             
          </div>
          </div>
    </div>
   
    <div class="modal-footer" >
      <button type="button" class="proceed" (click)="print();">PRINT</button>
    </div>
  </ng-template>
 