<div class="panel-header panel-header-lg">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-header">
                    <!-- <h5 class="card-category">Home</h5> -->
                    <h4 class="card-title">E-TopUp</h4>
                    <br>
                    <div *ngIf="screen1==true" class="mb-3">
                     
                        <div class="row">
                            <div class="col-sm-6 text-center">
                           <a [routerLink]="['/e-recharge']">     <button class="btn btn-primary" >E-Recharge</button></a>
                            </div>
                            <div class="col-sm-6 text-center">
                                <a [routerLink]="['/e-voucher']">     <button class="btn btn-primary">E-Voucher</button></a>  
                                
                            </div>
                          </div>
                        <br>
                        <br>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>