<div class="panel-header panel-header-lg">
</div>
<div>
         <div class="row topNavFix" style="margin:0;padding-top:10px; padding-bottom:10px;   background-color: #F5F5F5!important;position: fixed;
    width: 100%;
      ">
            <div >
                    <a class="pr-2 py-2 mt-2"  [routerLink]="['/home']" style="color: black;padding-left:0.8rem;"><i class="fa fa-home text-danger" style="margin-right:1rem"></i> Home </a>
            </div>
            <!-- <div >
                
                    <a class="px-3 py-2 mt-2"  style="color: black">Recharge</a>
                </div> -->
                <div >
                        <a class="px-2 py-2 mt-2 text-danger" >Balance Inquiry</a>
                    </div>
        </div>  
      </div>
<div class="main-content">
    <div class="row">
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-header">
                    <!-- <h5 class="card-category">Home</h5> -->
                 <br>
                 <ngb-tabset (click)="viewWallet($event);">
                    <ngb-tab title="BALANCE">
                      <ng-template ngbTabContent>
                        <div *ngIf="screen1==true" class="row mb-3">
                      
                            <div class="pl-5 col-sm-12 mb-3 pb-2">
                                <label class="col-sm-4  ">MPIN</label> <input title=" " type="password" id="name"
                                    class="col-sm-4 col-xs-8 PassTxtBox" required [(ngModel)]="balanceForm.mpin" #mpin="ngModel">
                                    <span *ngIf="mpin.invalid && (mpin.dirty || mpin.touched)" class="text-primary mx-2">
    
                                            <span *ngIf="mpin.errors.required">
                                               MPIN is required.
                                            </span>
                                          
                                        
                                        </span>
                            </div>
                           
                            <br>
                            <div class="col-12 mb-3 pb-3">
                                <div class="col-sm-8 pl-5 text-right submit-margin submit-margin" style="margin-left: 1.5rem;"><button class="proceed mx-2 " (click)="screen2Show(mpin.value);"><b>CONFIRM</b></button>
                                </div>
                                               </div>
                          
                        </div>
    
                        <div *ngIf="screen2==true" class="row mb-3 mx-3 text-center">
                           <div class="card mx-auto col-sm-6 Review-card mt-2" style="border:1px solid #ccc !important">
                            <div class="card-header text-center"><h5 class="Review-card-header">CONFIRMATION OF BALANCE </h5></div>
                            <div class="card-body text-center">
                                <p class="confirm-para">MSISDN : {{msisdn}}</p>
                               
                                <p class="confirm-para">Your current Stock Balance is US${{balance}} on {{balanceDate[0]}} at {{balanceDate[1]}}</p>
                                <p class="confirm-para">Your current Fiscal Balance is US${{balanceFiscal}} on {{balanceDate[0]}} at {{balanceDate[1]}}</p>
                                <p class="confirm-para">with Transaction Refrence No. {{balanceTransId}}</p>
                                <br>
                                <div class="row text-center mb-1 pb-2">
                                        <div class="col-12"><button class="cancel mx-2" (click)="cancel();">CLOSE</button></div>
                                    </div>
                            </div>
                           </div>
                            
                          
                           
                            
                        </div>
                       
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab title="VIEW WALLET" >
                      <ng-template ngbTabContent>
                       <div class="row pb-3" >
                        <!-- <div class="col-sm-5 mb-1 pb-1">
                            <label class="col-3">Msisdn</label>     <input title=" " class="col-7" type="text" id="name"
                             required [(ngModel)]="balanceForm.msisdn" >
                        </div> -->
                        <!-- <div class="col-sm-5 mb-1 pb-1">
                            <label class="col-5">Date</label>      <input title=" " class="col-7" type="date" id="creationDate"
                             required 
                            [(ngModel)]="balanceForm.date" >
                          </div> -->
                          <label class="pl-5 ml-2 col-sm-2">Date</label> 
                          <div class="form-group col-sm-4 px-0 mb-0">
                            <div class="input-group">
                              <input title=" " class="form-control " [placeholder]="fDate" readonly style="border-radius: 0px;background-color: white;"
                                     name="d2" [(ngModel)]="balanceForm.date" ngbDatepicker #d2="ngbDatepicker" (dateSelect)="fromChangeDateEvent($event)">
                                   
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar my-0" style="border-radius: 0px;" (click)="d2.toggle()" type="button"><i class="fas fa-calendar-week"></i></button>
                              </div>
                            </div>
                          </div>
                          <div>  
                             <button class="mx-3 search mb-2 cancel"  (click)="searchWallet();" >SEARCH</button>
                          </div>
                       </div>
                       <div class="row mb-3 mt-1 ml-1 pt-2">
                        <div class="col-sm-6">
                          <p *ngIf="agentfirstname">Agent Name &nbsp; <b> {{agentfirstname}} </b></p>
                          <p *ngIf="agentposname">POS Name  &nbsp;<b> {{agentposname}} </b></p>
                        </div>
                        <div class="col-sm-6">
                          <p *ngIf="agentlastname">Last Name  &nbsp;<b>{{agentlastname}}</b></p>
                          <p *ngIf="agentlastname">Actor ID  &nbsp;<b>{{agentactorid}}</b></p>
                        </div>
                       </div>
                       <div class="table-responsive mt-2 mb-2" *ngIf="viewWalletResultDesc=='Transaction Successful'">
                        <table class="table">
                          <thead class=" text-primary">
                            <th>
                             Wallet Type
                            </th>
                            <th>
                            Initial  Balance
                            </th>
                           <th>Final Balance</th>
                           <th> Received Money </th>
                           <th>Used Balance</th>
                           <th>Expired Balance</th>
                          </thead>
                        
                          <tbody>
                            <tr >
                              <td> STOCK VALUE
                              </td>
                              <td *ngIf="viewWalletResult.estel.response.initialvaluebalance">${{viewWalletResult.estel.response.initialvaluebalance}}</td>
                              <td *ngIf="!viewWalletResult.estel.response.initialvaluebalance">$0 </td>
                              <td *ngIf="viewWalletResult.estel.response.updatedvaluebalance">${{viewWalletResult.estel.response.updatedvaluebalance}}</td>
                              <td *ngIf="!viewWalletResult.estel.response.updatedvaluebalance">$0</td>
                             <td *ngIf="viewWalletResult.estel.response.recdvalbalance"> ${{viewWalletResult.estel.response.recdvalbalance}}</td>
                             <td *ngIf="!viewWalletResult.estel.response.recdvalbalance"> $0</td>
                             <td *ngIf="viewWalletResult.estel.response.usedvalbalance"> ${{viewWalletResult.estel.response.usedvalbalance}}</td>
                            <td *ngIf="!viewWalletResult.estel.response.usedvalbalance"> $0</td>
                            <td *ngIf="viewWalletResult.estel.response.expiredvaluebalance"> ${{viewWalletResult.estel.response.expiredvaluebalance | number : '1.2-2'}}</td>
                            <td *ngIf="!viewWalletResult.estel.response.expiredvaluebalance"> $0</td>
                            </tr>
                            <tr >
                              <td> Fiscal Stamp
                              </td>
                              <td *ngIf="!viewWalletResult.estel.response.initialfiscalbalance">$0</td>
                              <td *ngIf="viewWalletResult.estel.response.initialfiscalbalance">${{viewWalletResult.estel.response.initialfiscalbalance}}</td>
                              <td *ngIf="!viewWalletResult.estel.response.updatedfiscalbalance">$0</td>
                              <td *ngIf="viewWalletResult.estel.response.updatedfiscalbalance">${{viewWalletResult.estel.response.updatedfiscalbalance}}</td>
                              <td *ngIf="viewWalletResult.estel.response.recdfiscalbalance">${{viewWalletResult.estel.response.recdfiscalbalance}}</td>
                                <td *ngIf="!viewWalletResult.estel.response.recdfiscalbalance">$0</td>
                              <td *ngIf="viewWalletResult.estel.response.usedfiscalbalance">${{viewWalletResult.estel.response.usedfiscalbalance}}</td>
                               <td *ngIf="!viewWalletResult.estel.response.usedfiscalbalance">$0</td>
                               <td *ngIf="viewWalletResult.estel.response.expiredfiscalbalance">${{viewWalletResult.estel.response.expiredfiscalbalance | number : '1.2-2'}}</td>
                               <td *ngIf="!viewWalletResult.estel.response.expiredfiscalbalance">$0</td>
                            </tr>
                            <tr >
                              <td> Expired Amount
                              </td>
                              <td >$0</td>
                              <!-- <td *ngIf="viewWalletResult.estel.response.initialfiscalbalance">${{viewWalletResult.estel.response.initialfiscalbalance}}</td> -->
                              <td >$0</td>
                              <!-- <td *ngIf="viewWalletResult.estel.response.updatedfiscalbalance">${{viewWalletResult.estel.response.updatedfiscalbalance}}</td> -->
                              <!-- <td *ngIf="viewWalletResult.estel.response.recdfiscalbalance">${{viewWalletResult.estel.response.recdfiscalbalance}}</td> -->
                                <td >$0</td>
                              <!-- <td *ngIf="viewWalletResult.estel.response.usedfiscalbalance">${{viewWalletResult.estel.response.usedfiscalbalance}}</td> -->
                               <td >$0</td>
                               <td *ngIf="viewWalletResult.estel.response.expiredvaluebalance">${{viewWalletResult.estel.response.expiredvaluebalance | number : '1.2-2'}}</td>
                               <!-- <td *ngIf="!viewWalletResult.estel.response.expiredfiscalbalance">$0</td> -->
                               <td *ngIf="!viewWalletResult.estel.response.expiredvaluebalance">$0</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>


                      <div class="table-responsive mt-2 mb-2" *ngIf="ordercount==1">
                        <table class="table">
                          <thead class=" text-primary">
                            <th>
                             Order Id
                            </th>
                            <th>
                            Creation Date
                            </th>
                            <th>Wallet Type</th>
                            <th>
                              Amount
                             </th>
                             <th>
                            Updated Balance
                             </th>
                             <th>Used Balance</th>
                             <th>Expiry Date</th>
                             <th>Promotion/Adjustment</th>
                          </thead>
                        
                          <tbody>
                            <tr >
                              <td> {{orders.orderid}}
                              </td>
                         
                             <td ><span *ngIf="orders.orderdate">{{orders.orderdate[0]}}</span></td>
                              <td *ngIf="orders.wallettype==true">Value</td>
                              <td *ngIf="orders.wallettype==false">Fiscal</td>
                             <td>${{orders.ordertotalprice}}</td>
                             <td *ngIf="orders.wallettype==true">${{orders.ordervalueupdatebal}}</td>
                             <td *ngIf="orders.wallettype==false">${{orders.orderfiscalupdatebal}}</td>
                             <td *ngIf="orders.wallettype==true">${{orders.ordervalueusedbal}}</td>
                             <td *ngIf="orders.wallettype==false">${{orders.orderfiscalusedbal}}</td>
                       <td ><span *ngIf="orders.expirydate">{{orders.expirydate[0]}}</span> <span *ngIf="!orders.expirydate">No expiry</span></td>
                             <td ><span *ngIf="orders.promotion!='T' && orders.promotion!='W' && orders.promotion">{{orders.promotion}}</span><span *ngIf="orders.promotion=='T'">Promotion</span><span *ngIf="orders.promotion=='W'">Wallet Adjustment</span></td>
                            </tr>
    
                          </tbody>
                        </table>
                      </div>

                      <div class="table-responsive mt-2 mb-2" *ngIf="ordercount>1">
                        <table class="table">
                          <thead class=" text-primary">
                            <th>
                             Order Id
                            </th>
                            <th>
                              Creation Date
                              </th>
                              <th>Wallet Type</th>
                              <th>
                                Amount
                               </th>
                               <th>
                              Updated Balance
                               </th>
                               <th>Used Balance</th>
                               <th>Expiry Date</th>
                               <th>Promotion/Adjustment</th>
                          </thead>
                        
                          <tbody>
                            <tr *ngFor="let order of orders">
                              <td> {{order.orderid}}
                              </td>
                         
                              <td ><span *ngIf="order.orderdate">{{order.orderdate[0]}}</span></td>
                              <td *ngIf="order.wallettype==true">Value</td>
                              <td *ngIf="order.wallettype==false">Fiscal</td>
                             <td>${{order.ordertotalprice}}</td>
                             
                             <td *ngIf="order.wallettype==true">${{order.ordervalueupdatebal}}</td>
                             <td *ngIf="order.wallettype==false">${{order.orderfiscalupdatebal}}</td>
                             <td *ngIf="order.wallettype==true">${{order.ordervalueusedbal}}</td>
                             <td *ngIf="order.wallettype==false">${{order.orderfiscalusedbal}}</td>
                             <td ><span *ngIf="order.expirydate">{{order.expirydate[0]}}</span> <span *ngIf="!order.expirydate">No expiry</span></td>
                             <td ><span *ngIf="order.promotion!='T' && order.promotion!='W' && order.promotion">{{order.promotion}}</span><span *ngIf="order.promotion=='T'">Promotion</span><span *ngIf="order.promotion=='W'">Wallet Adjustment</span></td>
                            </tr>
    
                          </tbody>
                        </table>
                      </div>

                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset>
                   

                </div>
            </div>
        </div>
    </div>
</div>