<div class="panel-header panel-header-lg">
</div>
<div class="main-content">
        <div *ngIf="config==true" class="row">
            <div class="col-12">
              <div class="card card-chart">
                <div class="card-header">
                  <!-- <h5 class="card-category">Home</h5> -->
                  <h4 class="card-title">Configuration</h4>
                  <br>
                  <div class="row">
                    <div class="col-sm-6 text-center">
                        <a [routerLink]="['/changeMpin']"><button class="btn btn-primary" >Change Mpin</button></a>
                    </div>
                    <div class="col-sm-6 text-center">
                        <a [routerLink]="['/changeLanguage']"><button class="btn btn-primary" >Change Language</button></a>
                        
                    </div>
                  </div>
                  </div>
              </div>
            </div>
    </div>

    <div *ngIf="mpinScreen==true" class="card card-body mb-3">
            <h4 class="card-title pb-3">Change Mpin</h4>
          <div class="row">
                <div class="col-sm-6 mb-3 pb-2">
                        
                
                        <label class="col-sm-4 col-xs-12">Old Mpin</label> <input title=" " type="number" min="1" max="9999999999" min="0" id="oldMpin"
                         class="col-sm-5 col-xs-8"  required 
                         [(ngModel)]="configurationForm.oldMpin" #oldMpin="ngModel">
                        <div *ngIf="oldMpin.invalid && (oldMpin.dirty || oldMpin.touched)" class="alert alert-danger col-sm-5 offset-sm-4">
    
                            <div *ngIf="oldMpin.errors.required">
                               oldMpin is required.
                            </div>
                            <div *ngIf="oldMpin.errors.minlength">
                               oldMpin must be at least 10 characters long.
                            </div>
                        
                        </div>
                    </div>
            <div class="col-sm-6 mb-3 pb-2">
                <label class="col-sm-4 col-xs-12">MPin</label> <input title=" " type="password" id="mpin"
                    class="col-sm-5 col-xs-8" required [(ngModel)]="configurationForm.mpin" #mpin="ngModel">
                    <div *ngIf="mpin.invalid && (mpin.dirty || mpin.touched)" class="alert alert-danger col-sm-5 offset-sm-4">
    
                            <div *ngIf="mpin.errors.required">
                               mpin is required.
                            </div>
                            <div *ngIf="mpin.errors.minlength">
                               mpin must be at least 10 characters long.
                            </div>
                        
                        </div>
            </div>
                <div class="col-sm-6 mb-3 pb-2">
                    <label class="col-sm-4 col-xs-12">New Pin</label> <input title=" " type="number" min="1" max="9999999999" min="0" id="newPin"
                     class="col-sm-5 col-xs-8"  required 
                     [(ngModel)]="configurationForm.newPin" #newPin="ngModel">
                    <div *ngIf="newPin.invalid && (newPin.dirty || newPin.touched)" class="alert alert-danger col-sm-5 offset-sm-4">
    
                        <div *ngIf="newPin.errors.required">
                           Receiver ActorId is required.
                        </div>
                        <div *ngIf="newPin.errors.minlength">
                           newPin must be at least 10 characters long.
                        </div>
                    </div>
                </div>
          </div>
            <br>
            <br>
            <br>
            <br>
            <div class="col-12 text-center mb-3"><button class="cancel mx-2"
                (click)="cancel();">Cancel</button>
                <button class="proceed mx-2" (click)="screen3Show();"><b>SUBMIT</b></button>
            </div>
        </div>

        <div *ngIf="languageScreen==true" class="card card-body row mb-3">
                <div class="col-12 text-center mb-3"><h5 class="text-center">Change Language</h5></div>
                <br>
                <br>
                <div class="col-sm-6 mb-3 pb-2">
                        <label class="col-sm-4 col-xs-12">Language</label> <select class="col-sm-5 col-xs-8" #type>
                            <option value="01">English</option>
                            <option value="02">Arabic</option>
                        </select>
                    </div>
         
            <br>
            <br>
            <div class="col-12 text-center mb-3 pb-3"><button class="cancel mx-2"
                    (click)="cancel();">Cancel</button>
                <button class="proceed mx-2" (click)="screen4Show();"><b>SUBMIT</b></button>
            </div>
        </div>
        <div *ngIf="screen3==true" class="card card-body row mb-3 text-center">

            <div class="card mx-2">
                <div class="card-header text-center"><b>Confirmation</b></div>
               <p>Mpin changed Successfully</p>
               </div>
            <br>
            <br>
           
        </div>

        <div *ngIf="screen4==true" class="card card-body row mb-3 text-center">

                <div class="card mx-2">
                    <div class="card-header text-center"><h4>Confirmation</h4></div>
                    <div class="card-body text-center">
                        <p>Language Changed</p>
                    </div>
                   </div>
                <br>
                <br>
                
            </div>
    </div>