<div class="panel-header panel-header-lg">
</div>
 <div class="row topNavFix" style="margin:0;padding-top:10px; padding-bottom:10px;   background-color: #F5F5F5!important;position: fixed;
    width: 100%;
      ">
        <div >
                <a class="pr-2 py-2 mt-2"  [routerLink]="['/home']" style="color: black;padding-left:0.8rem;"><i class="fa fa-home text-danger" style="margin-right:1rem"></i> Home </a>
        </div>
        <div >
                <a class="px-2 py-2 mt-2"  style="color: rgba(0, 0, 0, .5);">Orders</a>
            </div>
            <div >
                    <a class="px-2 py-2 mt-2 text-danger" >Create Order</a>
                </div>
    </div> 
<div class="main-content">
        <div *ngIf="config==true" class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <!-- <h5 class="card-category">Home</h5> -->
                
              
                  <div *ngIf="createOrder==true" class="">
                     
                    <div class="row">
                        <div class="pl-5 col-sm-12 mb-1 pb-1 ">
                            <label class="col-sm-4 col-xs-12">Order Type</label> 
                            <!-- <select class="col-sm-3 col-xs-8" (change)="onChangeTransTypeEvent($event)">
                                <option value="val">Value</option>
                                <option value="fiscal">Fiscal Stamp</option>
                            </select> -->
                            <input  title=" " type="radio" [(ngModel)]="checke" class="ml-2" name="orderType" value="val" (change)="onChangeTransTypeEvent($event)" style="width: max-content !important;"> Value
                            <input title=" " type="radio" [(ngModel)]="checke" class="ml-5" name="orderType" value="fiscal" (change)="onChangeTransTypeEvent($event)" style="width: max-content !important;"> Fiscal Stamp
                        </div>
                          <div class="pl-5 col-sm-12 mb-1 pb-1">
                                  <label class="col-sm-4 col-xs-12">Order Date</label> 
                                  <input title=" " type="text" id="orderDate"
                                   class="col-sm-4 col-xs-8" required readonly
                                   [(ngModel)]="order" #orderDate="ngModel">
                                   <!-- <input title=" " type="date" id="orderDate"
                                   class="col-sm-4 col-xs-8" required 
                                   [(ngModel)]="createOrderForm.orderDate" #orderDate="ngModel" (change)="onChangeDateEvent($event)"> -->
                                  <!-- <span *ngIf="orderDate.invalid && (orderDate.dirty || orderDate.touched)" class="text-primary mx-3">
              
                                      <span *ngIf="orderDate.errors.required">
                                         orderDate is required.
                                      </span>
                                    
                                  
                                  </span> -->
                              </div>
                              <!-- <div class="pl-5 col-sm-12 mb-1 pb-1">
                                <label class="col-sm-4 col-xs-12">Item Code</label> <select *ngIf="itemcount>1" class="col-sm-4 col-xs-8" (change)="onChangeItemEvent($event)">
                                    <option *ngFor="let item of items;let i=index" [value]="item.incode">{{item.name}}</option>
                                    
                                </select>
                                <select *ngIf="itemcount==1" class="col-sm-4 col-xs-8" (change)="onChangeItemEvent($event)">
                                    <option  [value]="items.incode">{{items.name}}</option>
                                    
                                </select>
                            </div> -->
                            
                      <div class="pl-5 col-sm-12 mb-1 pb-1">
                          <label class="col-sm-4 col-xs-12">Amount</label> <input title=" " type="number" min="1" max="9999999999" min="1" id="quantity"
                              class="col-sm-4 col-xs-8" required [(ngModel)]="createOrderForm.quantity" (ngModelChange)="amount($event)" #quantity="ngModel">
                              <span *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="text-primary mx-3">
              
                                      <span *ngIf="quantity.errors.required">
                                         Amount is required.
                                      </span>
                                     
                                  
                                  </span>
                      </div>
                      <div class="pl-5 col-sm-12 mb-1 pb-1">
                        <label class="col-sm-4 col-xs-12">Price (VAT excluded)</label> <input title=" " style="background-color: whitesmoke;" type="text" min="1" max="9999999999" min="0" id="price" readonly
                         class="col-sm-4 col-xs-8" [value]="itemPrice*createOrderForm.quantity | number"  required 
                          >
                       
                    </div>
                          <div *ngIf="createOrderForm.type!='Fiscal Stamp'" class="pl-5 col-sm-12 mb-1 pb-1">
                              <label class="col-sm-4 col-xs-12">VAT</label> <input title=" " style="background-color: whitesmoke;" type="text" min="1" max="9999999999" readonly min="0" id="vat"
                               class="col-sm-4 col-xs-8"  required 
                               [(ngModel)]="vath">
                              <!-- <div *ngIf="vat.invalid && (vat.dirty || vat.touched)" class="text-primary mx-3">
              
                                  <div *ngIf="vat.errors.required">
                                     VAT is required.
                                  </div>
                                  
                              </div> -->
                          </div>
                          <div class="pl-5 col-sm-12 mb-1 pb-1">
                              <label class="col-sm-4 col-xs-12">Total</label> <input title=" " style="background-color: whitesmoke;" readonly type="text" min="1" max="9999999999" min="0" id="total"
                               class="col-sm-4 col-xs-8" [value]="totalc" required 
                               >
                              
                          </div>
                          <div *ngIf="createOrderForm.type!='Fiscal Stamp' && agenttype!='Direct'" class="pl-5 col-sm-12 mb-1 pb-1">
                              <label class="col-sm-4 col-xs-12">Expiry Date</label> <input title=" " type="text" readonly id="expiryDate"
                               class="col-sm-4 col-xs-8"
                               [(ngModel)]="exp" #expiryDate="ngModel">
                         
                          </div>
                          <div class="pl-5 col-sm-12 mb-1 pb-1">
                              <label class="col-sm-4 col-xs-12">Notifier</label>
                              <select   class="col-sm-4 col-xs-8" [(ngModel)]="createOrderForm.notifier">
                                <option *ngFor="let notifier of notifiers" [value]="notifier[1]">{{notifier[0]}} (0{{ notifier[1]}})</option>
                                
                            </select>
                               <!-- <input title=" " (change)="checkmsisdnFieldLength(this);" type="text" id="notifier"
                               class="col-sm-4 col-xs-8"  required 
                               [(ngModel)]="createOrderForm.notifier" #notifier="ngModel">
                              <span *ngIf="notifier.invalid && (notifier.dirty || notifier.touched) && msisdnError!=true" class="text-primary mx-3">
              
                                  <span *ngIf="notifier.errors.required">
                                    Notifier Number is required.
                                  </span>
                                  <span *ngIf="notifier.errors.minlength">
                                   Notifier Minimum length is 1.
                                 </span>
                              </span>
                              <span *ngIf="msisdnError==true" class="text-primary mx-3">
    
                                <span>
                                    {{msisdnErrorText}}
                                </span>
                              
                            
                            </span> -->
                          </div>
                          <!-- <div class="pl-5 col-sm-12 mb-1 pb-1">
                              <label class="col-sm-4 col-xs-12">Needed Date</label> <input title=" " type="date" id="neededDate"
                               class="col-sm-4 col-xs-8" required 
                               [(ngModel)]="createOrderForm.neededDate" #neededDate="ngModel">
                               <input title=" " class="form-control " [placeholder]="fDate" readonly style="border-radius: 0px;background-color: white;"
                               name="d4" [(ngModel)]="createOrderForm.neededDate" ngbDatepicker #d4="ngbDatepicker" (dateSelect)="fromChangeDateEvent($event)">
                              <span *ngIf="neededDate.invalid && (neededDate.dirty || neededDate.touched)" class="text-primary mx-3">
          
                                  <span *ngIf="neededDate.errors.required">
                                     Needed Date is required.
                                  </span>
                                
                              
                              </span>
                          </div> -->
                          <div class=" pl-5 col-sm-12 mb-1 pb-1 ">
                              <div class="row" style="margin:0 !important;">
                                <div class="col-6 col-sm-4 col-xs-12" ><label>Needed Date</label></div>
                                <div class="form-group col-6 col-sm-4 px-0 mb-0">
                                  <div class="input-group">
                                    <input title=" " class="form-control " [placeholder]="fDate" readonly style="border-radius: 0px;background-color: white;"
                                           name="d4" [(ngModel)]="createOrderForm.neededDate" ngbDatepicker #d4="ngbDatepicker" (dateSelect)="fromChangeDateEvent($event)">
                                         
                                    <div class="input-group-append">
                                      <button class="btn btn-outline-secondary calendar my-0" style="border-radius: 0px;" (click)="d4.toggle()" type="button"><i class="fas fa-calendar-week"></i></button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            
                          </div>
                         
                    </div>
                    
                      <br>
                    
                      <div class="col-12 mb-3">
                       <div class="col-sm-8 pl-5 text-right submit-margin" style="margin-left: 1.7rem;">   <button class="proceed mx-2" (click)="screen3Show();"><b>SUBMIT</b></button> <button class="cancel mx-2" (click)="reset();"><b>RESET</b></button></div>
                      </div>
                      <br>
                  </div>
          
                  </div>
              </div>
            </div>
    </div>

   
      
        <div *ngIf="screen3==true" class="row mb-1 " style="margin-left:-0.3rem;">

            <div class=" ">
                <div class="pl-5 title-p" >ORDER CONFIRMATION</div>
                <div class="row mx-2" >
                    <br>
                    <div class="pl-5 col-sm-12 mb-1 pb-1">
                        <label class="col-sm-4 col-xs-12 marleftadj">Transaction Type</label> <input title=" "  style="background-color: whitesmoke;" type="text" 
                        class="col-sm-4 col-xs-8" required 
                        readonly [value]="createOrderForm.type" >
                       
                    </div>
                      <div class="pl-5 col-sm-12 mb-1 pb-1">
                              <label class="col-sm-4 col-xs-12 marleftadj">Order Date</label> <input title=" " style="background-color: whitesmoke;" type="text"
                               class="col-sm-4 col-xs-8" required 
                               readonly [value]="createOrderForm.orderDate" >
                             
                          </div>
                          <!-- <div class="pl-5 col-sm-12 mb-1 pb-1">
                            <label class="col-sm-4 col-xs-12">Item</label> <input title=" " style="background-color: whitesmoke;" type="text"  
                                class="col-sm-4 col-xs-8" required readonly [value]="selectedItem" >
                               
                        </div> -->
                  <div class="pl-5 col-sm-12 mb-1 pb-1">
                      <label class="col-sm-4 col-xs-12 marleftadj">Amount</label> <input title=" " style="background-color: whitesmoke;" type="number" min="1" max="9999999999" min="0" 
                          class="col-sm-4 col-xs-8" required readonly [value]="createOrderForm.quantity" >
                         
                  </div>
                      <div class="pl-5 col-sm-12 mb-1 pb-1">
                          <label class="col-sm-4 col-xs-12 marleftadj">Price (VAT excluded)</label> <input title=" " style="background-color: whitesmoke;" type="text" min="1" max="9999999999" min="0" 
                           class="col-sm-4 col-xs-8"  required 
                           readonly [value]="itemPrice*createOrderForm.quantity | number" >
                          
                      </div>
                      <div *ngIf="createOrderForm.type!='Fiscal Stamp'" class="pl-5 col-sm-12 mb-1 pb-1">
                          <label class="col-sm-4 col-xs-12 marleftadj">VAT</label> <input title=" " style="background-color: whitesmoke;" type="text" min="1" max="9999999999" min="0" 
                           class="col-sm-4 col-xs-8"  required 
                           readonly [(ngModel)]="vath" >
                         
                      </div>
                      <div class="pl-5 col-sm-12 mb-1 pb-1">
                          <label class="col-sm-4 col-xs-12 marleftadj">Total</label> <input title=" " style="background-color: whitesmoke;"  type="text" min="1" max="9999999999" min="0" 
                           class="col-sm-4 col-xs-8" [(ngModel)]="totalc" required 
                           readonly  >
                          
                      </div>
                      <div *ngIf="createOrderForm.type!='Fiscal Stamp' && createOrderForm.expiryDate!=undefined" class="pl-5 col-sm-12 mb-1 pb-1">
                          <label class="col-sm-4 col-xs-12 marleftadj">Expiry Date</label> <input title=" " style="background-color: whitesmoke;" type="text"
                           class="col-sm-4 col-xs-8" required 
                           readonly [value]="createOrderForm.expiryDate" >
                         
                      </div>
                      <div class="pl-5 col-sm-12 mb-1 pb-1">
                          <label class="col-sm-4 col-xs-12 marleftadj">Notifier</label> <input title=" " style="background-color: whitesmoke;" type="text" 
                           class="col-sm-4 col-xs-8"  required 
                           readonly [value]="createOrderForm.notifier" >
                          
                      </div>
                      <div class="pl-5 col-sm-12 mb-1 pb-1">
                          <label class="col-sm-4 col-xs-12 marleftadj">Needed Date</label> <input title=" " style="background-color: whitesmoke;" type="text" 
                           class="col-sm-4 col-xs-8" required 
                           readonly [value]="createOrderForm.neededDate">
                         
                      </div>
                      <br>
                      <br>
                      <br>
                      <div class="col-12 text-center mb-3 pb-3 marleftadj">
                        <div class="pl-5 col-sm-8 text-right" style="    margin-left: 1.5rem;"><button class="cancel mx-2" (click)="cancel();">EDIT</button><button class="proceed mx-2" (click)="screen4Show();">CONFIRM</button>    </div> 
                        </div>
                      <br>
                </div>
               </div>
            <br>
            <br>
           
        </div>
        <div *ngIf="screen4==true" class=" mb-0" >
            <div class="card col-sm-4 offset-sm-4 text-center" class="Review-card text-center" style="border: 1px solid #ccc;">
                <div class="  " style="margin-top:20px;"><h5  class=" mx-5 mb-0 pt-1 Review-card-header text-center">ORDER RECEIPT</h5>    </div>
                <div class="card-body">
                    <p  >
                        <span >Order Id</span> : <span >{{response.orderid}}</span>
                       
                    </p>
                    <p  >
                        <span >Order Type</span> : <span *ngIf="response.wallettype==true" >Value</span><span *ngIf="response.wallettype==false" >Fiscal Stamp</span>
                       
                    </p>
                    <p  >
                        <span >Transaction Id</span> :  <span >{{response.transid}}</span>
                       
                    </p>
                      <p *ngIf="agenttype=='Direct'" >
                              <span  style="align-content: flex-end;">Order Date</span> : <span >{{response.orderdate}}</span>
                             
                          </p>
                          <!-- <p >
                            <span  style="align-content: flex-end;">Item</span> <span >{{response.itemname}}</span>
                               
                        </p> -->
                  <p >
                      <span  style="align-content: flex-end;">Amount</span> : <span >${{response.qty}}</span>
                         
                  </p>
                      <p >
                          <span >Price (VAT excluded)</span> : <span >${{response.amount | number}}</span>
                          
                      </p>
                      <p >
                          <span >VAT</span> : <span >${{VAT | number}}</span>
                         
                      </p>
                      <p >
                          <span >Total</span> : <span >${{response.totalamount | number}}</span>
                          
                      </p>
                      <p  *ngIf="response.expirydate">
                          <span >Expiry Date</span> : <span >{{response.expirydate}}</span>
                         
                      </p>
                      <p >
                          <span >Notifier</span> : <span >{{response.destination}}</span>
                          
                      </p>
                      <p class="pb-4">
                          <span >Needed Date</span> : <span >{{response.neededdate}}</span>
                         
                      </p>
                    <div class="row text-center ">
                        <div class="col-12 mb-1 text-center"><button class="cancel mx-2"
                            (click)="cancel();">CLOSE</button>
                    </div>
                </div>
                </div>
       
        </div>
               <!-- <div  class="  row mb-0 text-center">
                
              <div class="card col-sm-8 Confirmation-card" style="margin-top: 1em;" style="border: 1px solid #ccc !important;margin-top: 1.5em; ">  
                <div class="row " >
                    <br>
                   
                    
                      
                     
              
                </div>
            </div>
           
               </div> -->
            </div>
     
    </div>


<!-- //mobile screens -->

<!-- <div class="main-content d-sm-none">
    <div *ngIf="config==true" class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              
          
              <div *ngIf="createOrder==true" class="">
                 
                <div class="row">
                    <div class="pl-5 col-sm-12 mb-1 pb-1 row">
                       <div class="col-6 pl-5"><label style="width: 100% !important;">Order Type</label> </div> 
                  
                        <div class="col-6">
                            <input  title=" " type="radio" [(ngModel)]="checke" class="ml-2" name="orderType" value="val" (change)="onChangeTransTypeEvent($event)" style="width: max-content !important;"> Value &nbsp;&nbsp;
                            <input title=" " type="radio" [(ngModel)]="checke" class="ml-2" name="orderType" value="fiscal" (change)="onChangeTransTypeEvent($event)" style="width: max-content !important;"> Fiscal Stamp
                       
                        </div>
                     </div>
                      <div class="pl-5 col-sm-12 mb-1 pb-1">
                              <label class="col-sm-4 col-xs-12">Order Date</label> 
                              <input title=" " type="text" id="orderDate"
                               class="col-sm-4 col-xs-8" required readonly
                               [(ngModel)]="order" #orderDate="ngModel">
                             
                          </div>
                         
                        
                  <div class="pl-5 col-sm-12 mb-1 pb-1">
                      <label class="col-sm-4 col-xs-12">Amount</label> <input title=" " type="number" min="1" max="9999999999" min="1" id="quantity"
                          class="col-sm-4 col-xs-8" required [(ngModel)]="createOrderForm.quantity" (ngModelChange)="amount($event)" #quantity="ngModel">
                          <span *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="text-primary mx-3">
          
                                  <span *ngIf="quantity.errors.required">
                                     Amount is required.
                                  </span>
                                 
                              
                              </span>
                  </div>
                  <div class="pl-5 col-sm-12 mb-1 pb-1">
                    <label class="col-sm-4 col-xs-12">Price (VAT excluded)</label> <input title=" " style="background-color: whitesmoke;" type="text" min="1" max="9999999999" min="0" id="price" readonly
                     class="col-sm-4 col-xs-8" [value]="itemPrice*createOrderForm.quantity | number"  required 
                      >
                   
                </div>
                      <div *ngIf="createOrderForm.type!='Fiscal Stamp'" class="pl-5 col-sm-12 mb-1 pb-1">
                          <label class="col-sm-4 col-xs-12">VAT</label> <input title=" " style="background-color: whitesmoke;" type="text" min="1" max="9999999999" readonly min="0" id="vat"
                           class="col-sm-4 col-xs-8"  required 
                           [(ngModel)]="vath">
                       
                      </div>
                      <div class="pl-5 col-sm-12 mb-1 pb-1">
                          <label class="col-sm-4 col-xs-12">Total</label> <input title=" " style="background-color: whitesmoke;" readonly type="text" min="1" max="9999999999" min="0" id="total"
                           class="col-sm-4 col-xs-8" [value]="totalc" required 
                           >
                          
                      </div>
                      <div *ngIf="createOrderForm.type!='Fiscal Stamp' && agenttype!='Direct'" class="pl-5 col-sm-12 mb-1 pb-1">
                          <label class="col-sm-4 col-xs-12">Expiry Date</label> <input title=" " type="text" readonly id="expiryDate"
                           class="col-sm-4 col-xs-8"
                           [(ngModel)]="exp" #expiryDate="ngModel">
                     
                      </div>
                      <div class="pl-5 col-sm-12 mb-1 pb-1">
                          <label class="col-sm-4 col-xs-12">Notifier</label>
                          <select   class="col-sm-4 col-xs-8" [(ngModel)]="createOrderForm.notifier">
                            <option *ngFor="let notifier of notifiers" [value]="notifier[1]">{{notifier[0]}} (0{{ notifier[1]}})</option>
                            
                        </select>
                          
                      </div>
                    
                      <div class=" pl-5 col-sm-12 mb-1 pb-1 ">
                          <div class="row" style="margin:0 !important;">
                            <div class="col-6" style="width:50% !important"><label style="width:100% !important">Needed Date</label></div>
                            <div class="form-group col-6 px-0 mb-0">
                              <div class="input-group">
                                <input title=" " class="form-control " [placeholder]="fDate" readonly style="border-radius: 0px;background-color: white;"
                                       name="d4" [(ngModel)]="createOrderForm.neededDate" ngbDatepicker #d4="ngbDatepicker" (dateSelect)="fromChangeDateEvent($event)">
                                     
                                <div class="input-group-append">
                                  <button class="btn btn-outline-secondary calendar my-0" style="border-radius: 0px;" (click)="d4.toggle()" type="button"><i class="fas fa-calendar-week"></i></button>
                                </div>
                              </div>
                            </div>
                          </div>
                        
                      </div>
                     
                </div>
                
                  <br>
                
                  <div class="col-12 mb-3 text-right pr-0">
                     <button class="proceed mx-2" (click)="screen3Show();"><b>SUBMIT</b></button> <button class="cancel ml-2" (click)="reset();"><b>RESET</b></button>
                  </div>
                  <br>
              </div>
      
              </div>
          </div>
        </div>
</div>


  
    <div *ngIf="screen3==true" class="row mb-1 " style="margin-left:-0.3rem;">

        <div class=" ">
            <div class="pl-5 title-p" >ORDER CONFIRMATION</div>
            <div class="row mx-2" >
                <br>
                <div class="pl-5 col-sm-12 mb-1 pb-1">
                    <label class="col-sm-4 col-xs-12 marleftadj">Transaction Type</label> <input title=" "  style="background-color: whitesmoke;" type="text" 
                    class="col-sm-4 col-xs-8" required 
                    readonly [value]="createOrderForm.type" >
                   
                </div>
                  <div class="pl-5 col-sm-12 mb-1 pb-1">
                          <label class="col-sm-4 col-xs-12 marleftadj">Order Date</label> <input title=" " style="background-color: whitesmoke;" type="text"
                           class="col-sm-4 col-xs-8" required 
                           readonly [value]="createOrderForm.orderDate" >
                         
                      </div>
                      
              <div class="pl-5 col-sm-12 mb-1 pb-1">
                  <label class="col-sm-4 col-xs-12 marleftadj">Amount</label> <input title=" " style="background-color: whitesmoke;" type="number" min="1" max="9999999999" min="0" 
                      class="col-sm-4 col-xs-8" required readonly [value]="createOrderForm.quantity" >
                     
              </div>
                  <div class="pl-5 col-sm-12 mb-1 pb-1">
                      <label class="col-sm-4 col-xs-12 marleftadj">Price (VAT excluded)</label> <input title=" " style="background-color: whitesmoke;" type="text" min="1" max="9999999999" min="0" 
                       class="col-sm-4 col-xs-8"  required 
                       readonly [value]="itemPrice*createOrderForm.quantity | number" >
                      
                  </div>
                  <div *ngIf="createOrderForm.type!='Fiscal Stamp'" class="pl-5 col-sm-12 mb-1 pb-1">
                      <label class="col-sm-4 col-xs-12 marleftadj">VAT</label> <input title=" " style="background-color: whitesmoke;" type="text" min="1" max="9999999999" min="0" 
                       class="col-sm-4 col-xs-8"  required 
                       readonly [(ngModel)]="vath" >
                     
                  </div>
                  <div class="pl-5 col-sm-12 mb-1 pb-1">
                      <label class="col-sm-4 col-xs-12 marleftadj">Total</label> <input title=" " style="background-color: whitesmoke;"  type="text" min="1" max="9999999999" min="0" 
                       class="col-sm-4 col-xs-8" [(ngModel)]="totalc" required 
                       readonly  >
                      
                  </div>
                  <div *ngIf="createOrderForm.type!='Fiscal Stamp' && createOrderForm.expiryDate!=undefined" class="pl-5 col-sm-12 mb-1 pb-1">
                      <label class="col-sm-4 col-xs-12 marleftadj">Expiry Date</label> <input title=" " style="background-color: whitesmoke;" type="text"
                       class="col-sm-4 col-xs-8" required 
                       readonly [value]="createOrderForm.expiryDate" >
                     
                  </div>
                  <div class="pl-5 col-sm-12 mb-1 pb-1">
                      <label class="col-sm-4 col-xs-12 marleftadj">Notifier</label> <input title=" " style="background-color: whitesmoke;" type="text" 
                       class="col-sm-4 col-xs-8"  required 
                       readonly [value]="createOrderForm.notifier" >
                      
                  </div>
                  <div class="pl-5 col-sm-12 mb-1 pb-1">
                      <label class="col-sm-4 col-xs-12 marleftadj">Needed Date</label> <input title=" " style="background-color: whitesmoke;" type="text" 
                       class="col-sm-4 col-xs-8" required 
                       readonly [value]="createOrderForm.neededDate">
                     
                  </div>
                  <br>
                  <br>
                  <br>
                  <div class="col-12  mb-3 pb-3 ">
                    <button class="cancel mx-2" (click)="cancel();">EDIT</button><button class="proceed mx-2" (click)="screen4Show();">CONFIRM</button>   
                    </div>
                  <br>
            </div>
           </div>
        <br>
        <br>
       
    </div>
    <div *ngIf="screen4==true" class=" mb-0" >
           <div  class="  row mb-0 text-center">
            <br>
          <div class="card col-sm-8 Confirmation-card" style="margin-top: 1em;" style="border: 1px solid #ccc !important;margin-top: 1.5em; ">  <h5  class=" mx-5 mb-1 Review-card-header text-center">ORDER RECEIPT</h5>
            <div class="row " >
                <br>
                <div mt-3" >
                    <label class="mr-3 ml-5 col-4">Order Id</label>  <label class="mr-3 ml-5 col-4">{{response.orderid}}</label>
                   
                </div>
                <div class="col-sm-12 mb-1 pb-1" >
                    <label class="mr-3 ml-5 col-4">Order Type</label>  <label *ngIf="response.wallettype==true" class="mr-3 ml-5 col-4">Value</label><label *ngIf="response.wallettype==false" class="mr-3 ml-5 col-4">Fiscal Stamp</label>
                   
                </div>
                <div class="col-sm-12 mb-1 pb-1" >
                    <label class="mr-3 ml-5 col-4">Transaction Id</label>  <label class="mr-3 ml-5 col-4">{{response.transid}}</label>
                   
                </div>
                  <div *ngIf="agenttype=='Direct'" class="col-sm-12 mb-1 pb-1">
                          <label class="mr-3 ml-5 col-4" style="align-content: flex-end;">Order Date</label> <label class="mr-3 ml-5 col-4">{{response.orderdate}}</label>
                         
                      </div>
                      
              <div class="col-sm-12 mb-1 pb-1">
                  <label class="mr-3 ml-5 col-4" style="align-content: flex-end;">Amount</label> <label class="mr-3 ml-5 col-4">${{response.qty}}</label>
                     
              </div>
                  <div class="col-sm-12 mb-1 pb-1">
                      <label class="mr-3 ml-5 col-4">Price (VAT excluded)</label> <label class="mr-3 ml-5 col-4">${{response.amount | number}}</label>
                      
                  </div>
                  <div class="col-sm-12 mb-1 pb-1">
                      <label class="mr-3 ml-5 col-4">VAT</label> <label class="mr-3 ml-5 col-4">${{VAT | number}}</label>
                     
                  </div>
                  <div class="col-sm-12 mb-1 pb-1">
                      <label class="mr-3 ml-5 col-4">Total</label> <label class="mr-3 ml-5 col-4">${{response.totalamount | number}}</label>
                      
                  </div>
                  <div class="col-sm-12 mb-1 pb-1" *ngIf="response.expirydate">
                      <label class="mr-3 ml-5 col-4">Expiry Date</label> <label class="mr-3 ml-5 col-4">{{response.expirydate}}</label>
                     
                  </div>
                  <div class="col-sm-12 mb-1 pb-1">
                      <label class="mr-3 ml-5 col-4">Notifier</label> <label class="mr-3 ml-5 col-4">{{response.destination}}</label>
                      
                  </div>
                  <div class="col-sm-12 mb-1 pb-4">
                      <label class="mr-3 ml-5 col-4">Needed Date</label> <label class="mr-3 ml-5 col-4">{{response.neededdate}}</label>
                     
                  </div>
                
                  
                  <div class="col-12 mb-1 pb-3 text-center"><button class="cancel mx-2"
                    (click)="cancel();">CLOSE</button>
            </div>
          
            </div>
        </div>
       
           </div>
        </div>
 
</div> -->