.proceed{font-family: 'todayshop-mediumitalicregular' !important; letter-spacing: 1px;font-weight: bolder;
    font-family: 'todayshop-boldregular';
       color: #fff;
    background-color: #F4A51C;
    border-color: #F4A51C;     display: inline-block;
    font-weight: 400;     border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;    font-family: 'todayshop-boldregular';
}
.cancel{font-family: 'todayshop-mediumitalicregular' !important; font-weight: bolder;
    background-color: #bfbcbc;
    color: white;font-weight: 400;     border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;    font-family: 'todayshop-boldregular';letter-spacing: 1px; 
}
// .marleftadj{
//     margin-left: 1.1rem !important;
// }
.title-p{
    /* font-family: openSans; */
    color: #d0001b !important;
    font-weight: bolder;
    /* letter-spacing: 1.3px; */
    margin-bottom: 15px !important;
    font-size: 20px;
    margin-left: 1.2rem !important;



}
.Review-card{
    max-width:400px;
    margin-top: 15vh;
}