<div class="panel-header panel-header-lg">
</div>
 <div class="row topNavFix" style="margin:0;padding-top:10px; padding-bottom:10px;   background-color: #F5F5F5!important;position: fixed;
    width: 100%;
      ">
    <div >
            <a class="px-3 py-2 mt-2" [routerLink]="['/home']" style="color: black"><i class="fa fa-home text-danger" style="margin-right:1rem"></i> Home </a>
    </div>
    <div >
            <a class="px-3 py-2 mt-2"  style="color: black">Orders</a>
        </div>
        <div >
                <a class="px-3 py-2 mt-2 text-danger" >Edit Order</a>
            </div>
</div> 
<div class="main-content mt-0">
        <div *ngIf="config==true" class="row">
            <div class="col-12">
              <div class="" style="margin-left: 1.5rem;">
                <div class="">
                  <!-- <h5 class="card-category">Home</h5> -->
                
                  <br>
                  <div *ngIf="createOrder==true" class=" card">
                      <!-- <h4 class="card-title  mb-3 pb-3 ">Edit Order</h4> -->
                    <div class="row">
                            <div class="pl-5 col-sm-12 mb-1 pb-1">
                                <div class="row">
                                        <label class="col-sm-4 col-xs-12">Order Id</label> <input title=" " style="background: whitesmoke" readonly type="text"
                                        class="col-sm-4 col-xs-8"  
                                        #orderId [(ngModel)]="editorder.orderid">
                                </div>
                                   
                                     
                                </div>
                        <div class="pl-5 col-sm-12 mb-1 pb-1">
                                <!-- <div class="row">
                            <label class="col-sm-4 col-xs-12">Order Type</label> <select [(ngModel)]="editorder.wallettype" #orderType class="col-sm-4 col-xs-8" (change)="onChangeTransTypeEvent($event)">
                                <option value="true">Value</option>
                                <option value="false">Fiscal Stamp</option>
                            </select>
                            </div> -->

                            <div class="row">
                              <label class="col-sm-4 col-xs-12">Order Type</label> <input title=" " *ngIf="editorder.wallettype==true" style="background: whitesmoke" readonly type="text"
                              class="col-sm-4 col-xs-8"  
                              #orderId value="Value">
                              <input title=" " *ngIf="editorder.wallettype==false" style="background: whitesmoke" readonly type="text"
                              class="col-sm-4 col-xs-8"  
                              #orderId value="Fiscal Stamp">
                      </div>
                        </div>
                          <div class="pl-5 col-sm-12 mb-1 pb-1">
                                <div class="row">
                                  <label class="col-sm-4 col-xs-12">Order Date</label> 
                                    <!-- <input title=" " *ngIf="editorder.orderdate" type="text" #Orderdate id="orderDate"
                                    class="col-sm-4 col-xs-8" required 
                                     [(ngModel)]="editorder.orderdate"> -->
                                     <input title=" " type="text" readonly
                               class="col-sm-4 col-xs-8" required 
                               [value]="odate">
                       </div>
                              </div>
                              <!-- <div class="pl-5 col-sm-12 mb-1 pb-1">
                                <label class="col-sm-4 col-xs-12">Item Code</label> <select *ngIf="itemcount>1" [(ngModel)]="editorder.itemcode" class="col-sm-4 col-xs-8" (change)="onChangeItemEvent($event)">
                                    <option *ngFor="let item of items;let i=index" [value]="item.incode">{{item.name}}</option>
                                    
                                </select>
                                <select *ngIf="itemcount==1" [(ngModel)]="editorder.itemcode" class="col-sm-4 col-xs-8" (change)="onChangeItemEvent($event)">
                                    <option [value]="items.incode">{{items.name}}</option>
                                    
                                </select>
                            </div> -->
                            <div class="pl-5 col-sm-12 mb-1 pb-1">
                                    <div class="row">
                                <label class="col-sm-4 col-xs-12">Amount</label> <input title=" " type="number" min="1" max="9999999999" #quantity min="1" id="quantity"
                                    class="col-sm-4 col-xs-8" required  [(ngModel)]="editorder.quantity" (ngModelChange)="amount($event)">
                                  </div>
                            </div>
                            <div class="pl-5 col-sm-12 mb-1 pb-1">
                                    <div class="row">
                                <label class="col-sm-4 col-xs-12">Price (without vat)</label> <input title=" " #priceWithoutVat style="background-color: whitesmoke;" type="text" min="1" max="9999999999" min="0" id="price" readonly
                                 class="col-sm-4 col-xs-8" [value]="editorder.quantity | number"  required 
                                  >
                               </div>
                            </div>
                      
                         
                          <div class="pl-5 col-sm-12 mb-1 pb-1">
                                <div class="row">
                              <label class="col-sm-4 col-xs-12">Vat</label> <input title=" " #vat style="background-color: whitesmoke;"  type="text" min="1" max="9999999999" readonly min="0" id="vat"
                               class="col-sm-4 col-xs-8"  required 
                               [value]="vath | number">
                              <!-- <div *ngIf="vat.invalid && (vat.dirty || vat.touched)" class="alert alert-danger col-sm-4 offset-sm-4">
              
                                  <div *ngIf="vat.errors.required">
                                     vat is required.
                                  </div>
                                  
                              </div> -->
                              </div>
                          </div>
                          <div class="pl-5 col-sm-12 mb-1 pb-1">
                                <div class="row">
                              <label class="col-sm-4 col-xs-12">Total</label> <input title=" " #total style="background-color: whitesmoke;" readonly type="text" min="1" max="9999999999" min="0" id="total"
                               class="col-sm-4 col-xs-8" [value]="totalh | number" required 
                               >
                              </div>
                          </div>
                          <div *ngIf="editorder.expirydate" class="pl-5 col-sm-12 mb-1 pb-1">
                                <!-- <div class="row">
                              <label class="col-sm-4 col-xs-12">Expiry Date</label> 
                              <input title=" " #expiry type="text" id="expiryDate" [(ngModel)]="editorder.expirydate"
                               class="col-sm-4 col-xs-8" required 
                               >
                               <input title=" " type="date" 
                               class="col-sm-4 col-xs-8" required 
                               [(ngModel)]="editorder.expirydate">
                               <div class="form-group col-sm-4 px-0 mb-0">
                                    <div class="input-group">
                                      <input title=" " class="form-control " [placeholder]="edate" readonly style="border-radius: 0px;background-color: white;"
                                             name="d2" [(ngModel)]="expdatemodel" ngbDatepicker #d2="ngbDatepicker" (dateSelect)="expChangeDateEvent($event)">
                                           
                                      <div class="input-group-append">
                                        <button class="btn btn-outline-secondary calendar my-0" style="border-radius: 0px;" (click)="d2.toggle()" type="button"><i class="fas fa-calendar-week"></i></button>
                                      </div>
                                    </div>
                                  </div>
                             </div> -->
                             <div class="row">
                              <label class="col-sm-4 col-xs-12">Expiry Date</label> <input title=" " style="background: whitesmoke" readonly type="text"
                              class="col-sm-4 col-xs-8"  
                              #orderId [(ngModel)]="edate">
                      </div>

                          </div>
                          <div class="pl-5 col-sm-12 mb-1 pb-1">
                                <div class="row">
                              <label class="col-sm-4 col-xs-12">Notifier</label> 
                              <select   class="col-sm-4 col-xs-8" [(ngModel)]="editorder.destination">
                                <option *ngFor="let notifier of notifiers" [value]="notifier[1]">{{notifier[0]}} (0{{ notifier[1]}})</option>
                                
                            </select>
                              <!-- <input title=" " (change)="checkmsisdnFieldLength(this);" #notifier type="text" id="notifier"
                               class="col-sm-4 col-xs-8" minlength="3" required 
                               [(ngModel)]="editorder.destination" #notifier="ngModel">
                               <span *ngIf="notifier.invalid && (notifier.dirty || notifier.touched) && msisdnError!=true" class="text-primary mx-3">
              
                                <span *ngIf="notifier.errors.required">
                                  Notifier Number is required.
                                </span>
                                <span *ngIf="notifier.errors.minlength">
                                 Notifier Minimum length is 1.
                               </span>
                            </span>
                            <span *ngIf="msisdnError==true" class="text-primary mx-3">
  
                              <span>
                                  {{msisdnErrorText}}
                              </span>
                            
                          
                          </span> -->
                             </div>
                          </div>
                          <div class="pl-5 col-sm-12 mb-1 pb-1">
                                <div class="row">
                              <label class="col-sm-4 col-xs-12">Needed Date</label>
                               <!-- <input title=" " #neededDate type="text" id="neededDate" [(ngModel)]="editorder.date"
                               class="col-sm-4 col-xs-8" required 
                              > -->
                              <!-- <input title=" " type="date" 
                              class="col-sm-4 col-xs-8" required 
                              [(ngModel)]="editorder.neededdate"> -->
                              <div class="form-group col-sm-4 px-0 mb-0">
                                    <div class="input-group">
                                      <input title=" " class="form-control " [placeholder]="ndate" readonly style="border-radius: 0px;background-color: white;"
                                             name="d3" [(ngModel)]="needdatemodel" ngbDatepicker #d3="ngbDatepicker" (dateSelect)="needChangeDateEvent($event)">
                                           
                                      <div class="input-group-append">
                                        <button class="btn btn-outline-secondary calendar my-0" style="border-radius: 0px;" (click)="d3.toggle()" type="button"><i class="fas fa-calendar-week"></i></button>
                                      </div>
                                    </div>
                                  </div>
                                  </div>
                          </div>
                    </div>
                    
                      <br>
                    
                      <div class="col-12 mb-3">
                       <div class="col-sm-8 text-right" style="margin-left: 1.9rem;"> <button class="mx-2 cancel" (click)="close();">CANCEL</button><button class="mx-2 proceed" (click)="updateOrder();">CONFIRM</button></div>
                      </div>
                      <br>
                  </div>
          
                  </div>
              </div>
            </div>
    </div>

   
      
        <!-- <div *ngIf="screen3==true" class="row mb-3 text-center">

            <div class="card mx-2">
                <div class="card-header text-center mb-3"><h4>Order Confirmation</h4></div>
                <div class="row">
                    <br>
                    <div class="col-sm-6 mb-3 pb-2">
                        <label class="col-sm-4 col-xs-12">Order Type</label> <input title=" "  style="background-color: whitesmoke;" type="text" 
                        class="col-sm-5 col-xs-8" required 
                        readonly [value]="createOrderForm.type" >
                       
                    </div>
                      <div class="col-sm-6 mb-3 pb-2">
                              <label class="col-sm-4 col-xs-12">Order Date</label> <input title=" " style="background-color: whitesmoke;" type="text"
                               class="col-sm-5 col-xs-8" required 
                               readonly [value]="createOrderForm.orderDate" >
                             
                          </div>
                          <div class="col-sm-6 mb-3 pb-2">
                            <label class="col-sm-4 col-xs-12">Item</label> <input title=" " style="background-color: whitesmoke;" type="text"  
                                class="col-sm-5 col-xs-8" required readonly [value]="selectedItem" >
                               
                        </div>
                  <div class="col-sm-6 mb-3 pb-2">
                      <label class="col-sm-4 col-xs-12">Amount</label> <input title=" " style="background-color: whitesmoke;" type="number" min="1" max="9999999999" min="0" 
                          class="col-sm-5 col-xs-8" required readonly [value]="createOrderForm.quantity" >
                         
                  </div>
                      <div class="col-sm-6 mb-3 pb-2">
                          <label class="col-sm-4 col-xs-12">Price (without vat)</label> <input title=" " style="background-color: whitesmoke;" type="number" min="1" max="9999999999" min="0" 
                           class="col-sm-5 col-xs-8"  required 
                           readonly [value]="itemPrice" >
                          
                      </div>
                      <div class="col-sm-6 mb-3 pb-2">
                          <label class="col-sm-4 col-xs-12">Vat</label> <input title=" " style="background-color: whitesmoke;" type="number" min="1" max="9999999999" min="0" 
                           class="col-sm-5 col-xs-8"  required 
                           readonly [value]="vat" >
                         
                      </div>
                      <div class="col-sm-6 mb-3 pb-2">
                          <label class="col-sm-4 col-xs-12">Total</label> <input title=" " style="background-color: whitesmoke;"  type="number" min="1" max="9999999999" min="0" 
                           class="col-sm-5 col-xs-8" [value]="(itemPrice*createOrderForm.quantity)+(itemPrice*createOrderForm.quantity)*vat/100" required 
                           readonly  >
                          
                      </div>
                      <div class="col-sm-6 mb-3 pb-2">
                          <label class="col-sm-4 col-xs-12">Expiry Date</label> <input title=" " style="background-color: whitesmoke;" type="text"
                           class="col-sm-5 col-xs-8" required 
                           readonly [value]="createOrderForm.expiryDate" >
                         
                      </div>
                      <div class="col-sm-6 mb-3 pb-2">
                          <label class="col-sm-4 col-xs-12">Notifier</label> <input title=" " style="background-color: whitesmoke;" type="text" 
                           class="col-sm-5 col-xs-8"  required 
                           readonly [value]="createOrderForm.notifier" >
                          
                      </div>
                      <div class="col-sm-6 mb-3 pb-2">
                          <label class="col-sm-4 col-xs-12">Needed Date</label> <input title=" " style="background-color: whitesmoke;" type="text" 
                           class="col-sm-5 col-xs-8" required 
                           readonly [value]="createOrderForm.neededDate">
                         
                      </div>
                      <br>
                      <div class="col-12 text-center mb-3 pb-3">
                            <button class=" mx-2" (click)="cancel();">Edit</button> <button class="proceed mx-2" (click)="screen4Show();">Confirm</button>
                        </div>
                      <br>
                </div>
               </div>
            <br>
            <br>
           
        </div> -->
        <div *ngIf="screen4==true" class="">
          <div class="card col-sm-4 offset-sm-4 text-center" class="Review-card text-center" style="border: 1px solid #ccc;">
            <div class="  " style="margin-top:20px;"><h5  class=" mx-5 mb-0 pt-1 Review-card-header text-center">UPDATED ORDER RECEIPT</h5>    </div>
            <div class="card-body">
              <p  >
                <span >Order Id</span> : <span >{{editOrderResponse.orderid}}</span>
               
            </p>
            <p >
                <span  style="align-content: flex-end;">Order Type</span> : <span *ngIf="editorder.wallettype==true" >Value</span><span *ngIf="editorder.wallettype==false" >Fiscal Stamp</span>
               
            </p>
            <p >
              <span  style="align-content: flex-end;">Transaction Id</span> : <span >{{editOrderResponse.reftransid}}</span>
             
          </p>
              <p >
                      <span  style="align-content: flex-end;">Order Date</span> : <span >{{editOrderResponse.orderdate}}</span>
                     
                  </p>
              
          <p >
              <span  style="align-content: flex-end;">Amount</span> : <span >${{editOrderResponse.qty}}</span>
                 
          </p>
              <p >
                  <span >Price (without vat)</span> : <span >${{editOrderResponse.amount | number}}</span>
                  
              </p>
              <p >
                <span >VAT</span> : <span >${{vath | number}}</span>
               
            </p>
              <p >
                  <span >Total</span> : <span >${{editOrderResponse.totalamount | number}}</span>
                  
              </p>
              <p *ngIf="editOrderResponse.expirydate" >
                  <span >Expiry Date</span> : <span >{{editOrderResponse.expirydate}}</span>
                 
              </p>
              <p >
                  <span >Notifier</span> : <span >{{editOrderResponse.destination}}</span>
                  
              </p>
              <p >
                  <span >Needed Date</span> : <span >{{editOrderResponse.neededdate}}</span>
                 
              </p>
                <!-- <p  >
                    <span >Order Id</span> : <span >{{response.orderid}}</span>
                   
                </p>
                <p  >
                    <span >Order Type</span> : <span *ngIf="response.wallettype==true" >Value</span><span *ngIf="response.wallettype==false" >Fiscal Stamp</span>
                   
                </p>
                <p  >
                    <span >Transaction Id</span> :  <span >{{response.transid}}</span>
                   
                </p>
                  <p *ngIf="agenttype=='Direct'" >
                          <span  style="align-content: flex-end;">Order Date</span> : <span >{{response.orderdate}}</span>
                         
                      </p>
                     
              <p >
                  <span  style="align-content: flex-end;">Amount</span> : <span >${{response.qty}}</span>
                     
              </p>
                  <p >
                      <span >Price (VAT excluded)</span> : <span >${{response.amount | number}}</span>
                      
                  </p>
                  
                  <p >
                      <span >Total</span> : <span >${{response.totalamount | number}}</span>
                      
                  </p>
                  <p  *ngIf="response.expirydate">
                      <span >Expiry Date</span> : <span >{{response.expirydate}}</span>
                     
                  </p>
                  <p >
                      <span >Notifier</span> : <span >{{response.destination}}</span>
                      
                  </p>
                  <p >
                      <span >Needed Date</span> : <span >{{response.neededdate}}</span>
                     
                  </p>-->
                
            </div>
            <button class="cancel mx-2 mb-3"
                  (click)="close();">CLOSE</button>
        
    </div>
            
            </div>
     
    </div>