.proceed{font-family: 'todayshop-mediumitalicregular' !important; letter-spacing: 1px;font-weight: bolder;
    font-family: 'todayshop-boldregular';
       color: #fff;
    background-color: #F4A51C;
    border-color: #F4A51C;     display: inline-block;
    font-weight: 400;     border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;    font-family: 'todayshop-boldregular';
}
.cancel{font-family: 'todayshop-mediumitalicregular' !important; font-weight: bolder;
    background-color: #bfbcbc;
    color: white;font-weight: 400;     border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;    font-family: 'todayshop-boldregular';letter-spacing: 1px; 
}
.Review-card {
    border: 1px solid #ccc;
    margin-top: 9vh;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    padding: 0 35px;
    max-width:400px;
}