
<div class="logo text-center">
    <a [routerLink]="['/home']" class="simple-text ">
      <div class="text-center">
        <!-- <i style="font-size: 45px;" class="now-ui-icons users_single-02"></i> -->
        <!-- <img src="./assets/img/logo_alfa_big.png" style="max-height: 80px;"> -->
       
            <img class="img-fluid" style="max-width: 90%;padding-left:5px;padding-right: 8px;" src="./assets/img/logo.svg" alt="" />
         
      </div>
    </a>
</div>
<div class="sidebar-wrapper mb-3">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems;let i=index;"  class="nav-item">
            <a *ngIf="(menuItem.children==undefined || menuItem.children=='') && menuItem.title!='LOG OUT' && menuItem.desc" (click)="closeNav(i);"  class="nav-link" [routerLink]="[menuItem.path]" style="border-bottom: 4px solid rgba(255, 255, 255, .8);">
 
                <span   style="width:100%;">{{menuItem.desc}}</span>
               
            </a>
         
            <a *ngIf="menuItem?.children && (menuItem.children[0].desc || menuItem.children[1].desc)" (click)="dropNav(i);closeNav(i);" class="nav-link" aria-expanded="true" aria-controls="collapsethird" style="border-bottom: 4px solid rgba(255, 255, 255, .8);">
              
                
                <span style="width:100%;" >{{menuItem.title}}</span>
            </a>
            <div  *ngIf="menu[i]==true" class="collapse show" style="padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            background: white;">
                  <div  class="bg-white  collapse-inner" style="padding-top: 0px;padding-bottom: 0px;text-transform: uppercase;" routerLinkActive="active" *ngFor="let children of menuItem.children">
                        <a *ngIf="children.desc" class="collapse-item" [routerLink]="[children.path]">
                              
                               {{children.desc}}
                            </a>
                          
                        </div>
                    </div>
                    
        </li>
        <!-- <li routerLinkActive="active" *ngFor="let menuItem of storedMenu;let i=index;"  class="nav-item">
            <a *ngIf=" menuItem.title!='LOG OUT'" (click)="closeNav(i);"  class="nav-link" [routerLink]="[menuItem.path]" style="border-bottom: 4px solid rgba(255, 255, 255, .8);">
 
                <span   style="width:100%;">{{menuItem.transdesc}}</span>
               
            </a>
         
            <a *ngIf="menuItem?.children" (click)="dropNav(i);closeNav(i);" class="nav-link" aria-expanded="true" aria-controls="collapsethird" style="border-bottom: 4px solid rgba(255, 255, 255, .8);">
              
                
                <span style="width:100%;" >{{menuItem.title}}</span>
            </a>
            <div  *ngIf="menu[i]==true" class="collapse show" style="padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            background: white;">
                  <div class="bg-white  collapse-inner" style="padding-top: 0px;padding-bottom: 0px;text-transform: uppercase;" routerLinkActive="active" *ngFor="let children of menuItem.children">
                        <a class="collapse-item" [routerLink]="[children.path]">
                              
                               {{children.desc}}
                            </a>
                          
                        </div>
                    </div>
                    
        </li> -->
        
        <li routerLinkActive="active"  class="nav-item">
           
            <a  class="nav-link" (click)="logOut()" style="border-bottom: 4px solid rgba(255, 255, 255, .8);">
              
                <span   style="width:100%;">LOG OUT</span>
               
            </a>
      
        </li>
    </ul>
</div>
