<div class="panel-header panel-header-lg">
</div>
 <div class="row topNavFix" style="margin:0;padding-top:10px; padding-bottom:10px;   background-color: #F5F5F5!important;position: fixed;
    width: 100%;
      ">
        <div >
                <a class="pr-2 py-2 mt-2"  [routerLink]="['/home']" style="color: black;padding-left:0.8rem;"><i class="fa fa-home text-danger" style="margin-right:1rem"></i> Home </a>
        </div>
        <div >
                <a class="px-2 py-2 mt-2"  style=" color:rgba(0, 0, 0, .5);">Recharge</a>
            </div>
            <div >
                    <a class="px-2 py-2 mt-2 text-danger" >E-Voucher</a>
                </div>
    </div> 
<div class="main-content">
    <div class="row">
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-header">
                    <!-- <h5 class="card-category">Home</h5> -->
                  
                    <div *ngIf="screen1==true" class="row mb-3">
                            <div class="col-12">
                                   
                                
                               </div>
                        <!-- <div class="col-sm-6 mb-3 pb-2">
                            <label class="col-sm-4 col-xs-12">Type</label> <select class="col-sm-5 col-xs-8" #type>
                                <option value="01">E-Recharge</option>
                                <option value="02">E-Voucher</option>
                            </select>
                        </div> -->
                        <div class="pl-5 col-sm-12 mb-3 pb-2 pt-3">
                            <label class="col-sm-4 col-xs-12">Voucher Type</label> <select  class="col-sm-4 col-xs-8" (change)="onChangeoperatorEvent($event)">
                                <option value="">Select</option>
                                <option *ngFor="let bill of biller;" [value]="bill.billercode">{{bill.billerdesc}}</option>
                                
                            </select>
                        </div>
                        <div class="pl-5 col-sm-12 mb-3 pb-2">
                            <label class="col-sm-4 col-xs-12">Alfa Mobile Number</label> <input title=" " type="text" (change)="checkmsisdnFieldLength(this);" min="1" max="9999999999" min="0" id="phone"
                             class="col-sm-4 col-xs-8"  required 
                             [(ngModel)]="topupForm.phone" #phone="ngModel">
                            <span *ngIf="phone.invalid && (phone.dirty || phone.touched) && msisdnError!=true" class="text-primary px-3">

                                <span *ngIf="phone.errors.required">
                                    Alfa Mobile Number is required.
                                </span>
                                <span *ngIf="phone.errors.minlength">
                                    Alfa Mobile Number must be at least 10 characters long.
                                </span>
                            
                            </span>
                            <span *ngIf="msisdnError==true" class="text-primary mx-3">
    
                                <span>
                                   {{msisdnErrorText}}
                                </span>
                              
                            
                            </span>
                        
                        </div>
                        
                        <!-- <div class="pl-5 col-sm-12 mb-3 pb-2">
                            <label class="col-sm-4 col-xs-12">Recharge Amount</label> <select *ngIf="productCount>1" class="col-sm-4 col-xs-8" (change)="onChangeamountEvent($event)">
                                <option *ngFor="let prod of products;" [value]="prod.amount">${{prod.amount}}</option>
                                
                            </select>
                            <select *ngIf="productCount==1" class="col-sm-4 col-xs-8" (change)="onChangeamountEvent($event)">
                                <option [value]="products.amount">${{products.amount}}</option>
                                
                            </select>
                            <select *ngIf="productCount==undefined" class="col-sm-4 col-xs-8" >
                                <option >Select operator first</option>
                                
                            </select>
                        </div> -->
                        <!-- <div class="pl-5 col-sm-12 mb-3 pb-2">
                                <label class="col-sm-4 col-xs-12">Recharge Type</label> <select class="col-sm-4 col-xs-8">
                                    <ng-option>Only Value</option>
                                    <ng-option>Value and Validity</option>
                                    <ng-option>Vas and Activation</option>
                                </select>
                            </div>
                            <div class="pl-5 col-sm-12 mb-3 pb-2">
                                <label class="col-sm-4 col-xs-12">Recharge Amount</label> <select class="col-sm-4 col-xs-8">
                                    <ng-option>₹10</option>
                                    <ng-option>₹20</option>
                                    <ng-option>₹30</option>
                                    <ng-option>₹40</option>
                                </select>
                            </div> -->
                            <!-- <div class="pl-5 col-sm-12 mb-3 pb-2">
                                    <label class="col-sm-4 col-xs-12">Msisdn</label> <input title=" " type="number" min="1" max="9999999999" min="0" id="msisdn"
                                     class="col-sm-4 col-xs-8"  required 
                                     [(ngModel)]="topupForm.msisdn" #msisdn="ngModel">
                                    <div *ngIf="msisdn.invalid && (msisdn.dirty || msisdn.touched)" class="alert alert-danger col-sm-4 offset-sm-2">
        
                                        <div *ngIf="msisdn.errors.required">
                                           msisdn is required.
                                        </div>
                                        <div *ngIf="msisdn.errors.minlength">
                                           msisdn must be at least 10 characters long.
                                        </div>
                                    
                                    </div>
                                </div> -->
                                <div class="pl-5 col-sm-12 mb-3 pb-2">
                                        <label class="col-sm-4 col-xs-12">Quantity</label> <input title=" " type="number" min="1" max="9999999999" id="quantity"
                                         class="col-sm-4 col-xs-8"  required 
                                         [(ngModel)]="topupForm.quantity" #quantity="ngModel">
                                        <span *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="text-primary px-3">
            
                                            <span *ngIf="quantity.errors.required">
                                               Quantity is required.
                                            </span>
                                          
                                        
                                        </span>
                                    </div>
                            <div class="pl-5 col-sm-12 mb-3 pb-2">
                                <label class="col-sm-4 col-xs-12">MPIN</label> <input title=" " type="password" id="name"
                                    class="col-sm-4 col-xs-8 PassTxtBox" required [(ngModel)]="topupForm.mpin" #mpin="ngModel">
                                    <span *ngIf="mpin.invalid && (mpin.dirty || mpin.touched)" class="text-primary px-3">
    
                                            <span *ngIf="mpin.errors.required">
                                               MPIN is required.
                                            </span>
                                           
                                        
                                        </span>
                            </div>
                        
                       <div *ngIf="productCount" class="col-12 scroll">
                           <br>
                            <div class="col-12 pl-5"><label style="font-size: 1em;
                                margin-bottom: 16px;
                                color: #858796;">Select Voucher Amount</label></div>
                        <div *ngIf="productCount>1" class="row pl-5 equal">
                           
                            <div *ngFor="let prod of products;" class="col-xl-3 col-sm-4 col-sm-6 col-xs-100 px-1 text-center  mb-3 px-2">
                                <div class="box_border">
                                    <h2 class="price mb-0" ><span>$&nbsp;</span><span *ngIf="prod.pricewithoutvat[0]">{{prod.pricewithoutvat[0]}}<span style="font-size: 29px;" *ngIf="prod.pricewithoutvat[1]">.{{prod.pricewithoutvat[1]}}</span></span><span *ngIf="!prod.pricewithoutvat[0]">{{prod.pricewithoutvat}}</span></h2>
                                    <ul *ngIf="prod.productdesc" class="list_style" >
                                        <li *ngFor="let prdesc of prod.productdesc">
                                            <span class="vouchDesc">{{prdesc[0]}} :</span>
                                            {{prdesc[1]}}</li>
                                        
                                        <!-- <li *ngIf="prod.productdesc[1]"><span class="vouchDesc">U-Chat: </span>
                                            {{prod.productdesc[1]}}</li>
                                        
                                        <li *ngIf="prod.productdesc[2]"><span class="vouchDesc">Alfa2Alfa: </span>
                                            {{prod.productdesc[2]}}</li>
                                        
                                        <li *ngIf="prod.productdesc[3]"><span class="vouchDesc">Waffer:</span>
                                            {{prod.productdesc[3]}}</li> -->
                                    </ul>
                                    <ul *ngIf="prod.productdesc==undefined" class="list_style" >
                                        
                                    </ul>
                                    <a  class="btn btn-warning border-radius-0 pl-4 pr-4" (click)="screen2Show(prod.totalamount,prod.amount,prod.productcode,prod.pricewithoutvat,prod.taxcount,prod.taxtypes);scrollToTop();">
                                <span class="text" style="color:white;    font-weight: bold;
                                font-size: 1rem;"><strong>RECHARGE</strong></span>
                              </a>
                                </div>
                            </div>
                            </div>

                            <div *ngIf="productCount==1" class="row pl-5 equal">
                                <div class="col-xl-3 col-sm-4 col-sm-6 col-xs-100 px-1 text-center  mb-3 px-2">
                                    <div class="box_border">
                                        <h2 class="price mb-0" ><span>$&nbsp;</span><span *ngIf="products.pricewithoutvat[0]">{{products.pricewithoutvat[0]}}<span style="font-size: 29px;" *ngIf="products.pricewithoutvat[1]">.{{products.pricewithoutvat[1]}}</span></span><span *ngIf="!products.pricewithoutvat[0]">{{products.pricewithoutvat}}</span></h2>
                                        <ul *ngIf="products.productdesc" class="list_style" >
                                            <li *ngFor="let prdesc of products.productdesc">
                                                <span class="vouchDesc">{{prdesc[0]}} :</span>
                                                {{prdesc[1]}}</li>
                                            
                                            <!-- <li *ngIf="products.productdesc[1]"><span class="vouchDesc">U-Chat: </span>
                                                {{products.productdesc[1]}}</li>
                                            
                                            <li *ngIf="products.productdesc[2]"><span class="vouchDesc">Alfa2Alfa: </span>
                                                {{products.productdesc[2]}}</li>
                                            
                                            <li *ngIf="products.productdesc[3]"><span class="vouchDesc">Waffer:</span>
                                                {{products.productdesc[3]}}</li> -->
                                        </ul>
                                        <ul *ngIf="products.productdesc==undefined" class="list_style" >
                                           
                                        </ul>
                                        <a  class="btn btn-warning border-radius-0 pl-4 pr-4" (click)="screen2Show(products.totalamount,products.amount,products.productcode,products.pricewithoutvat,products.taxcount,products.taxtypes);scrollToTop();">
                                    <span class="text" style="color:white;   font-weight: bold;
                                    font-size: 1rem;"><strong>RECHARGE</strong></span>
                                  </a>
                                    </div>
                                </div>
                                </div>

                       </div>

                        <!-- <div class="col-12 text-center mb-3 pb-3">
                            <button class="proceed mx-2" (click)="screen2Show();"><b>SUBMIT</b></button>
                        </div> -->
                    </div>

                    <div *ngIf="screen2==true" class="row mb-3 mt-1">
                            <div class="card col-sm-4 offset-sm-4 text-center" class="Review-card text-center" style="border: 1px solid #ccc;">
                                    <div class="card-header border_box Review-card-header" style="margin-top:0px;"><h3 style="color: #d0001b;">REVIEW OF E-VOUCHER</h3>     </div>
                                    <div class="card-body">
                                        <p>To Alfa Mobile Number : {{topupForm.phone}}</p>
                                        <p>Quantity : {{topupForm.quantity}}</p>
                                        <p>Amount : ${{amount}}</p>
                                        <p>Voucher Type : {{operator}}</p>
                                        <p>Price without VAT : ${{reviewprice}}</p>
                                        <p>VAT({{vat}}%) : ${{reviewVat  }}</p>
                         
                                        <p *ngIf="fiscalStamp">Fiscal Stamp : ${{reviewfiscal}}</p>
                                        <p>Total Amount(all taxes included) : ${{reviewTotal }}</p>
                                        <br>
                                        <div class="row text-center mb-3 pb-3">
                                            <div class="col-12">
                                                    <button class="cancel mx-2"
                                                    (click)="cancel();">CANCEL</button>
                                                <button class="proceed mx-2" [disabled]="clicked" (click)="screen3Show(content);clicked = true;">CONFIRM</button>
                                            </div>
                                    </div>
                                    </div>
                           
                            </div>
                        
                        
                    </div>
                   
                    <div  *ngIf="screen3==true"  class="mb-3">
                        <div id="print-section" *ngIf="agenttype=='Direct' && voucherCount>1" class="row">
                                <div *ngFor="let recipt of evoucherReciepts;" class="card  mb-1 prints page-break" style="border: 1px solid gray;padding: 25px;padding-top:20px;max-width: 400px;margin: auto;">
                             
                                        <!-- <p class="text-center mx-3">Receipt of Voucher</p> -->
                                       <div class="text-center"> <img class="mb-2" src="./assets/img/alfawhite-logo.png" style="height: 100px;border: 1px solid lightgray;border-radius: 15px;"></div>
                                       <p class="fsize-10" style="color: gray"><span class="ml-5">{{evoucherResult.estel.response.responsects[0]}}</span> <span style="float: right;" class="mr-5">{{evoucherResult.estel.response.responsects[1]}}</span></p>
                                       <p class="mb-2 fsize-12">MIC 1 for account of ROL</p>
                                       
                                        <p class="fsize-10">VAT NUMBER - {{recipt.serialno}}</p>
                                        <p class="fsize-10">RECEIPT NUMBER - {{recipt.recipientnumber}}</p>
                                        <p class="fsize-10">TRANSACTION ID - {{evoucherResult.estel.response.transid}}</p>
                                      
                                        <p class="" class="pb-1 fsize-10">AGENT NAME - {{evoucherResult.estel.response.firstname}} {{evoucherResult.estel.response.lastname}}</p>
                                        <div class="text-center">
                                            <p class="fsize-12 margin-b-2" style="font-weight: bold;">ALFA RECHARGE CODE</p>
                                            <p class=" pb-2 fsize-12" style="border-top:1px solid lightgray;border-bottom:1px solid lightgray;margin-bottom: 5px !important;padding-bottom: 5px !important;font-weight: bold;padding-top: 5px;;">{{recipt.pinno}} </p>
                                        </div>
                                        <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">AMOUNT  RECEIVED (VAT excluded) </p>
                                        <p class="fsize-10" style="margin-top:0px !important;">${{evoucherResult.estel.response.amount}}</p>
                                        <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">VAT ({{vat}}%)</p>
                                        <p class="fsize-10" style="margin-top:0px !important;">${{respVat}}</p>
                                        <p class="fsize-10" *ngIf="fiscalStamp" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">FISCAL STAMP (Law 64)</p>
                                        <p class="fsize-10" *ngIf="fiscalStamp" style="margin-top:0px !important;">${{fiscalStamp}}</p>
                                        <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">TOTAL AMOUNT (All Taxes Included)</p>
                                        <p class="fsize-10" style="margin-top:0px !important;">${{evoucherResult.estel.response.totalamount}}</p>
                                        <p class="fsize-10" style="margin-top:0px !important;border-bottom: solid 1px;">{{totalamountwords}}</p>
                                        <p class="fsize-10" style="margin-bottom: 0 !important;">Serial Number - {{recipt.serialno}}</p>
                                        <p class="fsize-10">Card Expiry Date - {{recipt.expirydate}} </p>
                                        <p class="fsize-7" style="color: gray;margin-bottom: 0 !important;font-size: 12px;">To Recharge your line dial</p>
                                        <p class="fsize-7" style="color: gray;font-size: 12px;">*14* Alfa recharge code then # and OK <span style="float: right;color:black;">Stamp Duty Paid</span></p>
                                        <br>
                                        <!-- <p class="fsize-10" style="page-break-before: always">&nbsp;</p> -->
                                    </div>
                        </div>
                        <div id="print-section" *ngIf="agenttype=='Direct' && voucherCount==1" class="row">
                                <div class="card  mb-1 prints page-break" style="border: 1px solid gray;padding: 25px;padding-top:20px;max-width: 400px;margin: auto;">
                             
                                        <!-- <p class="text-center mx-3">Receipt of Voucher</p> -->
                                       <div class="text-center"> <img class="mb-2" src="./assets/img/alfawhite-logo.png" style="height: 100px;border: 1px solid lightgray;border-radius: 15px;"></div>
                                       <p class="fsize-10" style="color: gray"><span class="ml-5">{{evoucherResult.estel.response.responsects[0]}}</span> <span style="float: right;" class="mr-5">{{evoucherResult.estel.response.responsects[1]}}</span></p>
                                       <p class="mb-2 fsize-12">MIC 1 for account of ROL</p>
                                       
                                        <p class="fsize-10">VAT NUMBER - {{evoucherReciepts.vat}}</p>
                                        <p class="fsize-10">RECEIPT NUMBER - {{evoucherReciepts.recipientnumber}}</p>
                                        <p class="fsize-10">TRANSACTION ID - {{evoucherResult.estel.response.transid}}</p>
                                      
                                        <p class="" class="pb-1 fsize-10">AGENT NAME - {{evoucherResult.estel.response.firstname}} {{evoucherResult.estel.response.lastname}}</p>
                                        <div class="text-center">
                                            <p class="fsize-12 margin-b-2" style="font-weight: bold;">ALFA RECHARGE CODE</p>
                                            <h6 class=" pb-2 fsize-12" style="border-top:1px solid lightgray;border-bottom:1px solid lightgray;margin-bottom: 5px !important;padding-bottom: 5px !important;font-weight: bold;padding-top: 5px;;">{{evoucherReciepts.pinno}} </h6>
                                        </div>
                                        <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">AMOUNT  RECEIVED (VAT excluded) </p>
                                        <p class="fsize-10" style="margin-top:0px !important;">${{evoucherResult.estel.response.amount}}</p>
                                        <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">VAT ({{Vat}}%)</p>
                                        <p class="fsize-10" style="margin-top:0px !important;">${{respVat}}</p>
                                        <p class="fsize-10" *ngIf="fiscalStamp" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">FISCAL STAMP (Law 64)</p>
                                        <p class="fsize-10" *ngIf="fiscalStamp" style="margin-top:0px !important;">${{fiscalStamp}}</p>
                                        <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">TOTAL AMOUNT (All Taxes Included)</p>
                                        <p class="fsize-10" style="margin-top:0px !important;">${{evoucherResult.estel.response.totalamount}}</p>
                                        <p class="fsize-10" style="margin-top:0px !important;border-bottom: solid 1px;">{{totalamountwords}}</p>
                                        <p class="fsize-10" style="margin-bottom: 0 !important;">Serial Number - {{evoucherReciepts.serialno}}</p>
                                        <p class="fsize-10">Card Expiry Date - {{evoucherReciepts.expirydate}} </p>
                                        <p class="fsize-7" style="color: gray;margin-bottom: 0 !important;font-size: 12px;">To Recharge your line dial</p>
                                        <p class="fsize-7" style="color: gray;font-size: 12px;">*14* Alfa recharge code then # and OK <span style="float: right;color:black;">Stamp Duty Paid</span></p>
                                        <br>
                                        <!-- <p class="fsize-10" style="page-break-before: always">&nbsp;</p> -->
                                    </div>
                        </div>
                        
                        <div id="print-section" *ngIf="agenttype=='Indirect' && voucherCount>1" class="row">
                                <div *ngFor="let recipt of evoucherReciepts;"  class="card  mb-1 prints page-break" style="border: 1px solid gray;padding: 25px;padding-top:20px;max-width: 400px;margin: auto;">
                             
                                        <!-- <p class="text-center mx-3">Receipt of Voucher</p> -->
                                       <div class="text-center"> <img class="mb-2" src="./assets/img/alfawhite-logo.png" style="height: 100px;border: 1px solid lightgray;border-radius: 15px;"></div>
                                       <p class="fsize-10" style="color: gray"><span class="ml-5">{{evoucherResult.estel.response.responsects[0]}}</span> <span style="float: right;" class="mr-5">{{evoucherResult.estel.response.responsects[1]}}</span></p>
                                       <p class="fsize-10">RECEIPT ID - {{recipt.recipientnumber}}</p>
                                        <div class="text-center">
                                            <p class="fsize-12 margin-b-2" style="font-weight: bold;">ALFA RECHARGE CODE</p>
                                            <p class=" pb-2 fsize-12" style="border-top:1px solid lightgray;border-bottom:1px solid lightgray;margin-bottom: 5px !important;padding-bottom: 5px !important;font-weight: bold;padding-top: 5px;;">{{recipt.pinno}} </p>
                                        </div>
                                        <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">AMOUNT  RECEIVED (VAT excluded) </p>
                                        <p class="fsize-10" style="margin-top:0px !important;">${{evoucherResult.estel.response.amount}}</p>
                                        <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">VAT ({{Vat}}%)</p>
                                        <p class="fsize-10" style="margin-top:0px !important;">${{respVat}}</p>
                                        <p class="fsize-10" *ngIf="fiscalStamp" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">FISCAL STAMP (Law 64)</p>
                                        <p class="fsize-10" *ngIf="fiscalStamp" style="margin-top:0px !important;">${{fiscalStamp}}</p>
                                        <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">TOTAL AMOUNT (All Taxes Included)</p>
                                        <p class="fsize-10" style="margin-top:0px !important;">${{evoucherResult.estel.response.totalamount}}</p>
                                        <p class="fsize-10" style="margin-top:0px !important;border-bottom: solid 1px;">{{totalamountwords}}</p>
                                        <p class="fsize-10" style="margin-bottom: 0 !important;">Serial Number - {{recipt.serialno}}</p>
                                        <p class="fsize-10">Card Expiry Date - {{recipt.expirydate}} </p>
                                        <p class="fsize-7" style="color: gray;margin-bottom: 0 !important;font-size: 12px;">To Recharge your line dial</p>
                                        <p class="fsize-7" style="color: gray;font-size: 12px;">*14* Alfa recharge code then # and OK </p>
                                        <!-- <br> -->
                                        <!-- <p class="fsize-10" style="page-break-before: always">&nbsp;</p>   -->
                                    </div>
                        </div>
                        <div id="print-section" *ngIf="agenttype=='Indirect' && voucherCount==1" class="row">
                                <div  class="card  mb-1 prints page-break" style="border: 1px solid gray;padding: 25px;padding-top:20px;max-width: 400px;margin: auto;">
                             
                                        <!-- <p class="text-center mx-3">Receipt of Voucher</p> -->
                                       <div class="text-center"> <img class="mb-2" src="./assets/img/alfawhite-logo.png" style="height: 100px;border: 1px solid lightgray;border-radius: 15px;"></div>
                                       <p class="fsize-10" style="color: gray"><span class="ml-5">{{evoucherResult.estel.response.responsects[0]}}</span> <span style="float: right;" class="mr-5">{{evoucherResult.estel.response.responsects[1]}}</span></p>
                                       <p class="fsize-10">RECEIPT ID - {{evoucherReciepts.recipientnumber}}</p>
                                        <div class="text-center">
                                            <p class="fsize-12 margin-b-2" style="font-weight: bold;">ALFA RECHARGE CODE</p>
                                            <h6 class=" pb-2 fsize-12" style="border-top:1px solid lightgray;border-bottom:1px solid lightgray;margin-bottom: 5px !important;padding-bottom: 5px !important;font-weight: bold;padding-top: 5px;;">{{evoucherReciepts.pinno}} </h6>
                                        </div>
                                        <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">AMOUNT  RECEIVED (VAT excluded) </p>
                                        <p class="fsize-10" style="margin-top:0px !important;">${{evoucherResult.estel.response.amount}}</p>
                                        <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">VAT ({{Vat}}%)</p>
                                        <p class="fsize-10" style="margin-top:0px !important;">${{respVat}}</p>
                                        <p class="fsize-10" *ngIf="fiscalStamp" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">FISCAL STAMP (Law 64)</p>
                                        <p class="fsize-10" *ngIf="fiscalStamp" style="margin-top:0px !important;">${{fiscalStamp}}</p>
                                        <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">TOTAL AMOUNT (All Taxes Included)</p>
                                        <p class="fsize-10" style="margin-top:0px !important;">${{evoucherResult.estel.response.totalamount}}</p>
                                        <p class="fsize-10" style="margin-top:0px !important;border-bottom: solid 1px;">{{totalamountwords}}</p>
                                        <p class="fsize-10" style="margin-bottom: 0 !important;">Serial Number - {{evoucherReciepts.serialno}}</p>
                                        <p class="fsize-10">Card Expiry Date - {{evoucherReciepts.expirydate}} </p>
                                        <p class="fsize-7" style="color: gray;margin-bottom: 0 !important;font-size: 12px;">To Recharge your line dial</p>
                                        <p class="fsize-7" style="color: gray;font-size: 12px;">*14* Alfa recharge code then # and OK </p>
                                        <br>
                                        <!-- <p class="fsize-10" style="page-break-before: always">&nbsp;</p> -->
                                    </div>
                        </div>     

                <div class="col-12 text-center   pb-3"><button class="cancel  mx-2"
                            (click)="cancel();">CLOSE</button> <button class="proceed ml-5 mx-2"
                            printSectionId="print-section" ngxPrint (click)="print()">PRINT</button>

                    </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Print</h4>
   
       
    </div>
    <div class="modal-body">
        <div id="print-section" *ngIf="agenttype=='Direct' && voucherCount>1" class="row">
            <div *ngFor="let recipt of evoucherReciepts;" class="card  mb-1 prints page-break" style="border: 1px solid gray;padding: 25px;padding-top:20px;max-width: 400px;margin: auto;">
         
                    <!-- <p class="text-center mx-3">Receipt of Voucher</p> -->
                   <div class="text-center"> <img class="mb-2" src="./assets/img/alfawhite-logo.png" style="height: 100px;border: 1px solid lightgray;border-radius: 15px;"></div>
                   <p class="fsize-10" style="color: gray"><span class="ml-5">{{evoucherResult.estel.response.responsects[0]}}</span> <span style="float: right;" class="mr-5">{{evoucherResult.estel.response.responsects[1]}}</span></p>
                   <p class="mb-2 fsize-12">MIC 1 for account of ROL</p>
                   
                    <p class="fsize-10">VAT NUMBER - {{recipt.serialno}}</p>
                    <p class="fsize-10">RECEIPT NUMBER - {{recipt.recipientnumber}}</p>
                    <p class="fsize-10">TRANSACTION ID - {{evoucherResult.estel.response.transid}}</p>
                  
                    <p class="" class="pb-1 fsize-10">AGENT NAME - {{evoucherResult.estel.response.firstname}} {{evoucherResult.estel.response.lastname}}</p>
                    <div class="text-center">
                        <p class="fsize-12 margin-b-2" style="font-weight: bold;">ALFA RECHARGE CODE</p>
                        <p class=" pb-2 fsize-12" style="border-top:1px solid lightgray;border-bottom:1px solid lightgray;margin-bottom: 5px !important;padding-bottom: 5px !important;font-weight: bold;padding-top: 5px;;">{{recipt.pinno}} </p>
                    </div>
                    <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">AMOUNT  RECEIVED (VAT excluded) </p>
                    <p class="fsize-10" style="margin-top:0px !important;">${{evoucherResult.estel.response.amount}}</p>
                    <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">VAT ({{vat}}%)</p>
                    <p class="fsize-10" style="margin-top:0px !important;">${{respVat}}</p>
                    <p class="fsize-10" *ngIf="fiscalStamp" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">FISCAL STAMP (Law 64)</p>
                    <p class="fsize-10" *ngIf="fiscalStamp" style="margin-top:0px !important;">${{fiscalStamp}}</p>
                    <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">TOTAL AMOUNT (All Taxes Included)</p>
                    <p class="fsize-10" style="margin-top:0px !important;">${{evoucherResult.estel.response.totalamount}}</p>
                    <p class="fsize-10" style="margin-top:0px !important;border-bottom: solid 1px;">{{totalamountwords}}</p>
                    <p class="fsize-10" style="margin-bottom: 0 !important;">Serial Number - {{recipt.serialno}}</p>
                    <p class="fsize-10">Card Expiry Date - {{recipt.expirydate}} </p>
                    <p class="fsize-7" style="color: gray;margin-bottom: 0 !important;font-size: 12px;">To Recharge your line dial</p>
                    <p class="fsize-7" style="color: gray;font-size: 12px;">*14* Alfa recharge code then # and OK <span style="float: right;color:black;">Stamp Duty Paid</span></p>
                    <br>
                    <!-- <p class="fsize-10" style="page-break-before: always">&nbsp;</p> -->
                </div>
    </div>
    <div id="print-section" *ngIf="agenttype=='Direct' && voucherCount==1" class="row">
            <div class="card  mb-1 prints page-break" style="border: 1px solid gray;padding: 25px;padding-top:20px;max-width: 400px;margin: auto;">
         
                    <!-- <p class="text-center mx-3">Receipt of Voucher</p> -->
                   <div class="text-center"> <img class="mb-2" src="./assets/img/alfawhite-logo.png" style="height: 100px;border: 1px solid lightgray;border-radius: 15px;"></div>
                   <p class="fsize-10" style="color: gray"><span class="ml-5">{{evoucherResult.estel.response.responsects[0]}}</span> <span style="float: right;" class="mr-5">{{evoucherResult.estel.response.responsects[1]}}</span></p>
                   <p class="mb-2 fsize-12">MIC 1 for account of ROL</p>
                   
                    <p class="fsize-10">VAT NUMBER - {{evoucherReciepts.vat}}</p>
                    <p class="fsize-10">RECEIPT NUMBER - {{evoucherReciepts.recipientnumber}}</p>
                    <p class="fsize-10">TRANSACTION ID - {{evoucherResult.estel.response.transid}}</p>
                  
                    <p class="" class="pb-1 fsize-10">AGENT NAME - {{evoucherResult.estel.response.firstname}} {{evoucherResult.estel.response.lastname}}</p>
                    <div class="text-center">
                        <p class="fsize-12 margin-b-2" style="font-weight: bold;">ALFA RECHARGE CODE</p>
                        <h6 class=" pb-2 fsize-12" style="border-top:1px solid lightgray;border-bottom:1px solid lightgray;margin-bottom: 5px !important;padding-bottom: 5px !important;font-weight: bold;padding-top: 5px;;">{{evoucherReciepts.pinno}} </h6>
                    </div>
                    <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">AMOUNT  RECEIVED (VAT excluded) </p>
                    <p class="fsize-10" style="margin-top:0px !important;">${{evoucherResult.estel.response.amount}}</p>
                    <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">VAT ({{Vat}}%)</p>
                    <p class="fsize-10" style="margin-top:0px !important;">${{respVat}}</p>
                    <p class="fsize-10" *ngIf="fiscalStamp" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">FISCAL STAMP (Law 64)</p>
                    <p class="fsize-10" *ngIf="fiscalStamp" style="margin-top:0px !important;">${{fiscalStamp}}</p>
                    <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">TOTAL AMOUNT (All Taxes Included)</p>
                    <p class="fsize-10" style="margin-top:0px !important;">${{evoucherResult.estel.response.totalamount}}</p>
                    <p class="fsize-10" style="margin-top:0px !important;border-bottom: solid 1px;">{{totalamountwords}}</p>
                    <p class="fsize-10" style="margin-bottom: 0 !important;">Serial Number - {{evoucherReciepts.serialno}}</p>
                    <p class="fsize-10">Card Expiry Date - {{evoucherReciepts.expirydate}} </p>
                    <p class="fsize-7" style="color: gray;margin-bottom: 0 !important;font-size: 12px;">To Recharge your line dial</p>
                    <p class="fsize-7" style="color: gray;font-size: 12px;">*14* Alfa recharge code then # and OK <span style="float: right;color:black;">Stamp Duty Paid</span></p>
                    <br>
                    <!-- <p class="fsize-10" style="page-break-before: always">&nbsp;</p> -->
                </div>
    </div>
    
    <div id="print-section" *ngIf="agenttype=='Indirect' && voucherCount>1" class="row">
            <div *ngFor="let recipt of evoucherReciepts;"  class="card  mb-1 prints page-break" style="border: 1px solid gray;padding: 25px;padding-top:20px;max-width: 400px;margin: auto;">
         
                    <!-- <p class="text-center mx-3">Receipt of Voucher</p> -->
                   <div class="text-center"> <img class="mb-2" src="./assets/img/alfawhite-logo.png" style="height: 100px;border: 1px solid lightgray;border-radius: 15px;"></div>
                   <p class="fsize-10" style="color: gray"><span class="ml-5">{{evoucherResult.estel.response.responsects[0]}}</span> <span style="float: right;" class="mr-5">{{evoucherResult.estel.response.responsects[1]}}</span></p>
                   <p class="fsize-10">RECEIPT ID - {{recipt.recipientnumber}}</p>
                    <div class="text-center">
                        <p class="fsize-12 margin-b-2" style="font-weight: bold;">ALFA RECHARGE CODE</p>
                        <p class=" pb-2 fsize-12" style="border-top:1px solid lightgray;border-bottom:1px solid lightgray;margin-bottom: 5px !important;padding-bottom: 5px !important;font-weight: bold;padding-top: 5px;;">{{recipt.pinno}} </p>
                    </div>
                    <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">AMOUNT  RECEIVED (VAT excluded) </p>
                    <p class="fsize-10" style="margin-top:0px !important;">${{evoucherResult.estel.response.amount}}</p>
                    <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">VAT ({{Vat}}%)</p>
                    <p class="fsize-10" style="margin-top:0px !important;">${{respVat}}</p>
                    <p class="fsize-10" *ngIf="fiscalStamp" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">FISCAL STAMP (Law 64)</p>
                    <p class="fsize-10" *ngIf="fiscalStamp" style="margin-top:0px !important;">${{fiscalStamp}}</p>
                    <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">TOTAL AMOUNT (All Taxes Included)</p>
                    <p class="fsize-10" style="margin-top:0px !important;">${{evoucherResult.estel.response.totalamount}}</p>
                    <p class="fsize-10" style="margin-top:0px !important;border-bottom: solid 1px;">{{totalamountwords}}</p>
                    <p class="fsize-10" style="margin-bottom: 0 !important;">Serial Number - {{recipt.serialno}}</p>
                    <p class="fsize-10">Card Expiry Date - {{recipt.expirydate}} </p>
                    <p class="fsize-7" style="color: gray;margin-bottom: 0 !important;font-size: 12px;">To Recharge your line dial</p>
                    <p class="fsize-7" style="color: gray;font-size: 12px;">*14* Alfa recharge code then # and OK </p>
                    <!-- <br> -->
                    <p class="fsize-10" style="page-break-before: always">&nbsp;</p>  
                </div>
    </div>
    <div id="print-section" *ngIf="agenttype=='Indirect' && voucherCount==1" class="row">
            <div  class="card  mb-1 prints page-break" style="border: 1px solid gray;padding: 25px;padding-top:20px;max-width: 400px;margin: auto;">
         
                    <!-- <p class="text-center mx-3">Receipt of Voucher</p> -->
                   <div class="text-center"> <img class="mb-2" src="./assets/img/alfawhite-logo.png" style="height: 100px;border: 1px solid lightgray;border-radius: 15px;"></div>
                   <p class="fsize-10" style="color: gray"><span class="ml-5">{{evoucherResult.estel.response.responsects[0]}}</span> <span style="float: right;" class="mr-5">{{evoucherResult.estel.response.responsects[1]}}</span></p>
                   <p class="fsize-10">RECEIPT ID - {{evoucherReciepts.recipientnumber}}</p>
                    <div class="text-center">
                        <p class="fsize-12 margin-b-2" style="font-weight: bold;">ALFA RECHARGE CODE</p>
                        <h6 class=" pb-2 fsize-12" style="border-top:1px solid lightgray;border-bottom:1px solid lightgray;margin-bottom: 5px !important;padding-bottom: 5px !important;font-weight: bold;padding-top: 5px;;">{{evoucherReciepts.pinno}} </h6>
                    </div>
                    <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">AMOUNT  RECEIVED (VAT excluded) </p>
                    <p class="fsize-10" style="margin-top:0px !important;">${{evoucherResult.estel.response.amount}}</p>
                    <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">VAT ({{Vat}}%)</p>
                    <p class="fsize-10" style="margin-top:0px !important;">${{respVat}}</p>
                    <p class="fsize-10" *ngIf="fiscalStamp" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">FISCAL STAMP (Law 64)</p>
                    <p class="fsize-10" *ngIf="fiscalStamp" style="margin-top:0px !important;">${{fiscalStamp}}</p>
                    <p class="fsize-10" style="font-weight: bold;margin-bottom: 0px !important;font-style: italic;">TOTAL AMOUNT (All Taxes Included)</p>
                    <p class="fsize-10" style="margin-top:0px !important;">${{evoucherResult.estel.response.totalamount}}</p>
                    <p class="fsize-10" style="margin-top:0px !important;border-bottom: solid 1px;">{{totalamountwords}}</p>
                    <p class="fsize-10" style="margin-bottom: 0 !important;">Serial Number - {{evoucherReciepts.serialno}}</p>
                    <p class="fsize-10">Card Expiry Date - {{evoucherReciepts.expirydate}} </p>
                    <p class="fsize-7" style="color: gray;margin-bottom: 0 !important;font-size: 12px;">To Recharge your line dial</p>
                    <p class="fsize-7" style="color: gray;font-size: 12px;">*14* Alfa recharge code then # and OK </p>
                    <!-- <br> -->
                    <!-- <p style="page-break-before: always">&nbsp;</p> -->
                </div>
    </div>   
        <!-- <div class="col-12 text-center   pb-3"><button class="cancel  mx-2"
            (click)="cancel();">CLOSE</button> <button class="proceed ml-5 mx-2"
            (click)="print();">PRINT</button>
        </div> -->
        <br>
    </div>
    <div class="modal-footer">
      <button type="button" class=" proceed" (click)="print();">PRINT</button>
    </div>
  </ng-template>