.proceed{font-family: 'todayshop-mediumitalicregular' !important; letter-spacing: 1px;font-weight: bolder;
    font-family: 'todayshop-boldregular';
    letter-spacing: 1px;      color: #fff;
    background-color: #F4A51C;
    border-color: #F4A51C;     display: inline-block;
    font-weight: 400;     border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;    font-family: 'todayshop-boldregular';
    font-weight: bolder;
}
.cancel{font-family: 'todayshop-mediumitalicregular' !important; font-weight: bolder;
    background-color: #bfbcbc;
    color: white;font-weight: 400;     border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;    font-family: 'todayshop-boldregular';letter-spacing: 1px; 
    font-weight: bolder;
}
// .scroll{

//     height: 425px;
//     overflow-y: scroll;
//   }
.vouchDesc{
    font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";font-style:italic;
font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";font-style:italic;
font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";font-style:italic;
font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";font-style:italic;
font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";font-style:italic;
font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";font-style:italic;
font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";font-style:italic;
font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";font-style:italic;
}
// .fsize-10{
//     font-size: 12px !important;
// }
// .fsize-12{
//     font-size: 14px !important;
// }
.equal {
    display: flex;
    
    flex-wrap: wrap;
  }
  .box_border {
   
    height: 100%;
}
@media print {
    html, body {
      width: 7.2cm;
      height: 15cm;
    }
    prints{
        width: 7.2cm;
        height: 15cm;
    }
  
}