<div class="app-body mt-3 pt-3">
  <main class="main d-flex align-items-center mt-3 pt-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-10 col-sm-7 col-xs-10 col-12 mx-auto" class="Review-card" style="border: none;">
          <div class="card-group">
            <div class="card" style="border-radius: 0;box-shadow: none;border-top: none !important;">
              <div class="card-header p-2 " style="background:#d0001b; border-radius: 0;">
                  <div class="row"><div class="text-center col-3"><img src="./assets/img/alfawhite-logo.png" style="max-height: 40px;float: left;"></div>  <div class="col-8" style="color: white;font-size: 25px;"><i><b>ALFA</b> TOP UP</i></div></div>
              </div>
              <div class="card-body" style="border: 1px solid #ccc;border-top: none !important;padding:0;">
                <br>
                <form (submit)="submit()">
              

                  <div >
                    <div class=" mb-3">
                      <div class="">
                     </div>
               
                      <div *ngIf="changepin==false" class="row mx-2 mb-2">
            
                        <div *ngIf="getotp==false" class="col-12 text-center">
                          <!-- <div class="mb-3">
                             
                            <input title=" " type="radio" name="pintype" value="IPIN" (change)="pintypeChange($event)"> Login &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input title=" " type="radio" name="pintype" value="TPIN" (change)="pintypeChange($event)"> Transaction
                          </div> -->
                          <input title=" " style="font-size: 18px;
                          font-weight: normal;
                          /* font-family:'Open Sans';   */
                            font-style: italic;
    letter-spacing: 0.05rem;color:#969696;width: 302px;
    margin: auto;
"  class="col-12 mb-3 p-1" type="text" min="1" max="9999999999"  pattern="/[A-Z]{5}\d{4}[A-Z]{1}/i"   [(ngModel)]="msisdn" 
                          placeholder="Enter Username" name="msisdn" required> </div>
                          <!-- <div *ngIf="getotp==false" class="col-12">  <input title=" "  class="col-12 mb-2 p-1" type="text"    [(ngModel)]="Name" 
                            placeholder="Enter Name" name="Name" required> </div> -->
                            <div *ngIf="getotp==true" class="col-12 text-center">  <input title=" " style="font-size: 18px;
                              font-weight: normal;
                              /* font-family:'Open Sans';  */
                                 font-style: italic;background: whitesmoke;
        letter-spacing: 0.05rem;color:#969696;width: 302px;
        margin: auto;
    " readonly  class="col-12 mb-2 p-1" type="text" min="1" max="9999999999"   
                              [placeholder]="msisdn" name="msisdn" required> </div>
                              <!-- <div *ngIf="getotp==true" class="col-12">  <input title=" " readonly class="col-12 mb-2 p-1" type="text"    style="background: whitesmoke" 
                                [placeholder]="Name" name="Name" required> </div> -->
                                <div *ngIf="getotp==true" class="col-12 text-center"><input title=" " style="font-size: 18px;
                                  font-weight: normal;
                                  /* font-family:'Open Sans';  */
                                     font-style: italic;
            letter-spacing: 0.05rem;color:#969696;width: 302px;
            margin: auto;
        " class="col-12 mb-2 p-1" type="text"    [(ngModel)]="otp" 
                                  placeholder="Enter Otp" name="otp" required></div> 
                              <div *ngIf="getotp==false" class="col-12 text-center"> 
                                <!-- <div class="row">
                                  <div class="col-6 pb-2 "> -->
                                <button type="submit" class="proceed mx-2 "  ><b>GET OTP</b></button>
                              <!-- </div>
                              <div class="col-6"> -->
                                <button class="cancel mx-2"  (click)="screenLoginShow();">CANCEL</button>
                              <!-- </div>
                            </div>   -->
                            </div>
                              <div *ngIf="getotp==true" class="col-12 text-center">  <button type="button" (click)="validateOtp();" class="proceed mx-2 " ><b>SUBMIT</b> </button><button class="cancel mx-2" (click)="screenLoginShow();">CANCEL</button></div>
                            </div>
                 
                      
                      <div *ngIf="changepin==true" class="row mx-2 mb-2 text-center">
                        <div *ngIf="getotp==true" class="col-12 text-center">  <input title=" "
                          style="font-size: 18px;
                          font-weight: normal;
                          /* font-family:'Open Sans';  */
                             font-style: italic;background: whitesmoke;
    letter-spacing: 0.05rem;color:#969696;width: 302px;
    margin: auto;
"  readonly  class="col-12 mb-2 p-1" type="text" min="1" max="9999999999"   
                          [placeholder]="msisdn" name="msisdn" required> </div>
                          <!-- <div *ngIf="getotp==true" class="col-12">  <input title=" " readonly class="col-12 mb-2 p-1" type="text"    style="background: whitesmoke" 
                            [placeholder]="Name" name="Name" required> </div> -->
                        <div class="col-12 text-center">  <input title=" " style="font-size: 18px;
                          font-weight: normal;
                          /* font-family:'Open Sans';  */
                             font-style: italic;
    letter-spacing: 0.05rem;color:#969696;width: 302px;
    margin: auto;
" class="col-12 mb-2 p-1" type="password"    [(ngModel)]="newpin" 
                          placeholder="Enter New Password" name="newpin" required> </div>
                          <div class="col-12 text-center">  <input title=" " style="font-size: 18px;
                            font-weight: normal;
                            /* font-family:'Open Sans'; */
                                font-style: italic;
      letter-spacing: 0.05rem;color:#969696;width: 302px;
      margin: auto;
  " class="col-12 mb-2 p-1" type="password"    [(ngModel)]="confirmnewpin" 
                            placeholder="Confirm New Password" name="confirmnewpin" required> </div>
                     
                      <div *ngIf="getotp==true" class="col-12 text-center">  <button type="button" (click)="changeMpin();"  class="proceed mx-2 " ><b>CONFIRM</b></button> <button class="cancel mx-2" (click)="screenLoginShow();">CANCEL</button></div>
                      </div>          
                    </div>
                  </div>
        
                 
                  <!-- <div class="row">
                    <div class="col-12 text-center">
                      <button type="submit" class="btn px-3 py-1" style="background: #F4A51C" [disabled]="reactiveForm.invalid"><i><b>LOGIN</b></i></button>
                    </div>
                    <div class="col-12 text-center">
                <a [routerLink]="['/forget-password']"><button type="button" class="btn btn-link px-0" style="color:#d0001b"><i>Forgot password?</i></button></a>
                    </div>
                  </div> -->
                </form>
              </div>
            </div>
        
          </div>
        </div>
      </div>
    </div>
  </main>
</div>