
    .form-group .input-group-prepend .input-group-text, .form-group .input-group-append .input-group-text, .input-group .input-group-prepend .input-group-text, .input-group .input-group-append .input-group-text {
        padding: 5px 0 5px 18px;
    }
    .form-group .form-control, .input-group .form-control {
        padding: 5px 18px 5px 18px;
    }
    ::-webkit-input-placeholder {
        font-style: italic;
     }
     #rc-anchor-alert, .rc-anchor-alert {
        bottom: 0;
        color: red;
        font-size: 13px;
        position: absolute;
        visibility: hidden !important;
    }
    .cancel{font-family: 'todayshop-mediumitalicregular' !important; font-weight: bolder;
        background-color: #bfbcbc;
        color: white;    border: 1px solid transparent;
        padding: .375rem .75rem;margin-top: 0.7rem; margin-bottom: 0.7rem;
        font-size: 1rem;
        line-height: 1.5;    font-family: 'todayshop-boldregular';letter-spacing: 1px; 
    }
    .proceed{letter-spacing: 1px;font-weight: bolder;
        font-family: 'todayshop-boldregular';
           color: #fff;
        background-color: #F4A51C;
        border-color: #F4A51C;     display: inline-block;
         border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;margin-top: 0.7rem; margin-bottom: 0.7rem;
        line-height: 1.5;    font-family: 'todayshop-boldregular';font-family: 'todayshop-mediumitalicregular' !important;
    }
    .container, .container-fluid {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .Review-card {
        border: 1px solid #ccc;
        margin-top: 9vh;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 25px;
        padding: 0 35px;
        max-width: 452px;
    }
    @media only screen and (max-width: 576px){
        input, select, textarea {
            margin: 0;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            width: 100% !important;
        }
      }