<div class="panel-header panel-header-lg">
</div>
<div class="main-content">
        <div *ngIf="config==true" class="row">
            <div class="offset-3 col-6">
              <div class="card card-chart" style="border:solid 1px #ccc;">
                <div class="card-header">
                  <!-- <h5 class="card-category">Home</h5> -->
                
                  <div *ngIf="mpinScreen==true" class="">
                      <h4 class="card-title pb-3 mb-1 text-center">Change Password to activate Account</h4>
                    <div class="row">
                          <div class="col-sm-12 mb-3 pb-2">
                                  <label class="col-sm-4 col-xs-12" style="color: #969696">Old Password</label> <input title=" " type="password" id="oldMpin"
                                   class="col-sm-5 col-xs-8" required 
                                   [(ngModel)]="configurationForm.oldMpin" #oldMpin="ngModel">
                                  <div *ngIf="oldMpin.invalid && (oldMpin.dirty || oldMpin.touched)" class="alert alert-danger col-sm-5 offset-sm-4">
              
                                      <div *ngIf="oldMpin.errors.required">
                                     Old Password is required.
                                      </div>
                                    
                                  
                                  </div>
                              </div>
                      <div class="col-sm-12 mb-3 pb-2">
                          <label class="col-sm-4 col-xs-12" style="color: #969696">New Password</label> <input title=" " type="password" id="mpin"
                              class="col-sm-5 col-xs-8" required [(ngModel)]="configurationForm.mpin" #mpin="ngModel">
                              <div *ngIf="mpin.invalid && (mpin.dirty || mpin.touched)" class="alert alert-danger col-sm-5 offset-sm-4">
              
                                      <div *ngIf="mpin.errors.required">
                                       New Password is required.
                                      </div>
                                      
                                  
                                  </div>
                      </div>
                          <div class="col-sm-12 mb-3 pb-2">
                              <label class="col-sm-4 col-xs-12" style="color: #969696">Confirm New Password</label> <input title=" " type="password" id="newPin"
                               class="col-sm-5 col-xs-8" required 
                               [(ngModel)]="configurationForm.newPin" #newPin="ngModel">
                              <div *ngIf="newPin.invalid && (newPin.dirty || newPin.touched)" class="alert alert-danger col-sm-5 offset-sm-4">
              
                                  <div *ngIf="newPin.errors.required">
                                     Confirm Password is required.
                                  </div>
                                 
                              </div>
                          </div>
                    </div>
                    
                     
                      <br>
                      <div class="col-12 text-center mb-3">
                        <button class="cancel mx-2" (click)="screenLoginShow();">CANCEL</button>    <button class="proceed mx-2" (click)="screen3Show();">CONFIRM</button>
                      </div>
                  </div>
          
                  </div>
              </div>
            </div>
    </div>

   
      
        <div *ngIf="screen3==true" class="card card-body row mb-3 text-center">

          <div class="col-6 offset-3" style="border:solid 1px;">
            <div class="mx-2">
              <div class="card-header text-center text-primary"><b>CONFIRMATION OF PASSWORD CHANGE </b></div>
             <p>Password changed Successfully</p>
             <p>Please Login using your new Password </p>
             <br>
             <div class="col-12 text-center"><button class="proceed mx-2 mb-2" (click)="screenLoginShow();">CONTINUE TO LOGIN</button></div>
             </div>
          </div>
            <br>
            <br>
           
        </div>

     
    </div>