.alert{
    border: 0;
    border-radius: $border-radius-small;
    color: $white-color;
    padding-top: .5rem;
    padding-bottom: .5rem;
    position: relative;
    font-size: 13px;
    display: block;
    background: #d0001b;
   
    
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    color: #fff;

    &.alert-success{
        background-color: lighten($success-color, 5%);
        
    }

    &.alert-danger{
        background-color: lighten($danger-color, 5%);
        background: #d0001b;
    }

    &.alert-warning{
        background-color: lighten($warning-color, 5%);
    }

    &.alert-info{
        background-color: lighten($info-color, 5%);
    }

    &.alert-primary{
        background-color: lighten($primary-color, 5%);
    }


    i.fa,
    i.now-ui-icons{
        font-size: 20px;
    }

    .close{
        color: $white-color;
        opacity: .9;
        text-shadow: none;
        line-height: 0;
        outline: 0;
    }

    span[data-notify="icon"]{
        font-size: 22px;
        display: block;
        left: 19px;
        position: absolute;
        top: 50%;
        margin-top: -11px;
    }

    button.close{
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -13px;
        width: 25px;
        height: 25px;
        padding: 3px;
    }

    .close ~ span{
        display: block;
        max-width: 89%;
    }

    &.alert-with-icon{
        padding-left: 65px;
    }
}
