.wrapper{
    position: relative;
    top: 0;
    height: 100vh;

    &.wrapper-full-page{
        min-height: 100vh;
        height: auto;
    }
}

.sidebar,
.off-canvas-sidebar{
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 14rem;
    left: 0;
    z-index: 1030;

    .sidebar-wrapper{
        position: relative;
        height: calc(100vh - 75px);
        overflow: auto;
        width: 14rem;
        z-index: 4;
        background: #E6E6E6;
        padding-bottom: 0px;

        .dropdown .dropdown-backdrop{
          display: none !important;
        }

        .navbar-form{
            border: none;
        }
    }

    .logo-img{
      width: 35px;
      height: 35px;
      display: block;
      margin-left: 2px;
      position: absolute;
      padding-left:0px;
      padding-right:0px;
      top: 12px;
        img{
            width: 35px;
        }
    }

    .navbar-minimize{
      position: absolute;
      right: 20px;
      top: 2px;
      opacity: 1;

      @extend .animation-transition-general;
    }
    .logo-tim{
      border-radius: 50%;
      border: 1px solid #333;
      display: block;
      height: 61px;
      width: 61px;
      float: left;
      overflow: hidden;

      img{
          width: 60px;
          height: 60px;
      }
    }

    .nav{
        margin-top: 20px;
        display: block;

        .caret{
            top: 14px;
            position: absolute;
            right: 10px;
        }

        li{
            > a + div .nav li > a{
                margin-top: 7px;
            }

            > a{
                margin: 10px 15px 0;
                border-radius: $btn-round-radius;
                color: $white-color;
                display: block;
                text-decoration: none;
                position: relative;
                text-transform: uppercase;
                cursor: pointer;
                font-size: $font-size-mini;
                padding: 10px 8px;
                line-height: $line-height-nav-link;
            }

            &:first-child > a{
                margin: 0 15px;
            }

            &:hover:not(.active) > a,
            &:focus:not(.active) > a{
                background-color: $opacity-1;

                i{
                  color: $white-color;
                }
            }

            &.active > a,
            &.active-pro > a{
              background-color: $white-color;
              box-shadow: $box-shadow;
              i{
                color: $danger-color;
              }
            }
            :hover &.active-pro > a,
            :focus &.active-pro > a{
              background-color: $white-color;
              box-shadow: $box-shadow;
              color: $danger-color;
              i{
                color: $danger-color;
              }
            }
        }

        p{
            margin: 0;
            line-height: 30px;
            position: relative;
            display: block;
            height: auto;
            white-space: nowrap;
        }

        i{
            font-size: 20px;
            float: left;
            margin-right: 12px;
            line-height: 30px;
            width: 34px;
            text-align: center;
            color: $opacity-5;
            position: relative;
        }
    }

    .sidebar-background{
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center center;

        &:after{
            position: absolute;
            z-index: 3;
            width: 100%;
            height: 100%;
            content: "";
            display: block;
            background: #FFFFFF;
            opacity: 1;
        }
    }

    .logo{
        position: relative;
        padding: $padding-base-vertical 0px;
        z-index: 4;

        a.logo-mini,
        a.logo-normal{
            @extend .animation-transition-general;
        }

        a.logo-mini{
            opacity: 1;
            float: left;
            width: 34px;
            text-align: center;
            margin-left: 10px;
            margin-right: 12px;
        }

        a.logo-normal{
            display: block;
            opacity: 1;
            @include transform-translate-x(0px);
        }

        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            right: 15px;
            height: 1px;
            width: calc(100% - 30px);
            background-color: $opacity-5;

        }

        p{
            float: left;
            font-size: 20px;
            margin: 10px 10px;
            color: $white-color;
            line-height: 20px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .simple-text{
            text-transform: uppercase;
            padding: $padding-base-vertical 0;
            display: block;
            white-space: nowrap;
            font-size: $font-size-large;
            color: $white-color;
            text-decoration: none;
            font-weight: $font-weight-normal;
            line-height: 30px;
            overflow: hidden;
        }
    }

    .logo-tim{
        border-radius: 50%;
        border: 1px solid #333;
        display: block;
        height: 61px;
        width: 61px;
        float: left;
        overflow: hidden;

        img{
            width: 60px;
            height: 60px;
        }
    }

    &:before,
    &:after{
        display: block;
        content: "";
        opacity: 1;
        position: absolute;
        width: 84%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &:after{
        @include icon-gradient($default-color);
        z-index: 3;
    }

    &[data-color="blue"]{
      @include sidebar-color($info-color);
    }
    &[data-color="green"]{
      @include sidebar-color($success-color);
    }
    &[data-color="orange"]{
      @include sidebar-color($orange-color);
    }
    &[data-color="red"]{
      @include sidebar-color($danger-color);
    }
    &[data-color="yellow"]{
      @include sidebar-color($warning-color);
    }
}

.visible-on-sidebar-regular{
    display: inline-block !important;
}
.visible-on-sidebar-mini{
    display: none !important;
}

.off-canvas-sidebar{
    .nav {
        > li > a,
        > li > a:hover{
            color: $white-color;
        }

        > li > a:focus{
            background: rgba(255, 255, 255, 0.5);;
        }
    }
}

.main-panel{
    position: relative;
    float: right;
    width: calc(100% - 224px);
    // width: 100%;
   

    @include transition (0.50s, cubic-bezier(0.685, 0.0473, 0.346, 1));

    .main-content{
        padding: 0 30px 30px;
        min-height: calc(100vh - 180px);
        margin-top: -30px;
        margin-left: 4px;
    }

    .navbar{
        margin-bottom: 0;
    }


    .header{
        margin-bottom: 50px;
    }
}


.perfect-scrollbar-on{
  .sidebar,
  .main-panel{
      height: 100%;
      max-height: 100%;
  }
}


@media (min-width: 600px) {
  .sidebar{
    display: block;
    box-shadow: $sidebar-box-shadow;
  }
}

.panel-header {
  height: 260px;
  padding-top: 80px;
  padding-bottom: 45px;
  @include panel-gradient($black-color);
  position: relative;
  overflow: hidden;

  .header{
    .title{
      color: $white-color;
    }
    .category{
      max-width: 600px;
      color: $opacity-5;
      margin: 0 auto;
      font-size: 13px;

      a{
        color: $white-color;
      }
    }
  }
}

.panel-header-sm{
  height: 135px;
}

.panel-header-lg{
  height: 380px
}
.panel-header-lg {
  height: 0 !important;
}
.panel-header {
  height: 260px;
  padding-top: 80px;
  padding-bottom: 45px;
  background: rgb(210, 38, 34) !important;
  background-size: 105%;
  position: relative;
  overflow: hidden;
}
.sidebar[data-color="red"]:after, .off-canvas-sidebar[data-color="red"]:after {
  background: rgb(102, 102, 102) !important;
}
.sidebar .nav li > a, .off-canvas-sidebar .nav li > a {
  margin: 5px 15px 0;
  border-radius: 30px;
  color: #FFFFFF;
  display: block;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.7142em;
  padding: 0px 8px;
  line-height: 1.625rem;
}
.sidebar .nav li:hover:not(.active) > a, .sidebar .nav li:focus:not(.active) > a, .off-canvas-sidebar .nav li:hover:not(.active) > a, .off-canvas-sidebar .nav li:focus:not(.active) > a {
  background-color: rgba(255, 255, 255, 0.86);
  color: rgb(210, 38, 34);
}
.panel-header {
  height: 260px;
  padding-top: 80px;
  padding-bottom: 15px;
  background: white !important;
  background-size: 105%;
  position: relative;
  overflow: hidden;
}
.main-panel .main-content {
  padding: 0 30px 30px;
  min-height: calc(100vh - 123px);
  margin-top: 3.5em !important;
}
.sidebar .logo, .off-canvas-sidebar .logo {
  position: relative;
  padding: 1.52rem 0.7rem;
  z-index: 4;
}
.sidebar .logo, .off-canvas-sidebar .logo {
  position: relative;
  padding: 1.52rem 0.7rem;
  z-index: 4;
  background: white;
  min-width:225px;
}

.sidebar {
    display: block;
     box-shadow: none !important; 
}
.navbar a:not(.btn):not(.dropdown-item) {
  color: #d0001b;
}
.navbar .navbar-nav .nav-item.active .nav-link:not(.btn), .navbar .navbar-nav .nav-item .nav-link:not(.btn):focus, .navbar .navbar-nav .nav-item .nav-link:not(.btn):hover, .navbar .navbar-nav .nav-item .nav-link:not(.btn):active {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.1875rem;
  color: #d0001b;
}
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}
.sidebar[data-color="red"]:after, .off-canvas-sidebar[data-color="red"]:after {
  background: white !important; 

}
.sidebar[data-color="red"] .nav li.active > a, .off-canvas-sidebar[data-color="red"] .nav li.active > a {
  color:black;
}
.sidebar .nav, .off-canvas-sidebar .nav {
  margin-top: 0px;
  display: block;
}
.sidebar .nav li.active > a, .sidebar .nav li.active-pro > a, .off-canvas-sidebar .nav li.active > a, .off-canvas-sidebar .nav li.active-pro > a {
  background-color: lightgrey;
  box-shadow: none;
  margin-right: 2px;
  margin-left: 2px;
}
.sidebar .nav-item > a, .sidebar .nav  > a, .off-canvas-sidebar .nav  > a, .off-canvas-sidebar .nav  > a {
  
  background-color: #E6E6E6;
  box-shadow: none;
  margin-right: 2px;
  margin-left: 2px;
}
.sidebar .nav li > a, .off-canvas-sidebar .nav li > a {
  margin: 2px 15px 0;
  border-radius: 30px;
  color: black;
  display: block;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.7142em;
  padding: 0px 8px;
  line-height: 1.625rem;
}
.sidebar .nav li > a, .off-canvas-sidebar .nav li > a {
  margin: 0px 2px 0;
  border-radius: 0px;
  color: black;
  display: block;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.7142em;
  padding: 1.4em 2em;
  line-height: 1.625rem;
}
.sidebar .nav li:first-child > a, .off-canvas-sidebar .nav li:first-child > a {
  margin: 0 2px;
}
.sidebar[data-color="red"] .nav li.active > a, .off-canvas-sidebar[data-color="red"] .nav li.active > a {
  color: #d0001b;
}
.main-panel .main-content {
  padding: 0 15px 30px;
  min-height: calc(90vh - 205px);
  margin-top: 1em;
}

@media screen and (max-width: 600px){
.navbar .navbar-toggler-bar {
    display: block;
    position: relative;
    width: 22px;
    height: 1px;
    border-radius: 1px;
    background: #d0001b !important;
}}

.sidebar .nav li:hover:not(.active) > a, .sidebar .nav li:focus:not(.active) > a, .off-canvas-sidebar .nav li:hover:not(.active) > a, .off-canvas-sidebar .nav li:focus:not(.active) > a {
  background-color: #E6E6E6;
  color: #d22622;
}
.sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper {
  position: relative;
  height: calc(100vh - 75px);
  overflow: auto;
  width: 14rem;
  z-index: 4;
  background: white;
  padding-bottom: 0px;
}
@media only screen and (min-width: 600px){
  .topNavFix {
    margin-top: -5px !important;
    margin-left: 4px !important;
  }
}
@media only screen and (max-width: 600px){
  .topNavFix {
    margin-top: -45px !important;
   z-index: 1000 !important;
  }
  .main-panel .main-content {
    
    margin-top: 0em !important;
}
.container, .container-fluid {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}
}