/* You can add global styles to this file, and also import other style files */
.proceed{font-family: 'todayshop-mediumitalicregular' !important; letter-spacing: 1px;font-weight: bolder;
    background-color: greenyellow;
}
.cancel{font-family: 'todayshop-mediumitalicregular' !important; font-weight: bolder;
    background-color: red;
}
.h4{text-align: center;}
#rc-anchor-alert, .rc-anchor-alert {
    bottom: 0;
    color: red;
    font-size: 13px;
    position: absolute;
    visibility: hidden;
}
