<div class="panel-header panel-header-lg">
</div>
<div class="main-content mt-0 p-0" style="margin-top: 0px !important;min-height: calc(90vh - 116px);">


    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <!-- <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide">
          </div>
          <div class="carousel-caption">
            <!-- <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide">
          </div>
          <div class="carousel-caption">
            <!-- <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
          </div>
        </ng-template>
      </ngb-carousel>

      <div class="caption_div text-center">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's ...</p>
          </div>

    <!-- <div class="row">
        <div class="col-12">
          <div class="card card-chart" style="background-color:#d0001b ">
            <div class="card-header">
                <div class="card col-sm-6 offset-sm-3 text-center" style="background-color:#d0001b;box-shadow: none; ">
                   
              
                    <div class="card-body">
                        <div class="row text-center">
                          <div class="col-12" style="color: white;">
                              <p> <img src="./assets/img/alfawhite-logo.png" style="height: 80px;"></p>
                              <p>Fast,safe and convinient.All Your Alfa top-up needs at your fingertips.</p>
                              <p>Your Alfa top-up application is an end to end solution offering the full spectrum of mobile recharge services.</p>
                          </div>
                        </div>
                        
                       
                    </div>
                </div>
             
              </div>
          </div>
        </div>
</div> -->
</div>