.caption_div {
    background: #F5F5F5;
    padding: 10px;
    color:#858796 !important; 
}
.caption_div p {
    margin-bottom: 0px;
    font-style: italic;
    font-size: 13px;
    color:#858796 !important; 
    text-align: center;
    font-weight: 600;
}
img {
    vertical-align: middle;
    border-style: none;
    width: -webkit-fill-available;
}