<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Edit Profile</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-sm-5 pr-1">
                <div class="form-group">
                  <label>Company (disabled)</label>
                  <input title=" " type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc.">
                </div>
              </div>
              <div class="col-sm-3 px-1">
                <div class="form-group">
                  <label>Username</label>
                  <input title=" " type="text" class="form-control" placeholder="Username" value="michael23">
                </div>
              </div>
              <div class="col-sm-4 pl-1">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input title=" " name="email" id="email" type="email" class="form-control" placeholder="Email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 pr-1">
                <div class="form-group">
                  <label>First Name</label>
                  <input title=" " type="text" class="form-control" placeholder="Company" value="Mike">
                </div>
              </div>
              <div class="col-sm-6 pl-1">
                <div class="form-group">
                  <label>Last Name</label>
                  <input title=" " type="text" class="form-control" placeholder="Last Name" value="Andrew">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>Address</label>
                  <input title=" " type="text" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 pr-1">
                <div class="form-group">
                  <label>City</label>
                  <input title=" " type="text" class="form-control" placeholder="City" value="Mike">
                </div>
              </div>
              <div class="col-sm-4 px-1">
                <div class="form-group">
                  <label>Country</label>
                  <input title=" " type="text" class="form-control" placeholder="Country" value="Andrew">
                </div>
              </div>
              <div class="col-sm-4 pl-1">
                <div class="form-group">
                  <label>Postal Code</label>
                  <input title=" " type="number" min="1" max="9999999999" min="0" class="form-control" placeholder="ZIP Code">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>About Me</label>
                  <textarea rows="4" cols="80" class="form-control" placeholder="Here can be your description" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a >
              <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">
              <h5 class="title">Mike Andrew</h5>
            </a>
            <p class="description">
              michael24
            </p>
          </div>
          <p class="description text-center">
            "Lamborghini Mercy
            <br> Your chick she so thirsty
            <br> I'm in that two seat Lambo"
          </p>
        </div>
        <hr>
        <div class="button-container">
          <button  class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button  class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
          <button  class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
